@model IEnumerable<iveCincoFrame.Models.CatTiposTableros>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/StyleHomeTablero.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=DM+Sans:ital,wght@0,500;1,400&family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet">
<main class="content">
    <div class="container-fluid">

        <div class="row mt-n3">
            <div class="col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto position-relative">
                <h1 class="text-center header-title">Tableros Cooitzá</h1>
                <p class="lead text-center mb-4 header-subtitle">Seleccione el tablero que desea verificar</p>
                <div class="row justify-content-center mt-3 mb-2">
                    <div class="col-auto">
                        @*<nav class="nav btn-group">
                            <a href="#" class="btn btn-primary active" data-bs-toggle="tab">Aministrador</a>
                            <a href="#" class="btn btn-light" data-bs-toggle="tab">Padrino de Agencias</a>
                        </nav>*@
                    </div>
                </div>



                <hr />

            </div>
        </div>
    </div>
    <div class="my-0 mx-0 px-0" id="items-anuncios">

        <div class="container__box row">

            @foreach (var item in Model.OrderBy(x => x.orden))
            {
                <div class="col-12 col-md-3 mb-3 mt-0">
                    <a href="@Url.Action("Tablero", "TableroGerencial", new { dashboardType = item.idCatTiposTableros})">
                        <div class="box @item.background">
                            <i class="@item.icono"></i>
                            <h5 class="font-weight-bold">@item.descripcion</h5>
                            <h4 class="font-weight-bold">@item.descripcion</h4>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</main>


