@model IEnumerable<iveCincoFrame.Models.Tableros.Sucursal>
@{
    ViewBag.Title = "TableroSucursalesSeguros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="container text-center">
                                <h1 class="text-primary" style="color: #0c4899 !important;">Seguros por region</h1>
                                <h4 class="card-subtitle text-muted">
                                    Detalles del reporte:
                                </h4>
                            </div>
                            <div class="d-flex justify-content-center justify-content-md-start">
                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("TableroGerencia", "TableroGerencial")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>

                            </div>
                            <table class="table table-hover table-sm" id="tblConteosAsociados">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="d-none">
                                            @Html.DisplayNameFor(model => model.idRegion)
                                        </th>
                                        <th class="d-none">
                                            @Html.DisplayNameFor(model => model.idSucursal)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Region)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Conteo)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="d-none">
                                                @Html.DisplayFor(modelItem => item.idRegion)
                                            </td>
                                            <td class="d-none">
                                                @Html.DisplayFor(modelItem => item.idSucursal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Region)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Conteo)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("IndexConsultaMetaCaptacionResumida","Captaciones", new { idRegion = 3 })"><span class="badge bg-success">Detalle</span></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblConteosAsociados').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true,
            footerCallback: function (tfoot, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\Q,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // computing column Total of the complete result
                var TOTAL = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b)
                    }, 0);
                //const formateador = new Intl.NumberFormat("en", { style: "currency", "currency": "GTQ" });


                $(api.column(0).footer()).html('Total');
                $(api.column(2).footer()).html(TOTAL);


            }
        });
    });
</script>

