@model iveCincoFrame.Models.Tableros.TableroRegionales
@{
    ViewBag.Title = "TableroGerenciaItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/StyleTableroTable.css" rel="stylesheet">
<link href="~/CSS/StyleProgressCircle.css" rel="stylesheet">
<link href="~/CSS/StyleLoader.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<style>
    .testimonial-card .card-up {
        height: 120px;
        overflow: hidden;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .aqua-gradient {
        background: #153d77 !important;
    }

    .testimonial-card .avatar {
        height: 100px !important;
        width: 93px !important;
        margin-top: -60px;
        overflow: hidden;
        border: 5px solid #ffff;
        border-radius: 50%;
    }
    body {
        font-family: 'Open Sans', sans-serif;
    }
</style>


<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="">

                        <div id="transac-directorios" class="col-12">


                            <div class="card-body">
                                <div class="container text-center">
                                    <h1 class="text-primary" style="color: #0c4899 !important;">@Model.Titulo @ViewBag.NombreSucursal</h1>
                                    <h4 class="card-subtitle text-muted">
                                        Detalles del reporte:
                                    </h4>

                                </div>
                                <div class="d-flex justify-content-center justify-content-md-start">
                                    <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("TableroGerenciaItems", "TableroGerencial")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
                                </div>
                                @if (Model.Titulo == "Tablero Regionales" || Model.Titulo == "Tablero Sucursales" || Model.Titulo == "Tablero Ejecutivos")
                                {
                                    if (Model.Regionales.Count() == 1)
                                    {
                                        <div class="row">
                                            @foreach (var item in Model.Regionales)
                                            {
                                                if (item.Imagen == "buXGn0nh0qP7OZAxqU4C.jpg")
                                                {
                                                    item.Imagen = "lwKDct1KWYArYfvGTw1H.jpeg";
                                                }
                                                if (item.Imagen == "dXgOWIaUzIY2pZXz3gJm.jpg")
                                                {
                                                    item.Imagen = "VdhP8zLNAHtZf8zT1YAE.jpeg";
                                                }
                                                <div class="col-xxl-12">
                                                    <div class="card testimonial-card mt-2 mb-3" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                                                        <div class="card-up aqua-gradient"></div>
                                                        <div class="avatar mx-auto white">
                                                            <img src="https://app.cooitza.com.gt/Images/Seguridad/Usuarios/@item.Imagen" class="img-fluid" alt="woman avatar">
                                                        </div>
                                                        <div class="text-center mb-2">
                                                            <h4 style="color: #153d77 !important;">@item.NombreGerente</h4>
                                                            @if (item.Puesto == "GERENTE DE AGENCIA")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-star"></i></h5>
                                                            }
                                                            else if (item.Puesto == "EJECUTIVO")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-trophy"></i></h5>
                                                            }
                                                            else if (item.Puesto == "RECEPTOR PAGADOR")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-money-bill-wave"></i></h5>
                                                            }
                                                            else if (item.Puesto == "GERENTE INTERINO")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-star"></i></h5>
                                                            }
                                                            else if (item.Puesto == "PADRINO DE AGENCIAS")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-user-tie"></i></h5>
                                                            }
                                                            else if (item.Puesto == "GERENTE REGIONAL")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-user-shield"></i></h5>
                                                            }
                                                            else if (item.Puesto == "RECEPTOR PAGADOR / EJECUTIVO")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-trophy"></i></h5>
                                                            }
                                                            <h5 class="text-muted">@item.Puesto</h5>
                                                            <h5 class="" style="color: #153d77 !important;">@item.Region</h5>
                                                            <h5 class="" style="color: #153d77 !important; ">@item.Sucursal</h5>

                                                        </div>
                                                        <div class="text-center">
                                                            <a href="@Url.Action("TableroGerenciaItems", "TableroGerencial", new { valor = item.IdRegion, filtro = item.Filtro , resp = 1, idCatAnios = item.IdCatAnios, idCatMeses = item.IdCatMeses})" class="btn btn-pill btn-success">Detalle</a>
                                                        </div>
                                                        <!-- barra de progreso del tiempo -->
                                                        <div class="row text-center mt-2 mb-0">
                                                            <p class="text-muted">Progreso del tiempo</p>
                                                        </div>
                                                        <div class="row text-center px-4">
                                                            <div class="col-1  text-end"> <i class="fa-solid fa-calendar"></i></div>
                                                            <div class="col-9 mx-0">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="@item.ProgresoTiempo" aria-valuenow="@item.CalculoTiempo" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2 mx-0 text-start">
                                                                @item.CalculoTiempo%
                                                            </div>
                                                        </div>
                                                        <!-- fin  de progreso del tiempo -->
                                                        <div class="card-body text-center">
                                                            <table class="" width="100%">
                                                                <thead role="rowgroup">
                                                                    <tr role="row">
                                                                        <th class="text-start" style="width:30%;" role="columnheader">Producto</th>
                                                                        <th class="text-center" style="width:20%" role="columnheader">Logrado</th>
                                                                        <th class="text-center" style="width:20%" role="columnheader">Meta</th>
                                                                        <th style="width:20%" role="columnheader">Alcance</th>
                                                                        <th style="width:10%" class="small text-center" role="columnheader">% de alcance</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody role="rowgroup">
                                                                    @foreach (var i in item.Productos)
                                                                    {
                                                                        <tr role="row">
                                                                            <td class="text-start" role="cell">@i.Descripcion</td>
                                                                            <td class="text-center" role="cell">@i.ConteoData</td>
                                                                            <td class="text-center" role="cell">@i.Meta</td>
                                                                            <td role="cell">
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="@i.Progreso" aria-valuenow="@i.Grafica" aria-valuemin="0" aria-valuemax="100">@i.Grafica%</div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="text-center" role="cell" class="text-center">@i.Grafica%</td>
                                                                        </tr>

                                                                    }
                                                                </tbody>
                                                            </table>
                                                            <br />
                                                            <!--progres circulos-->
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                @if (item.PorcentajeConteos == 0)
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="100" class="progress-item-cero">sd</div>
                                                                        <p>Conteos</p>
                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="@item.PorcentajeConteos" class="progress-item">sd</div>
                                                                        <p>Conteos</p>
                                                                    </div>
                                                                }
                                                                @if (item.PorcentajeMontos == 0)
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="100" class="progress-item-cero">sd</div>
                                                                        <p>Montos</p>
                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="@item.PorcentajeMontos" class="progress-item">sd</div>
                                                                        <p>Montos</p>
                                                                    </div>
                                                                }

                                                            </div>
                                                            <!--fin progress circulos-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            @foreach (var item in Model.Regionales)
                                            {
                                                if (item.Imagen == "buXGn0nh0qP7OZAxqU4C.jpg")
                                                {
                                                    item.Imagen = "lwKDct1KWYArYfvGTw1H.jpeg";
                                                }
                                                if (item.Imagen == "dXgOWIaUzIY2pZXz3gJm.jpg")
                                                {
                                                    item.Imagen = "VdhP8zLNAHtZf8zT1YAE.jpeg";
                                                }
                                                <div class="col-xxl-6">
                                                    <div class="card testimonial-card mt-2 mb-3" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                                                        <div class="card-up aqua-gradient"></div>
                                                        <div class="avatar mx-auto white">
                                                            <img src="https://app.cooitza.com.gt/Images/Seguridad/Usuarios/@item.Imagen" class="img-fluid" alt="woman avatar">
                                                        </div>
                                                        <div class="text-center mb-2">
                                                            <h4 style="color: #153d77 !important;">@item.NombreGerente</h4>
                                                            @if (item.Puesto == "GERENTE DE AGENCIA")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-star"></i></h5>
                                                            }
                                                            else if (item.Puesto == "EJECUTIVO")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-trophy"></i></h5>
                                                            }
                                                            else if (item.Puesto == "RECEPTOR PAGADOR")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-money-bill-wave"></i></h5>
                                                            }
                                                            else if (item.Puesto == "GERENTE INTERINO")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-star"></i></h5>
                                                            }
                                                            else if (item.Puesto == "PADRINO DE AGENCIAS")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-user-tie"></i></h5>
                                                            }
                                                            else if (item.Puesto == "GERENTE REGIONAL")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-user-shield"></i></h5>
                                                            }
                                                            else if (item.Puesto == "RECEPTOR PAGADOR / EJECUTIVO")
                                                            {
                                                                <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-trophy"></i></h5>
                                                            }
                                                            <h5 class="text-muted">@item.Puesto</h5>
                                                            <h5 class="" style="color: #153d77 !important;">@item.Region</h5>
                                                            <h5 class="" style="color: #153d77 !important; ">@item.Sucursal</h5>

                                                        </div>
                                                        <div class="text-center">
                                                            <a href="@Url.Action("TableroGerenciaItems", "TableroGerencial", new { valor = item.IdRegion, filtro = item.Filtro, resp = 1 , idCatAnios = item.IdCatAnios, idCatMeses = item.IdCatMeses})" class="btn btn-pill btn-success">Detalle</a>

                                                        </div>
                                                        <!-- barra de progreso del tiempo -->
                                                        <div class="row text-center mt-2 mb-0">
                                                            <p class="text-muted">Progreso del tiempo</p>
                                                        </div>
                                                        <div class="row text-center px-4">
                                                            <div class="col-1  text-end"> <i class="fa-solid fa-calendar"></i></div>
                                                            <div class="col-9 mx-0">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="@item.ProgresoTiempo" aria-valuenow="@item.CalculoTiempo" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2 mx-0 text-start">
                                                                @item.CalculoTiempo%
                                                            </div>
                                                        </div>
                                                        <!-- fin  de progreso del tiempo -->
                                                        <div class="card-body text-center">
                                                            <table class="" width="100%">
                                                                <thead role="rowgroup">
                                                                    <tr role="row">
                                                                        <th class="text-start" style="width:30%;" role="columnheader">Producto</th>
                                                                        <th class="text-center" style="width:20%" role="columnheader">Logrado</th>
                                                                        <th class="text-center" style="width:20%" role="columnheader">Meta</th>
                                                                        <th style="width:20%" role="columnheader">Alcance</th>
                                                                        <th style="width:10%" class="small text-center" role="columnheader">% de alcance</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody role="rowgroup">
                                                                    @foreach (var i in item.Productos)
                                                                    {
                                                                        <tr role="row">
                                                                            <td class="text-start" role="cell">@i.Descripcion</td>
                                                                            <td class="text-center" role="cell">@i.ConteoData</td>
                                                                            <td class="text-center" role="cell">@i.Meta</td>
                                                                            <td role="cell">
                                                                                <div class="progress">
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="@i.Progreso" aria-valuenow="@i.Grafica" aria-valuemin="0" aria-valuemax="100">@i.Grafica%</div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="text-center" role="cell" class="text-center">@i.Grafica%</td>
                                                                        </tr>

                                                                    }
                                                                </tbody>
                                                            </table>
                                                            <br />
                                                            <!--progres circulos-->
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                @if (item.PorcentajeConteos == 0)
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="100" class="progress-item-cero">sd</div>
                                                                        <p>Conteos</p>
                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="@item.PorcentajeConteos" class="progress-item">sd</div>
                                                                        <p>Conteos</p>
                                                                    </div>
                                                                }
                                                                @if (item.PorcentajeMontos == 0)
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="100" class="progress-item-cero">sd</div>
                                                                        <p>Montos</p>
                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="text-center">
                                                                        <div data-num="@item.PorcentajeMontos" class="progress-item">sd</div>
                                                                        <p>Montos</p>
                                                                    </div>
                                                                }

                                                            </div>
                                                            <!--fin progress circulos-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="row">
                                        @foreach (var item in Model.Regionales)
                                        {
                                            <div class="col-xxl-12">
                                                <div class="card testimonial-card mt-2 mb-3">
                                                    <div class="card-up aqua-gradient"></div>
                                                    <div class="avatar mx-auto white">
                                                        <img src="https://app.cooitza.com.gt/Images/Seguridad/Usuarios/@item.Imagen" class="img-fluid" alt="woman avatar">
                                                    </div>
                                                    <div class="text-center mb-2">
                                                        <h4 style="color: #153d77 !important;">@item.NombreGerente</h4>
                                                        @if (item.Puesto == "GERENTE DE AGENCIA")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-star"></i></h5>
                                                        }
                                                        else if (item.Puesto == "EJECUTIVO")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-trophy"></i></h5>
                                                        }
                                                        else if (item.Puesto == "RECEPTOR PAGADOR")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-money-bill-wave"></i></h5>
                                                        }
                                                        else if (item.Puesto == "GERENTE INTERINO")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-star"></i></h5>
                                                        }
                                                        else if (item.Puesto == "PADRINO DE AGENCIAS")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-user-tie"></i></h5>
                                                        }
                                                        else if (item.Puesto == "GERENTE REGIONAL")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-user-shield"></i></h5>
                                                        }
                                                        else if (item.Puesto == "RECEPTOR PAGADOR / EJECUTIVO")
                                                        {
                                                            <h5 class="text-muted"><i class="align-middle me-2 fas fa-fw fa-trophy"></i></h5>
                                                        }
                                                        <h5 class="text-muted">@item.Puesto</h5>
                                                        <h5 class="" style="color: #153d77 !important;">@item.Region</h5>
                                                        <h5 class="" style="color: #153d77 !important;">@item.Sucursal</h5>
                                                    </div>
                                                    <!-- barra de progreso del tiempo -->
                                                    <div class="row text-center mt-2 mb-0">
                                                        <p class="text-muted">Progreso del tiempo</p>
                                                    </div>
                                                    <div class="row text-center px-4">
                                                        <div class="col-1  text-end"> <i class="fa-solid fa-calendar"></i></div>
                                                        <div class="col-9 mx-0">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="@item.ProgresoTiempo" aria-valuenow="@item.CalculoTiempo" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 mx-0 text-start">
                                                            @item.CalculoTiempo%
                                                        </div>
                                                    </div>
                                                    <!-- fin  de progreso del tiempo -->
                                                    <div class="card-body">
                                                        <table class="" width="100%">
                                                            <thead role="rowgroup">
                                                                <tr role="row">
                                                                    <th role="columnheader">Producto</th>
                                                                    <th role="columnheader">Logrado</th>
                                                                    <th role="columnheader">Meta</th>
                                                                    <th role="columnheader">Alcance</th>
                                                                    <th role="columnheader">% de alcance</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var i in item.Productos)
                                                                {
                                                                    <tr role="row">
                                                                        <td role="cell">@i.Descripcion</td>
                                                                        <td role="cell">@i.ConteoData</td>
                                                                        <td role="cell">@i.Meta</td>
                                                                        <td role="cell">
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="@i.Progreso" aria-valuenow="@i.Grafica" aria-valuemin="0" aria-valuemax="100">@i.Grafica%</div>
                                                                            </div>
                                                                        </td>
                                                                        <td role="cell" class="text-center">@i.Grafica%</td>
                                                                    </tr>

                                                                }
                                                            </tbody>
                                                        </table>
                                                        <br />
                                                        <!--progres circulos-->
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            @if (item.PorcentajeConteos == 0)
                                                            {
                                                                <div class="text-center">
                                                                    <div data-num="100" class="progress-item-cero">sd</div>
                                                                    <p>Conteos</p>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="text-center">
                                                                    <div data-num="@item.PorcentajeConteos" class="progress-item">sd</div>
                                                                    <p>Conteos</p>
                                                                </div>
                                                            }
                                                            @if (item.PorcentajeMontos == 0)
                                                            {
                                                                <div class="text-center">
                                                                    <div data-num="100" class="progress-item-cero">sd</div>
                                                                    <p>Montos</p>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="text-center">
                                                                    <div data-num="@item.PorcentajeMontos" class="progress-item">sd</div>
                                                                    <p>Montos</p>
                                                                </div>
                                                            }

                                                        </div>
                                                        <!--fin progress circulos-->
                                                    </div>
                                                </div>


                                            </div>
                                        }
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    let items = document.querySelectorAll('.progress-item');
    const counters = Array(items.length);
    const intervals = Array(items.length);
    counters.fill(0);
    items.forEach((number, index) => {
        intervals[index] = setInterval(() => {
            if (counters[index] == parseInt(number.dataset.num)) {
                clearInterval(intervals[index]);
            } else {
                counters[index] += 1;
                number.style.background = "conic-gradient(#3c7cdc calc(" + counters[index] + "%), #e0e0e0 0deg)";
                number.setAttribute('data-value', counters[index] + "%");
                number.innerHTML = counters[index] + "%";
            }
        }, 15);
    });


    let itemsCero = document.querySelectorAll('.progress-item-cero');
    const counterss = Array(itemsCero.length);
    const intervalss = Array(itemsCero.length);
    counterss.fill(0);
    itemsCero.forEach((number, index) => {
        intervalss[index] = setInterval(() => {
            if (counterss[index] == parseInt(number.dataset.num)) {
                clearInterval(intervalss[index]);
            } else {
                counterss[index] += 1;
                number.style.background = "conic-gradient(#e0e0e0 calc(" + counterss[index] + "%), #e0e0e0 0deg)";
                number.setAttribute('data-value', 0 + "%");
                number.innerHTML = "0%";
            }
        }, 15);
    });
</script>

