
@model IEnumerable<iveCincoFrame.Models.Tableros.SucursalesModel.SucursalesRegion>
@{
    ViewBag.Title = "TableroSucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">


                            <div class="card-body m-sm-3 m-md-5">
                                <div class="container text-center">
                                    <h1 class="text-primary" style="color: #0c4899 !important;">Tablero region @ViewBag.NombreRegion</h1>
                                    <h4 class="card-subtitle text-muted">
                                        Detalles del reporte:
                                    </h4>

                                </div>
                                <div class="d-flex justify-content-center justify-content-md-start">
                                    <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("TableroGerencia", "TableroGerencial")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
                                </div>
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-xxl-6">

                                            <div class="card">
                                                <div class="card-header">
                                                    
                                                    <center><img src="https://app.cooitza.com.gt/Images/Seguridad/Usuarios/@item.Imagen " width="150" height="150" class="rounded-circle mt-2" alt="Angelica Ramos"></center>
                                                    <div class="text-center mb-2">
                                                        <h4 class="">@item.Gerente</h4>
                                                        <h5 class="">@item.Nombre</h5>
                                                        <h5 class="">@item.Region</h5>
                                                    </div>
                                                    <div class="text-center">
                                                        <a href="@Url.Action("TableroEmpleados","TableroGerencial", new { idSucursal =  item.IdSucursal})"><span class="badge bg-success">Detalle</span></a>
                                                    </div>

                                                </div>
                                                <div class="card-body">
                                                    <table class="table table-sm my-2">
                                                        <tbody>
                                                            <tr>
                                                                <td>Producto</td>
                                                                <td>Datos</td>
                                                                <td>Grafica</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Captación</td>
                                                                <td>Q 76,167,748.24</td>
                                                                <td>
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-warning-dark" role="progressbar" style="width: 29%;" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">-29%</div>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>Asociados</td>
                                                                <td>@item.Asociados</td>
                                                                <td>
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-primary-dark" role="progressbar" style="width: 36%;" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">36%</div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Seguros</td>
                                                                <td> @item.Seguros</td>
                                                                <td>
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-primary-dark" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Remesas</td>
                                                                <td> @item.Remesas</td>
                                                                <td>
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-primary-dark" role="progressbar" style="width: 16%;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">16%</div>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>Cooasiste</td>
                                                                <td> @item.Cooasiste</td>
                                                                <td>
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-primary-dark" role="progressbar" style="width: 44%;" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100">44%</div>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>Remesas</td>
                                                                <td> @item.Remesas</td>
                                                                <td>
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-primary-dark" role="progressbar" style="width: 44%;" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100">44%</div>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

