@model iveCincoFrame.Models.constanciasLaborales

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>constanciasLaborales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inicioLabores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inicioLabores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salarioBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salarioBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bonificacionesLey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bonificacionesLey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechahoraCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechahoraCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatUbicaciones.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatUbicaciones.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios1.primerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios1.primerNombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
