@model iveCincoFrame.Models.TblDeclaracionSalud

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Create</h2>

                            @using (Html.BeginForm())
                            {



                                <h4>TblDeclaracionSalud</h4>
                                <hr />
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedad o Defecto de la Vista", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg1, ViewBag.Lg1 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg1, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Transtorno Urinario", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg2, ViewBag.Lg2 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg2, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Presión arterial alta", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg3, ViewBag.Lg3 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Presión arterial baja", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg4, ViewBag.Lg4 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg4, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Diabetes o Problemas del Azúcar en la Sangre", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg5, ViewBag.Lg5 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg5, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Cancer, Tumor o Quiste", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg6, ViewBag.Lg6 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg6, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Bocio, Problemas de la Tiroides", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg7, ViewBag.Lg7 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-8">
                                        @Html.Label("Enfermedades del Sistema Digestivo (esófago, estómago, intestino delgado)", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg8, ViewBag.Lg8 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-8">
                                        @Html.Label("Lesiones o enfermedades de la Cabeza o de la Columna", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg9, ViewBag.Lg9 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("VIH y/o Sida", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg10, ViewBag.Lg10 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Preeclamsia, Eclampsia", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg11, ViewBag.Lg11 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Albúmina o Azúcar en la Orina", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg12, ViewBag.Lg12 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de los Senos", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg13, ViewBag.Lg12 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Hernia de cualquier tipo", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg13, ViewBag.Lg13 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Hernia de cualquier tipo", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg14, ViewBag.Lg14 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedad de los Ovarios y/o Matriz", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg15, ViewBag.Lg15 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Transtornos del  Colon y Recto", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg16, ViewBag.Lg16 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Venas Varicosas", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg17, ViewBag.Lg17 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades Cardíacas", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg18, ViewBag.Lg18 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Diarrea Crónica", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg19, ViewBag.Lg19 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Osteoporosis, problemas en los huesos", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg20, ViewBag.Lg20 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Problemas de la Próstata", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg21, ViewBag.Lg21 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Transtornos Femeninos", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg22, ViewBag.Lg22 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.Label("Enfermedades del Sistema Respiratorio (pulmones, bronquios, etc)", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg23, ViewBag.Lg23 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <!-- Form Row-->

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Pérdida de Peso o Aumento de Peso", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg24, ViewBag.Lg24 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de la Piel ", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg25, ViewBag.Lg25 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg25, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedad de la Boca, Dientes, Labios ", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg26, ViewBag.Lg26 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg26, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-8">
                                        @Html.Label("Enfermedades de los Oídos, Naríz o Garganta", new { @class = "control -label" })
                                        @Html.DropDownListFor(m => m.Lg27, ViewBag.Lg27 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg27, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Desmayos o Mareos", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg29, ViewBag.Lg29 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg29, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Artritis o Reumatismo", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg28, ViewBag.Lg28 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg28, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Dolores de Cabeza Severos, Migraña", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg30, ViewBag.Lg30 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg30, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de la Sangre	", new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg31, ViewBag.Lg31 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg31, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.Lg32, "Enfermedades Venéreas", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg32, ViewBag.Lg32 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg32, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg33, "Enfermedades de Riñones", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg33, ViewBag.Lg33 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg33, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg34, "Convulsiones", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg34, ViewBag.Lg34 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg34, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg35, "Enfermedades hormonales (endócrinas)", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg35, ViewBag.Lg35 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg35, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg36, "Transtornos Nerviosos	", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownListFor(m => m.Lg36, ViewBag.Lg36 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg36, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg37, "Tuberculosis", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg37, ViewBag.Lg37 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg37, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.Lg38, "Cualquier Defecto Físico o Mental, Amputacion o Limitación Fisica	", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg38, ViewBag.Lg38 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg38, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.Lg39, "Cálculos Renales o de la Vesícula Biliar	", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg39, ViewBag.Lg39 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg39, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg40, "Hemorroides	", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownListFor(m => m.Lg40, ViewBag.Lg40 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg40, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg41, "Enfermedades del Hígado o la Vesicula Biliar", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg41, ViewBag.Lg41 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg41, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg42, "Anemia", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg42, ViewBag.Lg42 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg42, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg43, "Alteraciones Menstruales", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg43, ViewBag.Lg43 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg43, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg44, "¿Ha tenido algún aborto, parto o cesárea?", htmlAttributes: new { @class = "control-label " })
                                        @Html.DropDownListFor(m => m.Lg44, ViewBag.Lg44 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg44, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Lg45, "¿Está actualmente embarazada?	", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownListFor(m => m.Lg45, ViewBag.Lg45 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg45, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg46, "¿Ha estado Usted como paciente en un Hospital o Institución similar durante los ultimos tres (3) años?", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg46, ViewBag.Lg46 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg47, "¿Ha sido examinado por o ha consultado algún Médico durante los últimos tres (3) años?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg47, ViewBag.Lg47 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg47, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg48, "¿Se le ha aconsejado internarse en un Hospital u otra Institucion similar para diagnóstico, reposo o tratamiento, pero usted no lo hizo?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg48, ViewBag.Lg48 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg48, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg49, "¿Se le ha aconsejado una operación quirúrgica o tratamiento médico pero usted no lo hizo?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg49, ViewBag.Lg49 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg49, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg50, "¿Tiene conocimiento de algún defecto fisico, deformidad o problema de salud?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg50, ViewBag.Lg50 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg50, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg51, "¿Tiene o ha tenido transtornos mentales o nerviosos a causa de drogas o estupefacientes?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg51, ViewBag.Lg51 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg51, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg52, "¿Le ha sido alguna vez rechazada, aplazada, aceptada con recargo o modificada de alguna manera, una solicitud para obtener o para rehabilitar una Poliza de Seguro de Vida, Accidente o Salud?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg52, ViewBag.Lg52 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg52, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg53, "¿Ha estado alguna vez asegurado con alguna Póliza de Seguro de Gastos Medicos?  ", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownListFor(m => m.Lg53, ViewBag.Lg53 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg53, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3" id="respuesta53">
                                    <hr />
                                    <div class="col-md-12">
                                        @Html.Label("Indique el nombre de la Aseguradora, si está vigente y la fecha del Seguro:", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.respuestaLg53, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.respuestaLg53, "", new { @class = "text-danger" })
                                        <br />
                                        <hr />
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg54, "¿Ha estado contagiado con el virus SARS-CoV 2 o enfermedado por COVID-19?", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg54, ViewBag.Lg54 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg54, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg55, "¿Ha sido vacunado en los últimos 24 meses?", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg55, ViewBag.Lg55 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg55, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg56, "¿Toma regularmente alguna medicina? Si la respuesta es afirmativa, proporcione detalles a continuación.", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Lg56, ViewBag.Lg56 as SelectList, "Seleccione una opcion", new { @class = "form-select" })
                                        @Html.ValidationMessageFor(model => model.Lg56, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3v d-none">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Lg57, "Lg57", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.DropDownList("Lg57", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Lg57, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3" id="infoMedicina1">
                                    <div class="col-md-12">
                                        @Html.Label("Nombre de la medicina", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.NombreMedicina, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NombreMedicina, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3" id="infoMedicina2">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Dosis, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Dosis, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Razón por la que Toma la Medicina", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.RazonMedicina, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RazonMedicina, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3" id="infoMedicina3">
                                    <div class="col-md-12">
                                        @Html.Label("Tiempo de estar Tomando la Medicina", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.TiempoMedicina, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TiempoMedicina, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Recetada por:", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MedicinaReceta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MedicinaReceta, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Nombre de la Persona de quien se da la información de salud", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.NombrePerInfoSalud, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NombrePerInfoSalud, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.Label("No. De Pregunta", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.NumeroPregunta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumeroPregunta, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Nombre de la Enfermedad, Lesión o Condición Médica", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.NombreEnfermedad, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NombreEnfermedad, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Duracion de la Incapacidad o Enfermedada", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.DuracionEnfermedad, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DuracionEnfermedad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <p class="text-center text-muted">Fecha de Recuperacion Total</p>
                                    <div class="col-md-12">
                                        @Html.Label("Mes", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Mess, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mess, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Año", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Anio, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Anio, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.Label("Nombres y Direcciones de Médicos y Hospitales", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.NombresDirMedicos, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NombresDirMedicos, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>



                            }
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#respuesta53').hide();

        $("#Lg53").change(function () {
            var selectValue = $(this).val();
            if (selectValue == 1) {
                $('#respuesta53').show();
            }
            else
            {
                $('#respuesta53').hide();
            }
        });
        $('#infoMedicina1').hide();
        $('#infoMedicina2').hide();
        $('#infoMedicina3').hide();
      

        $("#Lg56").change(function () {
            var selectValue = $(this).val();
            if (selectValue == 1) {
                $('#infoMedicina1').show();
                $('#infoMedicina2').show();
                $('#infoMedicina3').show();
            }
            else {
                $('#infoMedicina1').hide();
                $('#infoMedicina2').hide();
                $('#infoMedicina3').hide();
            }
        });
    });
</script>