@model iveCincoFrame.Models.TblDeclaracionSalud

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Delete</h2>

                            <h3>Are you sure you want to delete this?</h3>
                            <div>
                                <h4>TblDeclaracionSalud</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.respuestaLg53)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.respuestaLg53)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NombreMedicina)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NombreMedicina)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Dosis)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Dosis)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.RazonMedicina)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.RazonMedicina)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TiempoMedicina)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TiempoMedicina)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.MedicinaReceta)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.MedicinaReceta)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NombrePerInfoSalud)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NombrePerInfoSalud)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NumeroPregunta)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NumeroPregunta)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NombreEnfermedad)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NombreEnfermedad)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.DuracionEnfermedad)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DuracionEnfermedad)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Mess)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Mess)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Anio)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Anio)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NombresDirMedicos)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NombresDirMedicos)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn1.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn1.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn2.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn2.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn3.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn3.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn4.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn4.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn5.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn5.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn6.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn6.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn7.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn7.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn8.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn8.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn9.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn9.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn10.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn10.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn11.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn11.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn12.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn12.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn13.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn13.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn14.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn14.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn15.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn15.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn16.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn16.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn17.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn17.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn18.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn18.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn19.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn19.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn20.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn20.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn21.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn21.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn22.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn22.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn23.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn23.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn24.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn24.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn25.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn25.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn26.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn26.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn27.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn27.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn28.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn28.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn29.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn29.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn30.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn30.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn31.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn31.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn32.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn32.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn33.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn33.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn34.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn34.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn35.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn35.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn36.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn36.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn37.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn37.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn38.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn38.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn39.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn39.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn40.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn40.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn41.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn41.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn42.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn42.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn43.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn43.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn44.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn44.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn45.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn45.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn46.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn46.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn47.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn47.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn48.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn48.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn49.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn49.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn50.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn50.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn51.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn51.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn52.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn52.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn53.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn53.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn54.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn54.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn55.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn55.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn56.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatOpcionesChn56.descripcion)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-default" /> |
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

