@model IEnumerable<iveCincoFrame.Models.TblDeclaracionSalud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Index</h2>

                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.respuestaLg53)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreMedicina)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Dosis)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RazonMedicina)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TiempoMedicina)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MedicinaReceta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombrePerInfoSalud)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumeroPregunta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreEnfermedad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DuracionEnfermedad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mess)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Anio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombresDirMedicos)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn1.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn2.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn3.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn4.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn5.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn6.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn7.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn8.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn9.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn10.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn11.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn12.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn13.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn14.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn15.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn16.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn17.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn18.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn19.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn20.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn21.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn22.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn23.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn24.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn25.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn26.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn27.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn28.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn29.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn30.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn31.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn32.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn33.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn34.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn35.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn36.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn37.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn38.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn39.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn40.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn41.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn42.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn43.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn44.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn45.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn46.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn47.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn48.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn49.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn50.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn51.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn52.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn53.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn54.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn55.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CatOpcionesChn56.descripcion)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.respuestaLg53)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreMedicina)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dosis)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RazonMedicina)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TiempoMedicina)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MedicinaReceta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombrePerInfoSalud)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumeroPregunta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreEnfermedad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DuracionEnfermedad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mess)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Anio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombresDirMedicos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn1.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn2.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn3.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn4.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn5.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn6.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn7.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn8.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn9.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn10.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn11.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn12.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn13.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn14.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn15.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn16.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn17.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn18.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn19.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn20.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn21.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn22.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn23.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn24.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn25.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn26.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn27.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn28.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn29.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn30.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn31.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn32.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn33.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn34.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn35.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn36.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn37.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn38.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn39.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn40.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn41.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn42.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn43.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn44.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn45.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn46.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn47.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn48.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn49.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn50.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn51.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn52.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn53.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn54.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn55.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatOpcionesChn56.descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.idTblDeclaracionSalud }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.idTblDeclaracionSalud }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.idTblDeclaracionSalud })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

