@model iveCincoFrame.Models.TblSolicitudesMoviemientos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layaut_Intranet.cshtml";
}
<link href="~/CSS/uploadfile2.css" rel="stylesheet" />
<div class="card-body m-sm-3 m-md-5">
    <div class="mb-4">
         Solicitud <strong>@Model.idTblUsuarioModifica</strong>,
        <br>
        Este es el detalle del moviminento que registrste para la fecha <strong> @Html.DisplayFor(model => model.fechaAlta)</strong> los detalles son los siguientes:
    </div>

    <div class="row">
        <div class="col-md-6 text-md-end">
            <div class="text-muted">Fecha fin</div>
            <strong>@Html.DisplayFor(model => model.SolicitudesMovimientos.fechaFin)</strong>
        </div>
        <div class="col-md-6">
            <div class="text-muted">Estado Actual del Movimiento</div>
            <strong>
                @Model.SolicitudesMovimientos.CatEstadoSolicitudes.descripcion
            </strong>
        </div>
        <div class="col-md-6 text-md-end">
            <div class="text-muted">Descripcion General de la solicitud</div>
            <strong>
                @Model.SolicitudesMovimientos.TblSolicitudesCooitzas.descripcion
            </strong>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        @using (Html.BeginForm("Create", "TblSolicitudesMovimientosDetalles",FormMethod.Post, new { id = "formDetalle" }))
        {
            <div class="text-center">
                <h4>Nuevo detalle</h4>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idTblSolicitudesMoviemientos)
            <div class="row px-1 px-sm-1 px-md-12 px-lg-12">
                <div class="col-12 col-sm-12  col-md-6 col-lg-6">
                    @Html.Label("Tipo de Moviento", new { @class = "form-label" })
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="align-middle me-2 fas fa-fw fa-exchange-alt"></i>
                        </span>
                        @*@Html.DropDownList("idGerencia", null, htmlAttributes: new { @class = "form-select" })*@
                        @Html.DropDownListFor(m => m.idCap, ViewBag.idCatTiposMovimientos as SelectList, "Seleccione una opcion", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.idCatTiposMovimientos, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-6">
                    @Html.Label("Monto", new { @class = "form-label" })
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="align-middle me-2 fas fa-fw fa-hand-holding-usd"></i>
                        </span>
                        @*@Html.TextAreaFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
                        @*<textarea class="form-control" id="descripcion" name="descripcion" aria-label="With textarea" rows="2" placeholder="Descripción de la Solicitud"></textarea>*@

                    </div>
                    @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row px-1 px-sm-1 px-md-12 px-lg-12">
                <div class="col-12 col-sm-6  col-md-6 col-lg-6">
                    @Html.Label("Descripcion", new { @class = "form-label" })
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="align-middle me-2 fas fa-fw fa-outdent"></i>
                        </span>
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "descripcion del moviento" } })
                        @*<textarea class="form-control" id="observacion" name="observacion" aria-label="With textarea" rows="2" placeholder="Observacion de la Solicitud"></textarea>*@

                    </div>
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row px-1 px-sm-1 px-md-12 px-lg-12">
                <div class="col-12 col-sm-12  col-md-12 col-lg-12">
                    <div class="col-md-12 col-xs-12 col-sm-12" id="upload">
                        <div class="table-responsive">
                            <center><div id="fotografiaseguimiento">Subir Archivo</div></center>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-1 px-sm-1 px-md-12 px-lg-12 d-none">
                <div class="col-12 col-sm-6  col-md-6 col-lg-6">
                    @Html.Label("archivo", new { @class = "form-label" })
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="align-middle me-2 fas fa-fw fa-check-square"></i>
                        </span>
                        @Html.EditorFor(model => model.archivo, new { htmlAttributes = new { @class = "form-control" } })

                        @*@Html.DropDownList("idCatEstadoSolicitudes", null, htmlAttributes: new { @class = "form-select" })*@
                        @*<textarea class="form-control" id="observacion" name="observacion" aria-label="With textarea" rows="2" placeholder="Observacion de la Solicitud"></textarea>*@

                    </div>
                    @Html.ValidationMessageFor(model => model.archivo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row text-start">
                <div class="col-12 col-sm-12  col-md-12 col-lg-12 align-items-start">
                    <div class="btn-group" role="group" aria-label="Basic example" id="botonera">
                        <button type="submit" class="btn btn-primary btn-lg" id="agregar">Agregar <i class="fa-solid fa-check"></i></button>
                        
                    </div>
                </div>
            </div>
        }
    </div>
    <table class="table table-sm" id="tblDetalles">
        <thead>
            <tr>
                <th>Tipo de Moviento</th>
                <th>Monto</th>
                <th>Descripción</th>
                <th>Moneda</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th class="text-center">Archivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody-tbl-detalles">
        </tbody>
    </table>


</div>

<script src="~/Scripts/jquery.uploadfile.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        getDetalles();
        $("#fotografiaseguimiento").uploadFile({
        	url: '@Url.Action("UploadArchivos", "CargaDeArchivos")',
        	multiple: true,
        	fileName: "file",
            maxFileSize: 21048500,
            formData: {
                "idcattiposarchivos": 4,
            },
            acceptFiles: "image",
        	showProgress: true,
        	afterUploadAll: function(dato) {
        		// location.reload();
        		//console.log(dato.responses[0]);
        		//alert("ARCHIVO CARGADO CON EXITO");
                if (dato.responses[0].data.Codigo == 1) {
                    console.log(dato.responses[0].data);
                    $('#archivo').val(dato.responses[0].data.Clave);
                    alert("Archivo Cargado Correctamente!")
                    //$('#nombreArchivo').val(dato.responses[0]);
                    //$('.ajax-upload-dragdrop').hide();
                    //$('#img-detalle').html('');
                    //$('#img-detalle').html(`<img src="${dato.responses[0].data.Url}" class="img-fluid" alt="imagenFactura" height="100" width="100">`);
                }
                else
                {
                    alert("Error al cargar el archivo detalle: " + dato.responses[0].data.Descripcion);
                }


        	}
        });

            /*Funcion para obtener las solicitudes*/
        function getDetalles() {
            Pace.track(function () {
               $.ajax({
                  type: 'POST',
                   url: '@Url.Action("GetTblSolicitudesMovientosDetalles", "TblSolicitudesMovimientosDetalles")',
                   dataType: "json",
                   data: { id: @ViewBag.IdTblSolicitudesMovimeintos},
                   beforeSend: function (response) {},
                   success: function (result) {
                       $("#tbody-tbl-detalles").html('');//limiar el tbody
                     console.log(result.detalles);
                       $.each(result.detalles, function (key, item) {
                        var html = '';
                                html += '<tr>';
                                html += '<td>' + item.TipoMoviento + '</td>';
                                html += '<td>' + item.Monto + '</td>';
                                html += '<td>' + item.Descripcion + '</td>';
                                html += '<td>' + item.Moneda + '</td>';
                                html += '<td>' + item.Usuario + '</td>';
                                html += '<td>' + item.Fecha + '</td>';
                                html += `<td><div class="text-center"><a href="${item.Archivo}" target="_blank"><i class="fa-solid fa-image"></i></a></div></td>`;
                                html += `<td class="table-action">
                                        <a href="#" id="detalle-movimiento" codigo="${item.idTblSolicitudesMovimientosDetalle}"><i class="align-middle me-2 fas fa-fw fa-hand-paper"></i></a>
                                        <a href="#" id="editar-solicitud" codigo="${item.idTblSolicitudesMovimientosDetalle}"><i class="align-middle me-2 fas fa-fw fa-pencil-alt"></i></a>
                                        <a href="#" id="eliminar-solicitud" codigo="${item.idTblSolicitudesMovimientosDetalle}"><i class="align-middle fas fa-fw fa-trash"></i></a>
                                        </td >`;
                                html += '</tr>';
                           $("#tbody-tbl-detalles").append(html);
                     });
                  }
               });
            });
         }

        $(document).on('click', '#editar-movimiento', function () {
             var idTblSolicitudesMovimientosDetalle = $(this).attr('codigo');
             $.ajax({
                 type: 'GET',
                 url: '@Url.Action("GetTblMovimientoDetalle", "TblSolicitudesMovimientosDetalles")',
                 data: { id: idTblSolicitudesMovimientosDetalle},
     		    beforeSend: function(response) {},
                 success: function (response) {
                     console.log(response);
                     $("#idTblSolicitudesMovimientosDetalle").val(response.oDetalle.idTblSolicitudesMovimientosDetalle);
                     $("#idCatTiposMovimientos").val(response.oDetalle.idTblSolicitudesMovimientos);
                     $("#monto").val(response.oDetalle.monto);
                     $("#descripcion").val(response.oDetalle.descripcion);
                     $("#idCatTiposMonedas").val(response.oDetalle.idCatTiposMonedas);
                     $("#archivo").val(response.oDetalle.archivo);
                     $("#botonera").html('');
                     var formDetalle = $('#formDetalle');
                     formDetalle.prop("action", "TblSolicitudesMovimientosDetalles", "Edit");
                     $("#botonera").html('<button type="submit" class="btn btn-btn btn-warning btn-lg" id="editar" onclick="javascript: form.action=\'/TblSolicitudesMovimientosDetalles/Edit\';">Guardar Cambios<i class="fa-solid fa-check"></i></button><button type ="button" id="cancelar-modificacion" class="btn btn-danger"> Cancelar</button>');
     		    },
     	    });
     	    return false;
        });

        $(document).on('click', '#cancelar-modificacion', function () {
            $("#idTblSolicitudesMovimientosDetalle").val('');
            $("#idCatTiposMovimientos").val('');
            $("#monto").val('');
            $("#descripcion").val('');
            $("#idCatTiposMonedas").val('');
            $("#archivo").val('');
            $("#botonera").html('');
            $("#botonera").html('<button type="submit" class="btn btn-primary btn-lg" id="agregar">Agregar <i class="fa-solid fa-check"></i></button>');
        });

        $(document).on('click', '#eliminar-movimiento', function() {
           var codigo = $(this).attr('codigo');
           Swal.fire({
              icon: 'warning',
              title: '¿Estás seguro/a de eliminar a este registro?',
              showConfirmButton: true,
              confirmButtonText: 'ELIMINAR',
              confirmButtonColor: '#3085d6',
              showCancelButton: true,
              cancelButtonText: 'CANCELAR',
              cancelButtonColor: '#d33',
              buttonsStyling: true,
           }).then((result) => {
              if(result.isConfirmed) {
                  @*window.location.href = "@Url.Action("DeleteConfirmed", "TblSolicitudesMovimientosDetalles");";*@
                  window.location.href = "@Url.Action("DeleteConfirmed", "TblSolicitudesMovimientosDetalles")?id=" + codigo;
              }
        });
        });

    });
</script>
@*<h2>Details</h2>

<div>
    <h4>TblSolicitudesMoviemientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTblUsuariosModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTblUsuariosModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatEstados.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatEstados.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatEstadoSolicitudes.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatEstadoSolicitudes.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatProveedoresCooitzas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatProveedoresCooitzas.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblSolicitudesCooitzas.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblSolicitudesCooitzas.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTblSolicitudesMoviemientos }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
