@model IEnumerable<iveCincoFrame.Models.TblSolicitudesMoviemientos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layaut_Intranet.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTblUsuariosModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatEstados.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatEstadoSolicitudes.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatProveedoresCooitzas.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TblSolicitudesCooitzas.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTblUsuariosModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblUsuarios.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatEstados.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatEstadoSolicitudes.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatProveedoresCooitzas.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblSolicitudesCooitzas.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTblSolicitudesMoviemientos }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTblSolicitudesMoviemientos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTblSolicitudesMoviemientos })
        </td>
    </tr>
}

</table>
