@model iveCincoFrame.Models.TblEmpleadosMetas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Delete</h2>

                            <h3>Are you sure you want to delete this?</h3>
                            <div>
                                <h4>TblEmpleadosMetas</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.idCore)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.idCore)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.codigoEmpleado)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.codigoEmpleado)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.idSucursalCore)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.idSucursalCore)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.idCatEstadosCore)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.idCatEstadosCore)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.metaAnual)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.metaAnual)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.cantidadAnual)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.cantidadAnual)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.idCorePuesto)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.idCorePuesto)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.correoElectronico)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.correoElectronico)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.numeroTelefono)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.numeroTelefono)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.fechaCreaccion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.fechaCreaccion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.idTblUsuarios)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.idTblUsuarios)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.metaMensual)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.metaMensual)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.cantidadMensual)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.cantidadMensual)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.fechaModificacion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.fechaModificacion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TblUsuarios.usuario)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TblUsuarios1.usuario)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TblUsuarios1.usuario)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatAnios.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatAnios.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatMeses.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatMeses.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CatEstados.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CatEstados.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TblProductosCooitza.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TblProductosCooitza.descripcion)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
                                {


                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-default" /> |
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
