@model iveCincoFrame.Models.Biblioteca.TblBibliotecaDto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/uploadfile2.css" rel="stylesheet" />
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="row">
                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "TblBiblioteca")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
                                <div class="card-actions bg-success-dark text-white"><i class="align-middle me-2 fas fa-fw fa-plus-circle"></i> Nuevo Documento</div>

                                <div class="col-xl-12 card" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                                    <!-- Account details card-->

                                    <div class="card-body">
                                        <h3>Detalles del Documento</h3>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.Partial("_MensajeParcial")
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <!-- Form Row-->
                                            <div class="row gx-3">

                                                <div class="col-md-4">
                                                    @Html.Label("Titúlo", new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del item a publicar" } })
                                                    @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger mt-2" })
                                                </div>
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-4">
                                                    @Html.Label("Jerarquia", new { @class = "form-label" })
                                                    @Html.DropDownListFor(m => m.idCatJerarquia, ViewBag.idCatJerarquia as SelectList, "Seleccione una jerarquia", new { @class = "form-select" })

                                                    @Html.ValidationMessageFor(model => model.idCatJerarquia, "", new { @class = "text-danger mt-2" })

                                                </div>
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-4">
                                                    @Html.Label("Detalle del item", new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control", @placeholder = "detalle del archivo o documento a publicar" } })
                                                    @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger mt-2" })
                                                </div>



                                            </div>
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-4">
                                                    @Html.Label("Fecha del Documento", new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.fechaDocumento, new { htmlAttributes = new { @class = "form-control", type = "date", value = "dd/mm/yyyy" } })
                                                    @Html.ValidationMessageFor(model => model.fechaDocumento, "", new { @class = "text-danger m-2" })
                                                </div>
                                                @if (ViewBag.bloqueado == 1)
                                                {
                                                    <!-- Form Group (first name)-->
                                                    <div class="col-md-4">
                                                        @Html.Label("Origen del Archivo", new { @class = "form-label" })

                                                        @Html.DropDownList("idCatOrigen", null, htmlAttributes: new { @class = "form-select" })

                                                        @Html.ValidationMessageFor(model => model.idCatOrigen, "", new { @class = "text-danger mt-2" })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <!-- Form Group (first name)-->
                                                    <div class="col-md-4">
                                                        @Html.Label("Origen del Archivo", new { @class = "form-label" })

                                                        @Html.DropDownListFor(m => m.idCatOrigen, ViewBag.idCatOrigen as SelectList, "Seleccione una opcion", new { @class = "form-select", @readonly = "readonly" })

                                                        @Html.ValidationMessageFor(model => model.idCatOrigen, "", new { @class = "text-danger mt-2" })
                                                    </div>
                                                }


                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-4">
                                                    @Html.Label("Tipo de Archivo", new { @class = "form-label" })

                                                    @Html.DropDownListFor(m => m.idCatTipoArchivo, ViewBag.idCatTipoArchivo as SelectList, "Seleccione el tipo de archivo", new { @class = "form-select" })
                                                    @Html.ValidationMessageFor(model => model.idCatTipoArchivo, "", new { @class = "text-danger mt-2" })
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-4 d-none">
                                                    @Html.Label("Archivo", new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.nombreArchivo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.nombreArchivo, "", new { @class = "text-danger m-2" })
                                                </div>


                                            </div>
                                            <div class="row alerta mx-1">
                                                <div class="alert alert-success alert-dismissible" role="alert">
                                                    <div class="alert-message">
                                                        <strong>Correcto!</strong> Archivo Cargado
                                                    </div>

                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            </div>
                                            <div id="video">
                                                @Html.Label("Url del Video", new { @class = "form-label" })
                                                @Html.TextAreaFor(model => model.urlVideo, new { @class = "form-control", @rows = "3", @placeholder = "Enlace del video" })

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-xs-12 col-sm-12" id="upload">
                                                        <div class="table-responsive">

                                                            <center><div id="fotografiaseguimiento">Subir Archivo</div></center>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row ">
                                                <button type="submit" value="Create" class="btn btn-primary"><i class="align-middle me-2 fas fa-fw fa-check"></i> Guardar Registro</button>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.uploadfile.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

       // $("#idCatOrigen").val(@ViewBag.idCatOrigenUsuario);




        $("#idCatTipoArchivo").change(function () {
            var selectValue = $(this).val();

            //alert(selectValue);
            if (selectValue == 5) {
                $('#upload').html('');
                $('#video').show();
            }
            else
            {
                $('#video').hide();
                $('#upload').html();
                $('#upload').html('<div class="table-responsive"><center><div id="fotografiaseguimiento">Subir Archivo</div></center><br></div>');
            }
            //$("#idArchivo").val(selectValue);

            //$("#upload").click();
             var data = {
                 "idcattiposarchivos": selectValue
                 };

            $("#fotografiaseguimiento").uploadFile({
                url: '@Url.Action("UploadFiles", "CargaDeArchivos")',
                multiple: true,
                fileName: "file",
                maxFileSize: 21048500,
                formData: data,
                showProgress: true,
                afterUploadAll:function(dato)
                {
                    // location.reload();
                    //console.log(dato.responses[0]);
                    //alert("ARCHIVO CARGADO CON EXITO");
                    $('#archivo').val(dato.responses[0]);
                    $('#nombreArchivo').val(dato.responses[0]);
                    $('.ajax-upload-dragdrop').hide();
                    $('.alerta').show();
                    $('#upload').hide();
                }
             });
        });


        $('#video').hide();
        $('.alerta').hide();




    });
</script>