@model iveCincoFrame.Models.CatImagenesIntranet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/uploadfile2.css" rel="stylesheet" />
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="row">
                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "TblBiblioteca")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
                                <div class="card-actions bg-success-dark text-white"><i class="align-middle me-2 fas fa-fw fa-plus-circle"></i> Nuevo Imagen Intranet CWS</div>

                                <div class="col-xl-12 card" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                                    <div class="card-body">
                                        @Html.Partial("_MensajeParcial")
                                        @using (Html.BeginForm())
                                        {
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                                        <div class="table-responsive">
                                                            @*<center><h4>ARCHIVO CASOS MORA</h4></center>*@
                                                            <center><div id="fotografiaseguimiento">Subir Archivo</div></center>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                @*<input type="submit" value="Guardar y Subir Archivo" class="btn btn-primary form-control" />*@
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <button type="submit" class="btn btn-primary btn-lg" value="Create"> <i class="fa-solid fa-floppy-disk"></i> Guardar Registro</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.uploadfile.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

         $("#fotografiaseguimiento").uploadFile({
            url:'@Url.Action("UploadFiles", "CargaDeArchivos")',
            multiple:false,
            fileName:"file",
            maxFileSize:21048500,
            formData: {
                "idcattiposarchivos":4,
            },
             allowedTypes: "jpg,png,gif",
             acceptFiles:"image",
            showProgress: true,
            afterUploadAll:function(dato)
            {
               // location.reload();
               //console.log();
                $('#archivo').val(dato.responses[0]);
                $('#nombre').val(dato.responses[0]);
                function toasterOptions() {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                };
                toasterOptions();
                toastr.success("La imagen se cargo correctamente");
            }
        });
    });
</script>