@model iveCincoFrame.Models.CatUbicaciones

@{
    ViewBag.Title = "CrearSucursal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">


    <div class="col-xl-12 card" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
        <div class="mb-3 mt-2"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "TblSucursales")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
        <div class="card-actions bg-success-dark text-white"><i class="align-middle me-2 fas fa-fw fa-check-circle"></i> Agregar Sucursal</div>
        <!-- Account details card-->

        <div class="card-body">
            <h3>Detalles de la Sucursal</h3>
            @using (Html.BeginForm("GuardarSucursal", "TblSucursales", FormMethod.Post))
            {
                @Html.Partial("_MensajeParcial")
                <form>
                    <!-- Bloque: 1-->
                    <div class="row gx-3 mb-3">
                        <!-- Grupo: idCatRegiones -->
                        <div class="col-md-4">
                            <label class="small mb-1" for="idCatRegiones">Region</label>
                            @Html.DropDownList("idCatRegiones", null, htmlAttributes: new { @class = "form-select flex-grow-1" })

                        </div>
                        <!-- Grupo: codigo-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="codigo">Codigo</label>
                            @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                           
                        </div>
                        <!-- Grupo: nombre-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="nombre">Nombre</label>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                           
                        </div>

                    </div>
                    <!-- Bloque: 2-->
                    <div class="col-md-12">
                        <!-- Grupo: direccion-->
                        <div class="col-md-12">
                            <label class="small mb-1" for="d">Direccion</label>
                            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>
                    <!-- Bloque: 3-->
                    <div class="row gx-3 mb-3">
                        <!-- Grupo: correo-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="correo">Correo</label>
                            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                           
                        </div>
                        <!-- Grupo: telefono-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="telefono">Telefono</label>
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                           
                        </div>
                        <!-- Grupo: descripcion-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="descripcion">descripcion</label>
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>
                    <!--  <!-- Bloque: 4-->
                    <div class="row  mb-3">
                        <!-- Grupo: codigoNombre-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="codigoNombre">Codigo y Nombre</label>
                            @Html.EditorFor(model => model.codigoNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.codigoNombre, "", new { @class = "text-danger" })
                        </div>
                        <!-- Grupo: idCatDepartamentosRepublicas-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="idCatDepartamentosRepublicas">Departamento</label>
                            @Html.DropDownList("idCatDepartamentosRepublicas", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                        </div>
                        <!-- Grupo: idMunicipiosRepublicas-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="idMunicipiosRepublicas">Municipio</label>
                            @Html.DropDownList("idMunicipiosRepublicas", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                        </div>
                    </div>
                    <!--  <!-- Bloque: 5-->
                    <div class="row  mb-3">
                        <!-- Grupo: idSucursal-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="idSucursal">Id Sucursal Sistema Core - Valor por defecto "0"</label>
                            @Html.EditorFor(model => model.idSucursal, new { htmlAttributes = new { @class = "form-control", @Value="0" } })
                            @Html.ValidationMessageFor(model => model.idSucursal, "", new { @class = "text-danger" })
                            
                        </div>
                        <!-- Grupo: nombreTarjetaCredito-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="nombreTarjetaCredito">Nombre Multicredit</label>
                            @Html.EditorFor(model => model.nombreTarjetaCredito, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombreTarjetaCredito, "", new { @class = "text-danger" })
                           
                        </div>
                        <!-- Grupo: idCatTipoUbicaciones-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="idCatTipoUbicaciones">Tipo de ubicacion</label>
                            @Html.DropDownList("idCatTipoUbicaciones", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                        </div>
                    </div>
                    <div class="row  mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">Guardar Sucursal <i class="align-middle me-2 fas fa-fw fa-check"></i></button>
                        <!-- Form Group (birthday)-->
                    </div>
                </form>
            }

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {



        $('#nombre').keyup(function (event) {

            var nombre = $(this).val();
            var codigo = $('#codigo').val();

            $('#codigoNombre').val(codigo+ ' - ' +  nombre);

        });


    $("#idCatDepartamentosRepublicas").change(function () {
        //alert("cambio");
        $("#idMunicipiosRepublicas").empty();
        $.ajax({
               type: 'POST',
               url: '@Url.Action("ObtenerMunicipios", "TblSucursales")',
               dataType:'json',
            data: { departamentoId: $("#idCatDepartamentosRepublicas").val() },
            success: function (response) {

                //debugger;
                $("#idMunicipiosRepublicas").append('<option  value="0" disabled selected>Selececcione</option>');
                $.each(response, function (i, municipios) {
                    $("#idMunicipiosRepublicas").append('<option value="'
                        + municipios.Value + '">'
                        + municipios.Text + '</option>');
                });

            },
            error: function (ex) {
                   alert('Ocurrio un error al  cargar los municipios' + ex)
            }
        });
        return false;

    })
});
</script>
