@model iveCincoFrame.Models.TblDeclaracionConcentimientolg

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblDeclaracionConcentimientolg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lg1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg34)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg34)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg36)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg36)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg37)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg37)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg38)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg38)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg39)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg39)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg40)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg40)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg42)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg42)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg43)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg43)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg44)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg44)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg45)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg45)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg46)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg46)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg47)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg47)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg48)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg48)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg49)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg49)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg50)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg50)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg51)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg51)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg52)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg52)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg53)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg53)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg54)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg54)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg55)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg55)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg56)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg56)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg57)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg57)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg58)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg58)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg59)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg59)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg61)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg61)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg62)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg62)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg63)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg63)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg64)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg64)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg65)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg65)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg66)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg66)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg67)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg67)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg68)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg68)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg69)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg69)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg70)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg70)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg71)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg71)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg72)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg72)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg73)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg73)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg74)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg74)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg75)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg75)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg76)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg76)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg77)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg77)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg78)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg78)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg79)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg79)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg80)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg80)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg81)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg81)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg82)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg82)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg83)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg83)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg84)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg84)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg85)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg85)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg86)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg86)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg87)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg87)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg88)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg88)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg89)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg89)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg90)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg90)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg91)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg91)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg92)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg92)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg93)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg93)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg94)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg94)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg95)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg95)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg96)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg96)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg97)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg97)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg98)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg98)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg99)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg99)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg101)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg101)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg102)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg102)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg103)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg103)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg104)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg104)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg105)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg105)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg106)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg106)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg107)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg107)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg108)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg108)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg109)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg109)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg110)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg110)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg111)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg111)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg112)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg112)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg113)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg113)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg114)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg114)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg115)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg115)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg116)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg116)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg117)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg117)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg118)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg118)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg119)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg119)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg120)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg120)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTblUsuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTblUsuarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCatEstados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCatEstados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescos1.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescos1.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescos2.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescos2.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescos3.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescos3.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescosGastosM.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescosGastosM.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescosGastosM1.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescosGastosM1.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescosGastosM2.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescosGastosM2.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatParentescosGastosM3.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatParentescosGastosM3.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatTiposDocumentos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatTiposDocumentos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatTiposDocumentos1.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatTiposDocumentos1.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatTiposDocumentos2.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatTiposDocumentos2.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatTiposDocumentos3.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatTiposDocumentos3.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
