@model iveCincoFrame.Models.TblSmsCore

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layaut_Intranet.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblSmsCore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segmento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segmento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaHoraRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaHoraRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resultadoMensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultadoMensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.llave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.llave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
