@model IEnumerable<iveCincoFrame.Models.TblAsistenciasAsambaleas>
@{
    Layout = null;
}


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="Aspose.Words for .NET 17.1.0.0" />
    <title></title>
</head>
<body>
    <div>
        <div style="-aw-headerfooter-type:header-primary">
            <div style="float:right">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt"><span style="font-family:Calibri">&#xa0;</span></p>
            </div>
            <br style="clear:both" />
            <table cellspacing="0" cellpadding="0" style="width:538.7pt; border-collapse:collapse">
                <tr>
                    <td style="width:116.85pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-right:18pt; margin-bottom:0pt; text-align:center; font-size:12pt"><img src="~/Content/img/asamblea/logoCooitzaDocsAsamblea115153.png" width="120" height="59" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
                    </td>
                    <td style="width:272.7pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="font-family:'Times New Roman'">GERENCIA DE TECNOLOGIA</span></p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="font-family:'Times New Roman'">Control de Asistencia</span></p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="font-family:'Times New Roman'">ASAMBLEA GENERAL </span><span style="font-family:'Times New Roman'">EXTRA</span><span style="font-family:'Times New Roman'">ORDINARIA 2023</span><span style="font-family:'Times New Roman'">PARA LA APROBACIÓN DE LA REFORMA DE LOS ESTATUTOS</span></p>
                    </td>
                    <td style="width:116.75pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="height:0pt; text-align:left; display:block; position:absolute; z-index:-65538"><img src="~/Content/img/asamblea/logoTicsDocsAsamblea115153.png" width="145" height="55" alt="" style="margin-top:14.31pt; margin-left:0.15pt; -aw-left-pos:0.15pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:14.31pt; -aw-wrap-type:none; position:absolute" /></span><span style="font-family:'Times New Roman'">&#xa0;</span></p>
                    </td>
                </tr>
            </table>
            <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt"><span style="font-family:Calibri">&#xa0;</span></p>
        </div>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt"><span style="font-family:'Times New Roman'">&#xa0;</span></p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="font-family:'Times New Roman'; font-weight:bold">LISTADO DE ASOCIADOS PARTICIPANTES</span></p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="font-family:'Times New Roman'; font-weight:bold">ASAMBLEA GENERAL </span><span style="font-family:'Times New Roman'; font-weight:bold">EXTRAORDINARIA</span><span style="font-family:'Times New Roman'; font-weight:bold"> PARA LA </span><span style="font-family:'Times New Roman'; font-weight:bold">APROBACIÓN DE LA REFORMA DE LOS ESTATUTOS</span></p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt"><span style="font-family:'Times New Roman'; font-weight:bold">&#xa0;</span></p>
        <table cellspacing="0" cellpadding="0" style="width:559.95pt; border-collapse:collapse">
            <tr style="height:15pt">
                <td style="width:3.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt"><span style="font-family:Calibri">#</span></p>
                </td>
                <td style="width:31pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Asociado</span></p>
                </td>
                <td style="width:38.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Número de Asociado</span></p>
                </td>
                <td style="width:52.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Número DPI</span></p>
                </td>
                <td style="width:37.65pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt"><span style="font-family:Calibri">Extendido</span></p>
                </td>
                <td style="width:40.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt"><span style="font-family:Calibri">Genero</span></p>
                </td>
                <td style="width:16.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Edad</span></p>
                </td>
                <td style="width:29.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Estado Civil</span></p>
                </td>
                <td style="width:42.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Nacionalidad</span></p>
                </td>
                <td style="width:26.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Fecha de Registro</span></p>
                </td>
                <td style="width:73.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">Firma</span></p>
                </td>
            </tr>
            @{ var contador = 0;}
            @{ contador++;}
            <tr style="height:57.6pt">
                <td style="width:3.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@contador</span></p>
                </td>
                <td style="width:31pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">MANFRED KEYNES SAUL SIRIN AJTUN</span></p>
                </td>
                <td style="width:38.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">GT020262</span></p>
                </td>
                <td style="width:52.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">3118887040412</span></p>
                </td>
                <td style="width:37.65pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">CHIMALTENANGO</span></p>
                </td>
                <td style="width:40.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">MASCULINO</span></p>
                </td>
                <td style="width:16.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">23</span></p>
                </td>
                <td style="width:29.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">SOLTERO</span></p>
                </td>
                <td style="width:42.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">GUATEMALA</span></p>
                </td>
                <td style="width:26.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">03/06/2023 6:00:00</span></p>
                </td>
                <td style="width:73.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:8pt"><img src="https://intranetcooitza.s3.us-east-2.amazonaws.com/ArchivosIntranet/4/PPT000567TECf92ce7eea4df4a39a86d276d95637f48.jpg?X-Amz-Expires=43200&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAZSAKCFCRMXV2LNMH/20230608/us-east-2/s3/aws4_request&amp;X-Amz-Date=20230608T171537Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=c627394b1647177ae5b0a77710f844873d8372f997320139772ae7ab46d28a6b" width="105" height="40" alt="" style="margin-right:9pt; margin-left:9pt; -aw-left-pos:-2.15pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:19.25pt; -aw-wrap-type:square; float:left" /></p>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                contador++;
                <tr style="height:57.6pt">
                    <td style="width:3.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@contador</span></p>
                    </td>
                    <td style="width:31pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.nombres</span></p>
                    </td>
                    <td style="width:38.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.numeroAsociado</span></p>
                    </td>
                    <td style="width:52.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.numeroDpi</span></p>
                    </td>
                    <td style="width:37.65pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.CatLugaresEmisionIdentificaciones.descripcion</span></p>
                    </td>
                    <td style="width:40.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.genero</span></p>
                    </td>
                    <td style="width:16.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.edad</span></p>
                    </td>
                    <td style="width:29.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.estadoCivil</span></p>
                    </td>
                    <td style="width:42.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@item.nacionalidad</span></p>
                    </td>
                    <td style="width:26.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt"><span style="font-family:Calibri">@Html.DisplayFor(modelItem => item.fechaCreacion)</span></p>
                    </td>
                    <td style="width:73.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:8pt"><img src="@item.firma" width="105" height="40" alt="" style="margin-right:9pt; margin-left:9pt; -aw-left-pos:-2.15pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:19.25pt; -aw-wrap-type:square; float:left" /></p>
                    </td>
                </tr>
            }


        </table>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
            <span style="font-family:'Times New Roman'">&#xa0;</span>
        </p>
    </div>
</body>
</html>