@model iveCincoFrame.Models.TblSolicitudes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body ">

                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="">
                                        <h1 class="fc-toolbar-title">Iniciar Solicitud</h1>
                                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Tipo de Solicitud</label>
                                                <div class="form-floating">
                                                    @Html.DropDownList("idCatTipoSolicitudes", null, htmlAttributes: new { @class = "form-select" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Motivo de la Solicitud</label>
                                                <div class="form-floating">
                                                    <textarea class="form-control" name="nombreSolicitud"
                                                              placeholder="Leave a comment here"
                                                              id="floatingTextarea2"></textarea>
                                                    <label for="floatingTextarea2">Descripcion</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Monto</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Q</span>
                                                    @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control", type = "number", placeholder = "00.00" } })
                                                    @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button name="button" value="Create" class="btn btn-success btn-lg"><i class="align-middle me-2 fas fa-fw fa-check-circle"></i> Iniciar Solicitud</button>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
</div>