@model iveCincoFrame.Models.TblSolicitudes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-botom">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>TblSolicitudes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaInicio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaFinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaFinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombreSolicitud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreSolicitud)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaCreacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.idTblUsuarios)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idTblUsuarios)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaModificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaModificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.idCatUsuarioModifica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idCatUsuarioModifica)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.idCatEstados)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idCatEstados)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatOpciones.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatOpciones.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatTipoAnticipo.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatTipoAnticipo.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatTipoSolicitudes.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatTipoSolicitudes.descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>