@model iveCincoFrame.Models.Auditoria.SolicitudesVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container pt-3 border" id="containerHeader">

    </div>*@



    <div class="card">

        <div class="row mb-4">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="px-1 px-sm-1 px-md-3 px-lg-4 py-3">
                        <a class="btn btn-dark btn-lg" href="~/TblSolicitudes/Index" role="button"><i class="align-middle me-2 fas fa-fw fa-angle-left"></i> Regresar</a>
                    </div>
                    
                    <div class="row">
                        <h2 class="mb-1 text-center">Solictud No. @Model.idTblSolicitudes</h2>
                    </div>
                    <!-- ============================================ SOLICITUD VIATICOS ============================================ -->

                    @if (Convert.ToUInt32(Model.idCatTipoSolicitudes) == 1)
                    {
                        using (Html.BeginForm("Edit", "TblSolicitudes", FormMethod.Post, new { enctype ="multipart/form-data"}))
                        {
                            <div class="col-10 col-sm-10  col-md-6 col-lg-4">
                                <div class="input-group mb-3" id="idSolicitud">
                                    @Html.EditorFor(model => model.idTblSolicitudes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.idTblSolicitudes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form">
                                <div class="row px-1 px-sm-1 px-md-3 px-lg-4">

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                        <label class="control-label">Tipo de Solicitud</label>
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text">
                                                <i class="align-middle me-2 fas fa-fw fa-file-alt"></i>
                                            </span>
                                            @Html.DropDownList("idCatTipoSolicitudes", null, htmlAttributes: new { @class = "form-select" })
                                            @Html.ValidationMessageFor(model => model.idCatTipoSolicitudes,"", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12  col-md-4 col-lg-4">
                                        <label class="control-label">Fecha de Inicio</label>
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text">
                                                <i class="align-middle me-2 fas fa-fw fa-calendar-check"></i>
                                            </span>
                                            @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                                            @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12  col-md-4 col-lg-4">
                                        <label class="control-label">Fecha Finaliza</label>
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text">
                                                <i class="align-middle me-2 fas fa-fw fa-calendar-minus"></i>
                                            </span>
                                            @Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                                            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row px-1 px-sm-1 px-md-3 px-lg-4">
                                    <div class="input-group mb-3 col-12">
                                        <label class="control-label">Motivo de la solicutud</label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class="align-middle me-2 fas fa-fw fa-calendar-minus"></i>
                                            </span>
                                            <input type="text" class="form-control" name="nombreSolicitud" value="@Model.nombreSolicitud">
                                            @Html.ValidationMessageFor(model => model.nombreSolicitud, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row px-1 px-sm-1 px-md-3 px-lg-4">
                                    <div class="col-12 col-sm-12  col-md-4 col-lg-4">
                                        <label class="control-label">Monto</label>
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text">Q</span>
                                            <input type="number" name="monto" value="@Model.monto"
                                                   placeholder="00.00" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12  col-md-4 col-lg-4">
                                        <label class="control-label">Tipo de Anticippo</label>
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text">
                                                <i class="align-middle me-2 fas fa-fw fa-file-medical-alt"></i>
                                            </span>
                                            @Html.DropDownList("idCatTipoAnticipo", null, htmlAttributes: new { @class = "form-select" })
                                            @Html.ValidationMessageFor(model => model.idCatTipoAnticipo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row-reverse bd-highlight px-1 px-sm-1 px-md-3 px-lg-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalDestinoS"> Agregar Destinos <i class="fa-solid fa-location-dot"></i></button>
                                        <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal1">Agregar Vehiculos<i class="fa-solid fa-car"></i></button>
                                    </div>
                                </div>
                                    <div class="card-header border-bottom px-1 px-sm-1 px-md-3 px-lg-4" style="background:#f8f8f9;">
                                        <ul class="nav nav-tabs card-header-tabs" id="cardTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" id="overview-tab" href="#overview" data-bs-toggle="tab" role="tab" aria-controls="overview" aria-selected="true"><strong class="text-warning"><i class="fa-solid fa-location-dot"></i> Destinos</strong></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" id="example-tab" href="#example" data-bs-toggle="tab" role="tab" aria-controls="example" aria-selected="false"><strong class="text-success"><i class="fa-solid fa-car"></i> Vehiculos</strong></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="px-1 px-sm-1 px-md-3 px-lg-4">
                                        <div class="tab-content" id="cardTabContent">
                                            <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                                <div id="detalledestinos"  class="mt-2">@Html.Action("Detalledestino", new { id = Model.idTblSolicitudes })</div>
                                            </div>
                                            <div class="tab-pane fade show active" id="example" role="tabpanel" aria-labelledby="example-tab">
                                                <div id="detalleVehiculos" class="mt-2">@Html.Action("DetalleVehiculo", new { id = Model.idTblSolicitudes })</div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="row px-1 px-sm-1 px-md-3 px-lg-4">
                                    <div class="col-12">
                                        <label class="control-label">Observaciones</label>
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", id = "floatingTextarea2", placeholder = "Descripcion" } })
                                            <label for="floatingTextarea1">Descripcion</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="d-flex flex-row-reverse bd-highlight px-1 px-sm-1 px-md-3 px-lg-4 py-2">
                                    <button name="button" value="Create" class="btn btn-success btn-lg"><i class="align-middle me-2 fas fa-fw fa-check-circle"></i> Crear</button>
                                </div>
                            </div>
                        }
                    }
                    <!-- ============================================ CAJA CHICA ============================================ -->

                    @if (Convert.ToUInt32(Model.idCatTipoSolicitudes) == 2)
                    {
                        using (Html.BeginForm())
                        {
                            @*@Html.AntiForgeryToken()*@
                            <div class="col-4">
                                @*@Html.LabelFor(model => model.idCatTipoSolicitudes, "idCatTipoSolicitudes",
                                    htmlAttributes: new { @class = "control-label" })*@

                                <div class="input-group mb-3" id="idSolicitud">
                                    @Html.EditorFor(model => model.idTblSolicitudes, new
                                    {
                                    htmlAttributes = new
                                    { @class = "form-control" }
                                    })
                                    @Html.ValidationMessageFor(model => model.idTblSolicitudes, "", new
                                    {
                                    @class
                                    = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form">
                                <div class="container border py-4">
                                    <div class="row">

                                        <div class="col-4">
                                            <label class="control-label">Tipo de Solicitud</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-clipboard-check-fill"></i>
                                                </span>
                                                @Html.DropDownList("idCatTipoSolicitudes", null, htmlAttributes:
                                                new { @class = "form-select" })
                                                @Html.ValidationMessageFor(model => model.idCatTipoSolicitudes,
                                                "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <label class="control-label">
                                                Fecha en la que inicia la
                                                solicitud
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-calendar-date"></i>
                                                </span>
                                                @Html.EditorFor(model => model.fechaInicio, new
                                                {
                                                htmlAttributes
                                                = new
                                                {
                                                @class = "form-control",
                                                type = "date",
                                                value =
                                                "dd/mm/yyyy"
                                                }
                                                })
                                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new
                                                {
                                                @class = "text-danger"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="control-label">Motivo de la solicutud</label>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.nombreSolicitud, new
                                                {
                                                htmlAttributes = new
                                                {
                                                @class = "form-control",
                                                id =
                                                "floatingTextarea2"
                                                }
                                                })
                                                @Html.ValidationMessageFor(model => model.nombreSolicitud, "",
                                                new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="control-label">Monto</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Q</span>
                                                <input type="number" name="monto" value="@Model.monto"
                                                       placeholder="00.00" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.monto, "", new
                                                {
                                                @class = "text-danger"
                                                })
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label class="control-label">Tipo de Anticippo</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-cash-stack"></i>
                                                </span>
                                                @Html.DropDownList("idCatTipoAnticipo", null, htmlAttributes:
                                                new { @class = "form-select" })
                                                @Html.ValidationMessageFor(model => model.idCatTipoAnticipo, "",
                                                new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <label class="control-label">Observaciones</label>
                                            <div class="form-floating">
                                                <textarea class="form-control" name="Observacion"
                                                          placeholder="Descripcion" id="floatingTextarea1"></textarea>
                                                <label for="floatingTextarea1">Descripcion</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="container border py-4" id="containerFoother">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button name="button" value="Create" class="btn btn-success">
                                                    <i class="bi bi-check2-all"></i> Crear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- ============================================ COMPRA DE ACTIVOS ============================================ -->

                    @if (Convert.ToUInt32(Model.idCatTipoSolicitudes) == 3)
                    {
                        using (Html.BeginForm())
                        {
                            @*@Html.AntiForgeryToken()*@
                            <div class="col-4">
                                @*@Html.LabelFor(model => model.idCatTipoSolicitudes, "idCatTipoSolicitudes",
                                    htmlAttributes: new { @class = "control-label" })*@

                                <div class="input-group mb-3" id="idSolicitud">
                                    @Html.EditorFor(model => model.idTblSolicitudes, new
                                    {
                                    htmlAttributes = new
                                    { @class = "form-control" }
                                    })
                                    @Html.ValidationMessageFor(model => model.idTblSolicitudes, "", new
                                    {
                                    @class
                                    = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form">
                                <div class="container border py-4">
                                    <div class="row">

                                        <div class="col-4">
                                            <label class="control-label">Tipo de Solicitud</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-clipboard-check-fill"></i>
                                                </span>
                                                @Html.DropDownList("idCatTipoSolicitudes", null, htmlAttributes:
                                                new { @class = "form-select" })
                                                @Html.ValidationMessageFor(model => model.idCatTipoSolicitudes,
                                                "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <label class="control-label">
                                                Fecha en la que inicia la
                                                solicitud
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-calendar-date"></i>
                                                </span>
                                                @Html.EditorFor(model => model.fechaInicio, new
                                                {
                                                htmlAttributes
                                                = new
                                                {
                                                @class = "form-control",
                                                type = "date",
                                                value =
                                                "dd/mm/yyyy"
                                                }
                                                })
                                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new
                                                {
                                                @class = "text-danger"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="control-label">Motivo de la solicutud</label>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.nombreSolicitud, new
                                                {
                                                htmlAttributes = new
                                                {
                                                @class = "form-control",
                                                id =
                                                "floatingTextarea2"
                                                }
                                                })
                                                @Html.ValidationMessageFor(model => model.nombreSolicitud, "",
                                                new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="control-label">Monto</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Q</span>
                                                <input type="number" name="monto" value="@Model.monto"
                                                       placeholder="00.00" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.monto, "", new
                                                {
                                                @class = "text-danger"
                                                })
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label class="control-label">Tipo de Anticippo</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-cash-stack"></i>
                                                </span>
                                                @Html.DropDownList("idCatTipoAnticipo", null, htmlAttributes:
                                                new { @class = "form-select" })
                                                @Html.ValidationMessageFor(model => model.idCatTipoAnticipo, "",
                                                new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <label class="control-label">Observaciones</label>
                                            <div class="form-floating">
                                                <textarea class="form-control" name="Observacion"
                                                          placeholder="Descripcion" id="floatingTextarea1"></textarea>
                                                <label for="floatingTextarea1">Descripcion</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="container border py-4" id="containerFoother">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button name="button" value="Create" class="btn btn-success">
                                                    <i class="bi bi-check2-all"></i> Crear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- ============================================ SOLICITUD DE GASTOS ============================================ -->

                    @if (Convert.ToUInt32(Model.idCatTipoSolicitudes) == 4)
                    {
                        using (Html.BeginForm())
                        {
                            @*@Html.AntiForgeryToken()*@
                            <div class="col-4">
                                @*@Html.LabelFor(model => model.idCatTipoSolicitudes, "idCatTipoSolicitudes",
                                    htmlAttributes: new { @class = "control-label" })*@

                                <div class="input-group mb-3" id="idSolicitud">
                                    @Html.EditorFor(model => model.idTblSolicitudes, new
                                    {
                                    htmlAttributes = new
                                    { @class = "form-control" }
                                    })
                                    @Html.ValidationMessageFor(model => model.idTblSolicitudes, "", new
                                    {
                                    @class
                                    = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form">
                                <div class="container border py-4">
                                    <div class="row">

                                        <div class="col-4">
                                            <label class="control-label">Tipo de Solicitud</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-clipboard-check-fill"></i>
                                                </span>
                                                @Html.DropDownList("idCatTipoSolicitudes", null, htmlAttributes:
                                                new { @class = "form-select" })
                                                @Html.ValidationMessageFor(model => model.idCatTipoSolicitudes,
                                                "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <label class="control-label">
                                                Fecha en la que inicia la
                                                solicitud
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-calendar-date"></i>
                                                </span>
                                                @Html.EditorFor(model => model.fechaInicio, new
                                                {
                                                htmlAttributes
                                                = new
                                                {
                                                @class = "form-control",
                                                type = "date",
                                                value =
                                                "dd/mm/yyyy"
                                                }
                                                })
                                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new
                                                {
                                                @class = "text-danger"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="control-label">Motivo de la solicutud</label>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.nombreSolicitud, new
                                                {
                                                htmlAttributes = new
                                                {
                                                @class = "form-control",
                                                id =
                                                "floatingTextarea2"
                                                }
                                                })
                                                @Html.ValidationMessageFor(model => model.nombreSolicitud, "",
                                                new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="control-label">Monto</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Q</span>
                                                <input type="number" name="monto" value="@Model.monto"
                                                       placeholder="00.00" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.monto, "", new
                                                {
                                                @class = "text-danger"
                                                })
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label class="control-label">Tipo de Anticippo</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i class="bi bi-cash-stack"></i>
                                                </span>
                                                @Html.DropDownList("idCatTipoAnticipo", null, htmlAttributes:
                                                new { @class = "form-select" })
                                                @Html.ValidationMessageFor(model => model.idCatTipoAnticipo, "",
                                                new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12">
                                            <label class="control-label">Observaciones</label>
                                            <div class="form-floating">
                                                <textarea class="form-control" name="Observacion"
                                                          placeholder="Descripcion" id="floatingTextarea1"></textarea>
                                                <label for="floatingTextarea1">Descripcion</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="d-flex flex-row-reverse bd-highlight">
                                    <button name="button" value="Create" class="btn btn-success btn-lg"><i class="align-middle me-2 fas fa-fw fa-check-circle"></i> Crear</button>
                                    <div class="p-2 bd-highlight">Flex item 2</div>
                                    <div class="p-2 bd-highlight">Flex item 3</div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>


    <script>
    $(document).ready(function ()
    {
        $("#idSolicitud").hide();

        //modal agregar destinos
        $('#exampleModal').modal({
            backdrop: 'static',   // This disable for click outside event
            keyboard: false        // This for keyboard event
        });
        //modal editar destinos
        $('#modeleditar').modal({
            backdrop: 'static',
            keyboard: false
        });

        //modal agregar vehiculos
        $('#exampleModal1').modal({
            backdrop: 'static',   // This disable for click outside event
            keyboard: false        // This for keyboard event
        });
        //modal editar vehiculos
        $('#exampleModal2').modal({
            backdrop: 'static',
            keyboard: false
        });

        //modal agregar facturas
        $('#modalAgregarFacturas').modal({
            backdrop: 'static',   // This disable for click outside event
            keyboard: false        // This for keyboard event
        });
        //modal editar factura
        $('#modalEditarFacturas').modal({
            backdrop: 'static',
            keyboard: false
        });


        $('#guardardestino').click(function (e)
        {
            //guardardatos();
            var idCatUbicaciones = $('#idCatUbicaciones').val();
            var observaciondestino = $('#observaciondestino').val();
            // alert(idCatUbicaciones);
            //alert(observaciondestino);
            var grupodestino =
            {
                idCatUbicaciones: idCatUbicaciones,
                idTblSolicitudes: @Model.idTblSolicitudes,
                observaciones: observaciondestino
            };

            $.ajax({
                type: 'POST',
            //data: grupodestino,
                url: '@Url.Action("Guardardestino", "TblSolicitudes")',
                data: grupodestino,
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                    $('#resultadoFotografias').html('');
                    $('#resultadoFotografias').html(' <br><br><center><img class="img-responsive img-thumbnail" src="Imagenes/loading-4.gif" alt="LGHD"></center>');
                },
                success: function (response) {
                    $('#cerrarModalDestino').click();
                    //$('#exampleModal').click();
                    //$('#detalledestinos').html('');
                /*$('#detalledestinos')*/
                //$('#'+impresion+'').html(response);
                    cargardetalle();
                    limpiarDestinos();
                },
            });
            return false;
            function cargardetalle()
            {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Detalledestino", "TblSolicitudes")',
                    data: {
                        id: @Model.idTblSolicitudes,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#detalledestinos').html(response);
                    },
                });
                return false;
            }
            function limpiarDestinos()
            {
                $('#idCatUbicaciones').val("");
                $('#observaciondestino').val("");
            }
        });

        $("#idOpVehiculos").change(function ()
        {
            $.get("/TblSolicitudes/GetVehiculos", { idTipoVehiculo: $("#idOpVehiculos").val() }, function (vehiculo) {
            // VACIAMOS EL DropDownList
                $("#idVehiculo").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                $("#idVehiculo").append("<option value> -- SELECCIONE VEHICULO " + $("#idOpVehiculos option:selected").text() + " -- </option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(vehiculo, function (index, row) {
                    $("#idVehiculo").append("<option value='" + row.idTblVehiculos + "'>" + row.descripcion + "</option>")

                });
            });
        });


        $('#guardarVehiculo').click(function (e) {
            if (window.FormData !== undefined)
            {
                var fileUploadI = $("#FileKiloInicial").get(0);
                var filesI = fileUploadI.files[0];

                var fieleUploadF = $("#FileKiloFinal").get(0);
                var filesF = fieleUploadF.files[0];

                // Create  a FormData object
                var fileData = new FormData();

                if (filesI != null) {
                    fileData.append("imagenKilometrajeI", filesI);
                }
                if (filesI == null) {
                    fileData.append("imagenKilometrajeInicial", "sindatos1Itza");
                }

                if (filesF != null) {
                    fileData.append("imagenKilometrajeF", filesF);
                }
                if (filesF == null) {
                    fileData.append("imagenKilometrajeFinal", "sindatos2Itza");
                }

                // datos generales del formulario para registro de vehiculo
                fileData.append("idSolicitud", $("#idTblSolicitudes").val());
                fileData.append("kilometrajeInicial", $("#kilometrajeInicial").val());
                fileData.append("kilometrajeFinal", $("#kilometrajeFinal").val());
                fileData.append("idTblVehiculos", $("#idVehiculo").val());
                fileData.append("observaciones", $("#detalleRecepcion").val());

                $.ajax({
                    url: '/TblSolicitudes/UploadFilesKilometraje', //URL to upload files
                    type: "POST", //as we will be posting files and other method POST is used
                    processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                    contentType: false,
                    data: fileData,
                    beforeSend: function (result)
                    {
                        result.setRequestHeader("If-Modified-Since", "0");
                        result.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (result)
                    {
                    //alert(result);
                        limpiarVehiculos();
                        $('#cerrarModalVehiculos').click();
                        @*$('#example').html(' <div id="detalleVehiculos" class="mt-2">@Html.Action("DetalleVehiculo", new { id = Model.idTblSolicitudes })</div>');*@
                        cargardetalle(result);
                    },
                    error: function (err)
                    {
                        alert(err.statusText);
                    }
                });
            /*----- cargar detalle -----*/
            }
            else
            {
                alert("FormData is not supported.");
            }
            function cargardetalle(result)
            {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("DetalleVehiculo", "TblSolicitudes")',
                    data:
                    {
                        id: result,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#detalleVehiculos').html(response);
                    },
                });
                return false;
            }
            function limpiarVehiculos()
            {
                $("#idVehiculo").val("");
                $("#idVehiculo").empty();
                $("#kilometrajeInicial").val("");
                $("#FileKiloInicial").val("");
                $("#FileKiloFinal").val("");
                $("#kilometrajeFinal").val("");
                $("#detalleRecepcion").val("");
            }
        });

        $('#agregarFactura').click(function (e) {
        if (window.FormData !== undefined)
        {
            var fileUploadF = $("#FileFactura").get(0);
            var filesF = fileUploadF.files[0];

            // Create  a FormData object
            var fileData = new FormData();

            if (filesF != null) {
                fileData.append("imagenF", filesF);
            }
            if (filesF == null) {
                fileData.append("imagenFacturaS", "sindatosF1Itza");
            }

            // datos generales del formulario para registro de vehiculo
            fileData.append("idSolicitud", $('#idTblSolicitudes').val());
            fileData.append("numeroFactura", $("#noFactura").val());
            fileData.append("idTblProveedores", $("#dropProveedor").val());
            fileData.append("serieFactura", $("#serieFactura").val());
            fileData.append("fechaFactura", $("#fechaFactura").val());
            fileData.append("montoFactura", $("#montoFactura").val());
            fileData.append("fechaVencimiento", $("#fechaVencimiento").val());
            fileData.append("razonF", $("#razonFacturaS").val());

            $.ajax({
                url: '/TblSolicitudes/GuardarFactura', //URL to upload files
                type: "POST", //as we will be posting files and other method POST is used
                //dataType: "JSON",
                processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                contentType: false,
                data: fileData,
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (result)
                {
                    cargardetallefacturas();
                    limpiarDatosFactura();
                    $('#cerrarModalFactura').click();
                },
                error: function (err)
                {
                    alert(err.statusText);
                }
            });
        }
        else
        {
            alert("Archivos no soportados.");
        }
            function cargardetallefacturas()
            {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("detalleFacturas", "TblSolicitudes")',
                    data:
                    {
                        id: @Model.idTblSolicitudes,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#detalleFacturas').html(response);
                    },
                });
                return false;
            }

            function limpiarDatosFactura()
            {
                $('#idTblSolicitudes').val("");
                $("#noFactura").val("");
                $('#idTblProveedores').empty();
                $('#idTblProveedores').val("");
                $("#serieFactura").val("");
                $('#fechaFactura').val("");
                $('#montoFactura').val("");
                $('#fechaVencimiento').val("");
                $("#razonFacturaS").val("");
            }
        });


    });
    </script>



<!-- Modal Agregar Destino-->
<div class="modal fade" id="modalDestinoS" tabindex="-1" aria-labelledby="modalDestinoSLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDestinoSLabel">DETALLE DESTINO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="idCatUbicaciones" class="form-label">Seleccione Destino</label>
                    @Html.DropDownList("idCatUbicaciones", null, htmlAttributes: new { @class = "form-select" })
                </div>

                <div class="mb-3">
                    <label for="observaciondestino" class="form-label">Observacion Adicional</label>
                    <textarea class="form-control" id="observaciondestino" rows="3"></textarea>
                    <div id="emailHelp" class="form-text">Informacion adicional a otros destinos.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalDestino" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="guardardestino">Guardar Destino</button>
            </div>
        </div>
    </div>
</div>







<!-- Modal agregar vehiculo -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="uploader">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Detalle de Vehiculo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Tipo de Vehiculo</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-circle-question"></i></span>
                                @*@Html.DropDownList("idCatOpcionesVehiculos", null, htmlAttributes: new { @class =
                                    "form-control" })*@
                                @Html.DropDownList("idOpVehiculos", ViewBag.CatVehiculos as List<SelectListItem>,
                                    "-- Seleccione tipo de Vehiculo --", new { @class = "form-control" })
                            </div>
                            @*
                                </div>
                                <div class="col-12">*@
                            <label class="control-label">Seleccione un Vehiculo</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-car"></i></span>
                                @*@Html.DropDownList("idTblVehiculos", null, htmlAttributes: new { @class =
                                    "form-control" })*@
                                @Html.DropDownList("idVehiculo", new List<SelectListItem>(),
                                    "-- Seleccione Vehiculo --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="kilometrajeInicial">Kilometraje Inicial</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-gauge-simple-high"></i></span>
                            <input type="text" class="form-control" id="kilometrajeInicial" aria-describedby="text"
                                   placeholder="0.00">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="control-label">Imagen Kilometraje Inicial</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                            <input type="file" id="FileKiloInicial" class="form-control" accept="image/*" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="control-label">Kilometraje Final</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-gauge"></i></span>
                            <input type="text" class="form-control" id="kilometrajeFinal" aria-describedby="emailHelp"
                                   placeholder="0.00">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="formFile" class="form-label">Imagen del Kilometraje Final</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                            <input class="form-control" type="file" id="FileKiloFinal" accept="image/*">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="detalleRecepcion" class="form-label">Detalle de recepcion</label>
                        <textarea class="form-control" id="detalleRecepcion" rows="3"></textarea>
                        <div id="recepcionHelp" class="form-text">Detalle del estado en el que recibio el vehiculo</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cerrarModalVehiculos"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" id="guardarVehiculo">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal editar vehiculo -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2">Editar Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleEditarVehiculos"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalEV"
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="actualizarVehiculoS">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver kilometraje inicial vehiculo -->
<div class="modal fade" id="verkInicial" tabindex="-1" aria-labelledby="verkInicialLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verkInicial">Kilometraje Inicial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleKlmInicial"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver kilometraje final vehiculo -->
<div class="modal fade" id="verkFinal" tabindex="-1" aria-labelledby="verkFinalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verkFinal">Kilometraje Final</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleKlmFinal"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar Facturas -->
<div class="modal fade" id="modalAgregarFacturas" tabindex="-1" aria-labelledby="modalAgregarFacturasLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarFacturasLabel">Agregar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <label class="control-label">Seleccione Proveedor</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-store"></i></span>
                        <select id="dropProveedor" class="form-control" data-live-search="true"
                                data-live-search-style="begins" data-actions-box="true">
                            <option value="0">Seleccione proveedor</option>
                            @{
                                foreach (var prov in Model.proveedoresVM)
                                {
                                    <option value="@prov.idTblProveedores">@prov.nombre</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">No. de Factura</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-file-lines"></i></span>
                        <input type="text" class="form-control" id="noFactura" aria-describedby="text">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Serie</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-file-lines"></i></span>
                        <input type="text" class="form-control" id="serieFactura" aria-describedby="text">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Fecha de Factura</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                        <input type="date" class="form-control" id="fechaFactura">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Fecha Vencimiento</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                        <input type="date" class="form-control" id="fechaVencimiento">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Monto</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Q</span>
                        <input type="number" name="montoFactura" class="form-control" id="montoFactura"
                               placeholder="00.00" />
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Imagen Factura</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input type="file" id="FileFactura" class="form-control" accept="image/*" />
                    </div>
                </div>
                <div class="col-12">
                    <label for="razonFacturaS" class="form-label">Razon Factura</label>
                    <textarea class="form-control" id="razonFacturaS" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalFactura"
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="agregarFactura">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Facturas -->
<div class="modal fade" id="modalEditarFacturas" tabindex="-1" aria-labelledby="modalEditarFacturasLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarFacturas">Editar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="detalleEditarFacturas"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalEFactura"
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="editarFacturaS">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR RUBROS -->
<div class="modal fade" id="modalAgregarRubro" tabindex="-1" aria-labelledby="modalAgregarRubroLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarRubroLabel">Agregar Rubro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="idCatRubros" class="form-label">Seleccione Rubro</label>
                    @Html.DropDownList("idCatRubros", null, htmlAttributes: new { @class = "form-select" })
                </div>

                <div class="mb-3">
                    <label for="observacionRubro" class="form-label">Observacion</label>
                    <textarea class="form-control" id="observacionRubro" rows="3"></textarea>
                    <div id="emailHelp" class="form-text">Informacion adicional a otro rubro.</div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalR"
                        data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="guardarRubros">Guardar</button>
            </div>
        </div>
    </div>
</div>