@model IEnumerable<iveCincoFrame.Models.TblSolicitudes>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card col-xl-12 col-md-12 col-sm-12 col-lg-12">
    <div class="card-body col-xl-12 col-md-12 col-sm-12 col-lg-12 ">
        <h1>Listado de Solicitudes</h1>
        <div class="container-botom">
            @Html.ActionLink("Historial", "IndexAuditoriaVisado", null, new { @class = "btn btn-primary" })
            <br />
        </div>

        <div class="table-responsive table-solicitudes" id="container-tablesolicitud">
            <table class="table table-bordered table-striped table-hover" id="tbl-solicitudes" width="100%" cellpadding="0">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Tipo Solicitud</th>
                        <th>Motivo</th>
                        <th>Monto</th>
                        <th>Solicitante</th>
                        <th>Estados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                @{var iterador = 1;}
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">@iterador</td>
                            <td>
                                @String.Format("{0:dd/MM/yyyy}", item.fechaInicio)
                            </td>
                            <td>
                                @String.Format("{0:dd/MM/yyyy}", item.fechaFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CatTipoSolicitudes.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreSolicitud)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.monto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TblUsuarios.TblPersonas.primerNombre)
                                @Html.DisplayFor(modelItem => item.TblUsuarios.TblPersonas.primerApellido)
                            </td>
                            <td>
                                @if (item.idCatEstados == 1)
                                {
                                    <!-- ESTADO DE GERENTE -->
                                    <button type="button" class="btn btn-outline-info btn-sm detalleEstadoGerente" codigo="@item.idTblSolicitudes" data-toggle="tooltip" title="Estado Gerente" data-bs-toggle="modal" data-bs-target="#modalEstadoGerente">
                                        <i class="align-middle me-2 fas fa-fw fa-check-circle"></i>
                                    </button>
                                    <!-- ESTADO DE CONTABILIDAD -->
                                    <button type="button" class="btn btn-outline-info btn-sm detalleEstadoContabilidad" codigo="@item.idTblSolicitudes" data-toggle="tooltip" title="Estado Contabilidad" data-bs-toggle="modal" data-bs-target="#modalEstadoContabilidad">
                                        <i class="align-middle me-2 fas fa-fw fa-check-circle"></i>
                                    </button>
                                }
                                else
                                {
                                    <!-- ESTADO DE GERENTE -->
                                    <button type="button" class="btn btn-success btn-sm detalleEstadoGerente" codigo="@item.idTblSolicitudes" data-toggle="tooltip" title="Estado Gerente" data-bs-toggle="modal" data-bs-target="#modalEstadoGerente">
                                        <i class="align-middle me-2 fas fa-fw fa-check-circle"></i>
                                    </button>
                                    <!-- ESTADO DE CONTABILIDAD -->
                                    <button type="button" class="btn btn-success btn-sm detalleEstadoContabilidad" codigo="@item.idTblSolicitudes" data-toggle="tooltip" title="Estado Contabilidad" data-bs-toggle="modal" data-bs-target="#modalEstadoContabilidad">
                                        <i class="align-middle me-2 fas fa-fw fa-check-circle"></i>
                                    </button>
                                }
                            </td>
                            <td>
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="align-middle me-2 fas fa-fw fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item editardetalleAuditoria" codigo="@item.idTblSolicitudes"><i class="align-middle me-2 fas fa-fw fa-pen"></i> Editar</a></li>
                                </ul>
                            </td>
                        </tr>
                        iterador++;
                    }
                </tbody>



            </table>
        </div>
    </div>
</div>
        <script>
    $(document).ready(function ()
    {
        $('#tbl-solicitudes').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });

        $('.editardetalleAuditoria').click(function ()
        {
            var codigo = $(this).attr('codigo');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("detalleEditarSAuditoria", "TblSolicitudes")',
                data:
                {
                    id: codigo,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#modalAauditoria').modal("show");
                    $('#detalleAprobarAuditoria').html(response);
                },
            });
            return false;
        });

        $('#actualizarAuditoria').click(function (e)
        {
            var idEstadoSolicitud = $('#CatEstadoSolicitud').val();
            var obEstadoSolicitud = $('#detalleEstadoSolicitud').val();
            var idSolicitudEstado = $('#idEstadoSAuditoria').val();
                //alert(idEstadoSolicitud);
                //alert(obEstadoSolicitud);
            var grupoEstadoC = {
                idCatEstados: idEstadoSolicitud,
                idTblEstado_Solicitudes: idSolicitudEstado,
                observaciones: obEstadoSolicitud
            };

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GuardarEstadoSolicitudA", "TblSolicitudes")',
                    data: grupoEstadoC,
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                        $('#resultadoFotografias').html('');
                        $('#resultadoFotografias').html(' <br><br><center><img class="img-responsive img-thumbnail" src="images/cargandocirculo.gif" alt="LGHD"></center>');
                        //return false;
                    },
                    success: function (response)
                    {
                        $('#cerrarModalA').click();
                        limpiarDatosEstadoA();
                        window.location.reload();
                    },
                });
            return false;

            function limpiarDatosEstadoA()
            {
                $('#CatEstadoSolicitud').empty();
                $('#CatEstadoSolicitud').val("");
                $('#idEstadoSA').val("");
                $('#detalleSolicitudC').val("");
            }
        });
            //Ver estados
        $('.detalleEstadoGerente').click(function ()
        {
            var codigo = $(this).attr('codigo');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("estadoGerente", "TblSolicitudes")',
                data:
                {
                    id: codigo,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#VerdetalleEstadoGerente').html(response);
                },
            });
            return false;
        });

        $('.detalleEstadoContabilidad').click(function ()
        {
            var codigo = $(this).attr('codigo');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("estadoContabilidad", "TblSolicitudes")',
                data:
                {
                    id: codigo,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    detalleDepositoGl();
                    $('#VerdetalleEstadoContabilidad').html(response);
                },
            });
            return false;
            function detalleDepositoGl(){
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("detalleDepositosGlobales", "TblSolicitudes")',
                    data:
                    {
                        id: codigo,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#DetalleDeposito').html(response);
                    },
                });
                return false;
            }
        });


    });
        </script>



        <!-- Modal Aprobar Solicitud por Contabilidad -->
        <div class="modal fade" id="modalAauditoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAauditoriaLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-light" id="modalAauditoriaLabel">Solicitud</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="detalleAprobarAuditoria"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cerrarModalA" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="actualizarAuditoria">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL VER ESTADO DEL GERENTE -->
        <div class="modal fade" id="modalEstadoGerente" tabindex="-1" aria-labelledby="modalEstadoGerenteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-light" id="modalEstadoGerenteLabel">Estado Gerente</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="VerdetalleEstadoGerente"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL VER ESTADO DE CONTABILIDAD -->
        <div class="modal fade" id="modalEstadoContabilidad" tabindex="-1" aria-labelledby="modalEstadoContabilidadLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-light" id="modalEstadoContabilidadLabel">Estado Contabilidad</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="VerdetalleEstadoContabilidad"></div>
                    </div>
                </div>
            </div>
        </div>
