@model IEnumerable<iveCincoFrame.Models.TblSolicitudes>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card col-xl-12 col-md-12 col-sm-12 col-lg-12">
    <div class="card-body col-xl-12 col-md-12 col-sm-12 col-lg-12 ">
        <h1>Listado de Solicitudes</h1>

        <div class="btn-group py-2">
            @Html.ActionLink("Regresar", "IndexContabilidad", null, new { @class = "btn btn-primary" })
        </div>

        <table class="table table-bordered table-striped table-hover" id="tbl-solicitudes" width="100%" cellpadding="0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Tipo Solicitud</th>
                    <th>Motivo</th>
                    <th>Monto</th>
                    <th>Solicitante</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            @{var iterador = 1;}
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@iterador</td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", item.fechaInicio)
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", item.fechaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatTipoSolicitudes.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreSolicitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblUsuarios.TblPersonas.primerNombre)
                            @Html.DisplayFor(modelItem => item.TblUsuarios.TblPersonas.primerApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatEstados.descripcion)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button type="button" class="btn btn-outline-primary form-control btn-sm editardetalleContabilidad" codigo="@item.idTblSolicitudes">
                                            <span>
                                                <i class="align-middle me-2 fas fa-fw fa fa-pencil" aria-hidden="true"></i>  Editar
                                            </span>
                                        </button>
                                    </li>
                                    <li>
                                        @*<button type="button" onclick="location.href='@Url.Action("Edit/" + item.idTblPeriodos, "TblPeriodos")'" class="btn form-control">*@
                                        <button type="button" class="btn btn-outline-success form-control btn-sm editardetalleBoletasContabilidad" codigo="@item.idTblSolicitudes">
                                            <span>
                                                <i class="align-middle me-2 fas fa-fw fa-money-bill" aria-hidden="true"></i>  Boleta
                                            </span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    iterador++;
                }
            </tbody>



        </table>
    </div>

</div>

<script>
    $(document).ready(function ()
    {
        $('#tbl-solicitudes').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });

        $('.editardetalleContabilidad').click(function ()
        {
            var codigo = $(this).attr('codigo');
            //alert(codigo);
            $.ajax(
            {
                type: 'GET',
                url:  '@Url.Action("detalleEditarSContabilidad", "TblSolicitudes")',
                    data:
                    {
                      id: codigo,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#modalAContabilidad').modal("show");
                        $('#detalleAprobarContabilidad').html(response);
                    },
            });
            return false;
        });

        $('.editardetalleBoletasContabilidad').click(function ()
        {
            var codigo = $(this).attr('codigo');
            //alert(codigo);
            $.ajax(
                {
                    type: 'GET',
                    url: '@Url.Action("detalleBoletasContabilidadS", "TblSolicitudes")',
                    data:
                    {
                        id: codigo,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response) {
                        $('#modalDepositoContabilidad').modal("show");
                        $('#detalleBoletasContabilidad').html(response);
                    },
                });
            return false;
        });


        $('#actualizarContabilidad').click(function (e)
        {
            var idEstadoSolicitud = $('#CatEstadoSolicitud').val();
            var obEstadoSolicitud = $('#detalleEstadoSolicitud').val();
            var idSolicitudEstado = $('#idEstadoSC').val();


            var grupoEstadoC = {
                idCatEstados: idEstadoSolicitud,
                idTblEstado_Solicitudes: idSolicitudEstado,
                observaciones: obEstadoSolicitud
            };
            $.ajax({
                type: 'POST',
                //data: grupodestino,
                url: '@Url.Action("GuardarEstadoSolicitudC", "TblSolicitudes")',
                data: grupoEstadoC,
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                    $('#resultadoFotografias').html('');
                    $('#resultadoFotografias').html(' <br><br><center><img class="img-responsive img-thumbnail" src="images/cargandocirculo.gif" alt="LGHD"></center>');
                },
                success: function (response) {
                    $('#cerrarModalC').click();
                    limpiarDatosEstadoC();
                    detalleDepositosSolicitante(response);
                },
            });
            return false;
            function limpiarDatosEstadoC()
            {
                $('#CatEstadoSolicitud').empty();
                $('#CatEstadoSolicitud').val("");
                $('#idEstadoSC').val("");
                $('#detalleSolicitudC').val("");
            }
            function detalleDepositosSolicitante(num)
            {
                $.ajax(
                    {
                        type: 'GET',
                        url: '@Url.Action("detalleBoletasSolicitanteS", "TblSolicitudes")',
                        data:
                        {
                            id: num,
                        },
                        beforeSend: function (response) {
                            response.setRequestHeader("If-Modified-Since", "0");
                            response.setRequestHeader("Cache-Control", "no-cache");
                        },
                        success: function (response) {
                            $('#modalDepositoContabilidad').modal("show");
                            $('#detalleBoletasContabilidad').html(response);
                        },
                    });
                return false;
            }
        });

        function limpiarDepositoConta()
        {
            $('#descripcion').val("");
            $('#idASolicitudConta').val("");
            $('#fechaDeposito').val("");
            $('#noBoleta').val("");
            $('#noCuenta').val("");
            $('#monto').val("");
            $('#FileImagenBoletaS').val("");
        }

        $('#agregarBContabilidad').click(function () {
            if (window.FormData !== undefined)
            {
                var fieleBoletaC = $("#FileImagenBoletaS").get(0);
                var fileC = fieleBoletaC.files[0];

                // Create  a FormData object
                var fileData = new FormData();

                if (fileC != null) {
                    fileData.append("imagenBoletaConta", fileC);
                }
                if (fileC == null) {
                    fileData.append("imgBoletaConta", "sinBoletaItza0");
                }

                // datos generales del formulario para registro de vehiculo
                fileData.append("descripcionBoleta", $("#descripcion").val());
                fileData.append("idSolicitudContabilidad", $("#idSoliciC").val());
                fileData.append("fDepositoC", $("#fechaDeposito").val());
                fileData.append("noBoletaC", $("#noBoleta").val());
                fileData.append("numeroCuenta", $("#noCuenta").val());
                fileData.append("montoBoleta", $("#monto").val());

                $.ajax({
                    url: '/TblSolicitudes/UploadFileBoletaContabilidad',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: fileData,
                    beforeSend: function (result)
                    {
                        result.setRequestHeader("If-Modified-Since", "0");
                        result.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (result)
                    {
                        limpiarDepositoConta();
                        $('#cerrarModalCD').click();
                        detalleDepositosSolicitante(result);
                    },
                    error: function (err)
                    {
                        limpiarDepositoConta();
                        alert(err.statusText);
                    }
                });
            }
            else {
                alert("Archivos no soportados.");
            }
            function detalleDepositosSolicitante(num)
            {
                $.ajax(
                    {
                        type: 'GET',
                        url: '@Url.Action("detalleBoletasSolicitanteS", "TblSolicitudes")',
                        data:
                        {
                            id: num,
                        },
                        beforeSend: function (response) {
                            response.setRequestHeader("If-Modified-Since", "0");
                            response.setRequestHeader("Cache-Control", "no-cache");
                        },
                        success: function (response) {
                            $('#modalDepositoContabilidad').modal("show");
                            $('#detalleBoletasContabilidad').html(response);
                        },
                    });
                return false;
            }
        });


    });
</script>



<!-- Modal Aprobar Solicitud por Contabilidad-->
<div class="modal fade" id="modalAContabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAContabilidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="modalAContabilidadLabel">Solicitud</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleAprobarContabilidad"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalC" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="actualizarContabilidad">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para ver los pagos realizados y agregar boletas-->
<div class="modal fade" id="modalDepositoContabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDepositoContabilidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="modalDepositoContabilidadLabel">Boletas de Pago ó Deposito</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleBoletasContabilidad"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalCB" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar boletas de pago o deposito-->
<div class="modal fade" id="modalAgregarDeposito" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAgregarDepositoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="modalAgregarDepositoLabel">Agregar Boleta de Pago ó Deposito</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="agregarBoletasContabilidad"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalCD" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="agregarBContabilidad">Guardar</button>
            </div>
        </div>
    </div>
</div>