@model IEnumerable<iveCincoFrame.Models.TblAfiliaciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="card col-xl-12 col-md-12 col-sm-12 col-lg-12">
        <div class="card-body col-xl-12 col-md-12 col-sm-12 col-lg-12 ">
            <h1>Afiliaciones</h1>
            <br />
            <a class="btn btn-success" aria-current="page" href="~/TblAfiliaciones/Create"><strong><i class="fa-solid fa-plus"></i></strong> Agregar</a><div class="col-12">
                <br />
                <table id="tabla-afiliaciones" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.codigoAsociado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nombreCompleto)
                            </th>
                            <th>
                                Documentos
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fechaSolicitud)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.fechaEnvioVisa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fechaRecepcionAfiliacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.codigoAfiliacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idTerminal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.contrasenia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idEstadoZuma)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.numeroCuentaAhorro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.numeroRecibo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idTblUsuarios)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fechaCreacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fechaModificacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idTblUsuarioModifica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CatEstados.descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CatUbicaciones.codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CatZuma.descripcion)
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.codigoAsociado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreCompleto)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="align-middle me-2 fas fa-fw fa-file-pdf"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="~/Documentos/@item.contratoVisa1" target="_blank" class="dropdown-item">Contrato Visa No.1</a>
                                            </li>
                                            <li>
                                                <a href="~/Documentos/@item.contratoVisa2" target="_blank" class="dropdown-item">Contrato Visa No.2</a>
                                            </li>
                                            <li>
                                                <a href="~/Documentos/@item.cartaBanco" target="_blank" class="dropdown-item">Carta del Banco</a>
                                            </li>
                                            <li>
                                                <a href="~/Documentos/@item.cartaCooperativa" target="_blank" class="dropdown-item">Carta Coperativa</a>
                                            </li>
                                            <li>
                                                <a href="~/Documentos/@item.boletaPagoPos" target="_blank" class="dropdown-item">Boleta de pago POS</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaSolicitud)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaEnvioVisa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaRecepcionAfiliacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.codigoAfiliacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idTerminal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contrasenia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idEstadoZuma)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.numeroCuentaAhorro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.numeroRecibo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idTblUsuarios)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaModificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idTblUsuarioModifica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatEstados.descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatUbicaciones.codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatZuma.descripcion)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" id="editarAfiliacion" codigoa="@item.idTblAfiliaciones">Editar</button>
                                    <button type="button" class="btn btn-danger" id="eliminarAfiliacion" codigob="@item.idTblAfiliaciones">Eliminar</button>

                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>






<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-success-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Editar Afiliacion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="detalleActualizar"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        
        cargar();
         function cargar() {
             let timerInterval
             Swal.fire({
                 title: 'Actualizando afiliaciones!',
                 html: 'Tiempo restante <b></b> espere profavor.',
                 timer: 3000,
                 timerProgressBar: true,
                 didOpen: () => {
                     Swal.showLoading()
                     const b = Swal.getHtmlContainer().querySelector('b')
                     timerInterval = setInterval(() => {
                         b.textContent = Swal.getTimerLeft()
                     }, 100)
                 },
                 willClose: () => {
                     clearInterval(timerInterval)
                 }
             }).then((result) => {
                 /* Read more about handling dismissals below */
                 if (result.dismiss === Swal.DismissReason.timer) {
                     console.log('I was closed by the timer')
                 }
             })
         }


        $('#tabla-afiliaciones').DataTable({

            responsive: {
                details: {
                    type: 'column'
                }
            },
            columnDefs: [{
                className: 'dtr-control',
                orderable: false,
                targets: 0
            }],
            order: [1, 'asc']
        });

        $(document).on('click', '#editarAfiliacion', function () {

                var codigo = $(this).attr('codigoa');
                //alert(codigo);

                        $.ajax({
                        type: 'POST',
                        url:  '@Url.Action("EditarAfiliaciones", "TblAfiliaciones")',
                              data: {
                                  id: codigo
                                  },
                        beforeSend: function (response) {
                        },
                            success: function (response) {
                                $('#detalleActualizar').html(response);
                                $('#exampleModal').modal('show');
                        },
                    });
                    return false;
         });


        $(document).on('click', '#eliminarAfiliacion', function () {




            const toastTrigger = document.getElementById('liveToastBtn')
            const toastLiveExample = document.getElementById('liveToast')
            if (toastTrigger) {
                toastTrigger.addEventListener('click', () => {
                    const toast = new bootstrap.Toast(toastLiveExample)

                    toast.show()
                })
            }

             var codigo = $(this).attr('codigob');
             //alert(codigo);
             Swal.fire({
                    icon: 'warning',
                    title: '¿Estás seguro/a de eliminar a este registro?',
                    showConfirmButton: true,
                    confirmButtonText: 'ELIMINAR',
                    confirmButtonColor: '#3085d6',
                    showCancelButton: true,
                    cancelButtonText: 'CANCELAR',
                    cancelButtonColor: '#d33',
                    buttonsStyling: true,

                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteConfirmed", "TblAfiliaciones")',
                            data: {
                                id: codigo
                            },
                            success: function (data) {
                                //alert(response)
                                if (data !== "") {
                                    toastr.success(data.data);

                                }
                                window.location.href = '@Url.Action("Index", "TblAfiliaciones")';
                            }
                        });
                    }
                });
         });

    });
</script>

