
@model iveCincoFrame.Models.TblDirectorios

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2 class="mx-5">Editar Contacto</h2>
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                <div class="card-body">
                    <div class="col-md-6 d-none">
                        <label class="small mb-1" for="idTblDirectorios">Primer Nombre</label>
                        @Html.EditorFor(model => model.idTblDirectorios, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idTblDirectorios, "", new { @class = "text-danger" })
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="primerNombre">Primer Nombre</label>
                            @Html.EditorFor(model => model.primerNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.primerNombre, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="segundoNombre">Segundo Nombre</label>
                            @Html.EditorFor(model => model.segundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.segundoNombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="tercerNombre">Tercer Nombre</label>
                            @Html.EditorFor(model => model.tercerNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tercerNombre, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="primerApellido">Primer Apellido</label>
                            @Html.EditorFor(model => model.primerApellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="segundoApellido">Segundo Apellido</label>
                            @Html.EditorFor(model => model.segundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.segundoApellido, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="apellidoCasada">Apellido de casada</label>
                            @Html.EditorFor(model => model.apellidoCasada, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.apellidoCasada, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (organization name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="idCatDepartamentosTrabajo">Departamento</label>
                            @Html.DropDownList("idCatDepartamentosTrabajo", null, htmlAttributes: new { @class = "form-select" })
                        </div>
                        <!-- Form Group (location)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="idCatPuestos">Puesto</label>
                            @Html.DropDownList("idCatPuestos", null, htmlAttributes: new { @class = "form-select" })
                            @*<select class="form-select" id="idCatPuestos" name="puestos"></select>*@
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="telefono">Telefono</label>
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="correoInstitucional">Correo</label>
                            @Html.EditorFor(model => model.correoInstitucional, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.correoInstitucional, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="telefonoCooperativa">Telefono de la Cooperativa</label>
                            @*@Html.EditorFor(model => model.telefonoCooperativa, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="text" class="form-control" value="2214-2828 / 2214-2800" id="telefonoCooperativa" name="telefonoCooperativa" readonly />
                            @Html.ValidationMessageFor(model => model.telefonoCooperativa, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="numeroExtension">Extension</label>
                            @Html.EditorFor(model => model.numeroExtension, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numeroExtension, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
    $(document).ready(function () {
        $("#idCatDepartamentosTrabajo").change(function () {
            //alert("cambio");
            $("#idCatPuestos").empty();
            $.ajax({
                   type: 'POST',
                   url: '@Url.Action("ObtenerPuestos", "TblDirectorios")',
                   dataType:'json',
                data: { departamentoId: $("#idCatDepartamentosTrabajo").val() },
                success: function (response) {

                    //debugger;
                    $("#idCatPuestos").append('<option  value="0" disabled selected>Selececcione</option>');
                    $.each(response, function (i, puestos) {
                        $("#idCatPuestos").append('<option value="'
                            + puestos.Value + '">'
                            + puestos.Text + '</option>');
                    });

                },
                error: function (ex) {
                       alert('No se pueden cargar los puestos' + ex)
                }
            });
            return false;

        })


    });
    </script>*@

