@model iveCincoFrame.Models.TblSolicitudesCooitzas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layaut_Intranet.cshtml";
}
<div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idTblSolicitudesCooitzas)
        <div class="row px-1 px-sm-1 px-md-12 px-lg-12">
            <div class="col-12 col-sm-12  col-md-12 col-lg-12">
                @Html.Label("Gerencia", new { @class = "form-label" })
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                        <i class="align-middle me-2 fas fa-fw fa-users"></i>
                    </span>
                    @Html.DropDownList("idGerencia", null, htmlAttributes: new { @class = "form-select" })

                </div>
                @Html.ValidationMessageFor(model => model.idGerencia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row px-1 px-sm-1 px-md-12 px-lg-12">
            <div class="col-12 col-sm-6  col-md-12 col-lg-12">
                @Html.Label("Descripción", new { @class = "form-label" })
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                        <i class="align-middle me-2 fas fa-fw fa-pencil-alt"></i>
                    </span>
                    <textarea class="form-control" id="descripcion" name="descripcion" aria-label="With textarea" rows="2" placeholder="Descripción de la Solicitud"></textarea>

                </div>
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row text-end" id="botonera">
            <button type="button" class="btn btn-primary btn-lg" id="guardar-solicitud">Guardar Registro</button>
        </div>
</div>
<br />
<div class="row mt-1">
    <table class="table" id="tblSolicitudes">
        <thead>
            <tr>
                <th>
                    Gerencia
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Usuario Alta
                </th>
                <th>
                    Fecha Alta
                </th>
                <th>
                    Usuario Modifica
                </th>
                <th>
                    Fecha Modificacion
                </th>

                <th>
                    Estado
                </th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody-tblSolicitudesCooitzas" class="small">
        </tbody>
    </table>

</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
    Pace.startOnPageLoad = false;
    getSolicitudes();
    /*Funcion para obtener las solicitudes*/
    function getSolicitudes() {
        Pace.track(function () {
           $.ajax({
              type: 'GET',
               url: '@Url.Action("GetTblSolicitudesCooitzas", "TblSolicitudesCooitzas")',
               dataType: "json",
               beforeSend: function (response) {},
               success: function (result) {
                 $("#tbody-tblSolicitudesCooitzas").html('');//limiar el tbody
                 console.log(result);
                   $.each(result.Responses, function (key, item) {
                    var html = '';
                       html += '<tr>';
                            html += '<td>' + item.Gerencia + '</td>';
                            html += '<td>' + item.Descripcion + '</td>';
                            html += '<td>' + item.UsuarioAlta + '</td>';
                            html += '<td>' + item.FechaAlta + '</td>';
                            html += '<td>' + item.UsuarioModifica + '</td>';
                            html += '<td>' + item.FechaModificacion + '</td>';
                            html += '<td>' + item.Estado + '</td>';
                            html += `<td class="table-action text-center">` +
                                    `<a href="@Url.Action("Edit", "TblSolicitudesMoviemientos")?id=" + ${item.idTblSolicitudesCooitzas}">Movimientos</a>
                                    <a href="#" id="editar-solicitud"  class="mx-2" codigo="${item.idTblSolicitudesCooitzas}"><i class="align-middle me-2 fas fa-fw fa-pencil-alt"></i></a>
                                    </td>`;
                            html += '</tr>';
                    $("#tbody-tblSolicitudesCooitzas").append(html);
                 });
              }
           });
        });
    }
    /*Funcion para guardar una solicitud*/
    $("#guardar-solicitud").on('click', function(e) {
        var idGerencia = document.getElementById("idGerencia").value;
        var descripcion = document.getElementById("descripcion").value;
        var tblSolicitudesCooitzas = {
           idGerencia: idGerencia,
           descripcion: descripcion
        };
        console.log(tblSolicitudesCooitzas);
        e.preventDefault();
        var btn = $(this);
        if (!btn.hasClass('disabled')) {
           async function myAjax(param) {
              let result
              try {
                 result = await $.ajax({
                    url: '@Url.Action("Create", "TblSolicitudesCooitzas")',
                    type: 'POST',
                    data: param,
                    beforeSend: function(response) {
                       let timerInterval
                       Swal.fire({
                          title: 'Creando registros',
                          html: 'Por favor espere mientras se guarda la informacion',
                          allowOutsideClick: false,
                          timerProgressBar: true,
                          didOpen: () => {
                             Swal.showLoading()
                          },
                          willClose: () => {
                             clearInterval(timerInterval)
                          }
                       }).then((result) => {
                          if (result.dismiss === Swal.DismissReason.timer) {
                             console.log('I was closed by the timer')
                          }
                       })
                       response.setRequestHeader("If-Modified-Since", "0");
                       response.setRequestHeader("Cache-Control", "no-cache");
                    },
                 })
                 return result
              } catch (error) {
                 console.error(error)
              }
           }
           myAjax(tblSolicitudesCooitzas).then((data) => {
              console.info('Response:', data)
              btn.removeClass('disabled');
              swal.close();
              console.log(data.Descripcion);
              if (data.Codigo == 1) {
                 toastr.success(data.Descripcion);
                 //se elimina la clase disbled del boton
                 btn.removeClass('disabled');
                 //se llama a ala funcion respectiva para cargar los registro de nuevo
                 // Ejemplo de uso
                 getSolicitudes();
              } else {
                 btn.removeClass('disabled');
                 toastr.error(data.Descripcion);
              }
           })
        } else {
           return false;
        }
     });
     /*Funcion para editar  una solicitud ---> muestra los valores en los input*/
    $(document).on('click', '#editar-solicitud', function() {
        var idTblSolicitudesCooitzas = $(this).attr('codigo');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetTblSolicitud", "TblSolicitudesCooitzas")',
            data: {
                id: idTblSolicitudesCooitzas
            },
            beforeSend: function(response) {},
            success: function(response) {
                console.log(response);
                $("#idTblSolicitudesCooitzas").val(response.oSolicitudDto.idTblSolicitudesCooitzas);
                $("#idGerencia").val(response.oSolicitudDto.idGerencia);
                $("#descripcion").val(response.oSolicitudDto.Descripcion);
                $("#botonera").html('');
                $("#botonera").html('<div class="btn-group" role="group" aria-label="Basic example"><button type="button" class="btn btn-btn btn-success btn-lg" id="guardar-cambios">Guardar Cambios</button><button type="button" id="cancelar-modificacion" class="btn btn-danger btn-lg"> Cancelar</button></div>');
            }
        });
     	return false;
    });
     /*Funcion para cancelar la edicion de una solicitud*/
    $(document).on('click', '#cancelar-modificacion', function () {
        $("#idGerencia").val(3);
        $("#descripcion").val('');
        $("#botonera").html('');
        $("#botonera").html('<button type="button" class="btn btn-primary btn-lg" id="guardar-solicitud">Guardar Registro</button>');
     });
     /*Funcion para guardar los cambios de la solicitud*/
    $(document).on('click', '#guardar-cambios', function (e) {
        var idTblSolicitudesCooitzas = document.getElementById("idTblSolicitudesCooitzas").value;
        var idGerencia = document.getElementById("idGerencia").value;
        var descripcion = document.getElementById("descripcion").value;

        var tblSolicitudesCooitzas = {
           idTblSolicitudesCooitzas: idTblSolicitudesCooitzas,
           idGerencia: idGerencia,
           descripcion: descripcion
        };
        console.log(tblSolicitudesCooitzas);
        e.preventDefault();
        var btn = $(this);
        if (!btn.hasClass('disabled')) {
           async function myAjax(param) {
              let result
              try {
                 result = await $.ajax({
                    url: '@Url.Action("Edit", "TblSolicitudesCooitzas")',
                    type: 'POST',
                    data: param,
                    beforeSend: function (response) {
                       let timerInterval
                       Swal.fire({
                          title: 'Gurdando cambios...',
                          html: 'Por favor espere mientras se guarda la informacion',
                          allowOutsideClick: false,
                          timerProgressBar: true,
                          didOpen: () => {
                             Swal.showLoading()
                          },
                          willClose: () => {
                             clearInterval(timerInterval)
                          }
                       }).then((result) => {
                          if (result.dismiss === Swal.DismissReason.timer) {
                             console.log('I was closed by the timer')
                          }
                       })
                       response.setRequestHeader("If-Modified-Since", "0");
                       response.setRequestHeader("Cache-Control", "no-cache");
                    },
                 })
                  return result

              }
              catch (error)
              {
                 console.error(error)
              }
           }
           myAjax(tblSolicitudesCooitzas).then((data) => {
              console.info('Response:', data)
              btn.removeClass('disabled');
              swal.close();
              console.log(data.Descripcion);

              if (data.Codigo == 1) {
                 toastr.success(data.Descripcion);
                 //se elimina la clase disbled del boton
                 btn.removeClass('disabled');
                 $("#idGerencia").val(3);
                 $("#descripcion").val('');
                 $("#botonera").html('');
                 $("#botonera").html('<button type="button" class="btn btn-primary btn-lg" id="guardar-solicitud">Guardar Registro</button>');
                 //se llama a ala funcion respectiva para cargar los registro de nuevo
                 getSolicitudes();
              } else {
                 btn.removeClass('disabled');
                 toastr.error(data.Descripcion);
              }
           });
        }
        else
        {
           return false;
        }
    });
});
</script>


