@model IEnumerable<iveCincoFrame.Models.TblSolicitudesXtblVehiculos>

<div class="container border mt-2" id="containerHeader">
    <div class="divider-custom1">
        <div class="divider-custom-line"></div>
        <h2>Detalle Vehiculos <span><i class="fa-solid fa-car"></i></span></h2>

        <div class="divider-custom-line"></div>
    </div>

    <div class="table-responsive tbl-destinos">
        <table class="table table-bordered table-striped table-hover" id="tbl-vehiculos" width="100%" cellpadding="0">
            <thead class="table-dark">
                <tr>
                    <th>
                        Vehiculo
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Kilometraje Inicio
                    </th>
                    <th class="text-center">
                        Detalle de recepción
                    </th>
                    <th class="text-center">
                        Kilometraje Final
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(String.Format("{0} {1}", item.TblVehiculos.marca, item.TblVehiculos.modelo))
                            @(String.Format("{0}{1}", item.TblVehiculos.CatTipoPlacas.descripcion, item.TblVehiculos.noPlaca))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblVehiculos.CatOpcionesVehiculos.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kilometrajeInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.observaciones)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kilomentrajeFinal)
                        </td>
                        <td>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="align-middle me-2 fas fa-fw fa-cog"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item verImagenKilometrajeInicialG" codigoVG="@item.idTblSolicitudesXtblVehiculoes"><i class="fa-solid fa-gauge-simple-high"></i>  Kilometraje Inicial</a></li>
                                <li><a class="dropdown-item verImagenKilometrajeFinalG" codigoVG="@item.idTblSolicitudesXtblVehiculoes"><i class="fa-solid fa-gauge"></i> Kilometraje Final</a></li>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#tbl-vehiculos').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });

        $('.verImagenKilometrajeInicialG').click(function ()
        {
            var codigoVG = $(this).attr('codigoVG');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerKilometrajeInicialImg", "TblSolicitudes")',
                data: {
                    id: codigoVG,
                },
                beforeSend: function (response) {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response) {
                    $('#detalleKlmInicialG').html(response);
                    $('#verkInicialG').modal('show');
                },
            });
            return false;
        });

        $('.verImagenKilometrajeFinalG').click(function ()
        {
            var codigoVG = $(this).attr('codigoVG');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerKilometrajeFinalImg", "TblSolicitudes")',
                data: {
                    id: codigoVG,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#detalleKlmFinalG').html(response);
                    $('#verkFinalG').modal('show');
                },
            });
            return false;
        });

    });
</script>

<!-- Modal ver kilometraje inicial vehiculo -->
<div class="modal fade" id="verkInicialG" tabindex="-1" aria-labelledby="verkInicialGLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verkInicialG">Kilometraje Inicial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleKlmInicialG"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver kilometraje final vehiculo -->
<div class="modal fade" id="verkFinalG" tabindex="-1" aria-labelledby="verkFinalGLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verkFinalG">Kilometraje Final</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleKlmFinalG"></div>
            </div>
        </div>
    </div>
</div>
