@model IEnumerable<iveCincoFrame.Models.TblFacturas>
<div class="container border mb-3" id="containerHeader">
    <div class="divider-custom1">
        <div class="divider-custom-line"></div>
        <h2>Listado de Facturas <i class="fa-solid fa-file-lines"></i></h2>
        <div class="divider-custom-line"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="tbl-facturas" width="100%" cellpadding="0">
            <thead class="table-dark">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Proveedor
                    </th>
                    <th>
                        No. de Factura
                    </th>
                    <th>
                        Fecha Factura
                    </th>
                    <th>
                        Serie
                    </th>
                    <th>
                        Monto
                    </th>
                    <th>
                        Fecha Registro
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            @{var iterador = 1;}
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@iterador</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblProveedores.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.noFactura)
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", item.fechaFactura)
                            @*@Html.DisplayFor(modelItem => item.fechaFactura)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.serie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.monto)
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy HH:mm:ss tt}", item.fechaCreacion)
                        </td>
                        <td>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="align-middle me-2 fas fa-fw fa-cog"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item verRubros" codigoF="@item.idTblFacturas"><i class="align-middle me-2 fas fa-fw fa-clipboard"></i> Rubros</a></li>
                                <li><a class="dropdown-item verImagenCFactura" codigoF="@item.idTblFacturas"><i class="align-middle me-2 fas fa-fw fa-image"></i> Factura</a></li>
                            </ul>
                        </td>
                    </tr>
                    iterador++;
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#tbl-facturas').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });

        $('.verRubros').click(function ()
        {
            var codigoF = $(this).attr('codigoF');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("detalleRubrosGlob", "TblSolicitudes")',
                data:
                {
                    id: codigoF,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#detalleFacturaC').html(response);
                    $('#modalVerFactura').modal('show');
                },
            });
            return false;
        });


        $('.verImagenCFactura').click(function ()
        {
            var codigoF = $(this).attr('codigoF');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerImagenFactura", "TblSolicitudes")',
                data:
                {
                    id: codigoF,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#detalleRubrosGlob').html(response);
                    $('#modalVerRubros').modal('show');
                },
            });
            return false;
        });

    });

</script>
<!-- Modal ver Comprobante Factura -->
<div class="modal fade" id="modalVerFactura" tabindex="-1" aria-labelledby="modalVerFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerFactura">Comprobante Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleFacturaC"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver Rubros de la factura -->
<div class="modal fade" id="modalVerRubros" tabindex="-1" aria-labelledby="modalVerRubrosLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerRubros">Rubros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleRubrosGlob"></div>
            </div>
        </div>
    </div>
</div>