@model iveCincoFrame.Models.Auditoria.editarDestinoModel
@{
    Layout = null;
}

@using (Html.BeginForm())
{


<div class="form-horizontal">    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idTblDestinos, htmlAttributes: new{ @class = "form-control", id ="idDestino"})

    <div class="mb-3">
        <label class="form-label">Seleccione Destino</label>
        @Html.DropDownList("idCatUbicaciones", null, htmlAttributes: new { @class = "form-select", id="idUbicacion" })
        @Html.ValidationMessageFor(model => model.idCatUbicaciones, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="observaciondestino" class="form-label">Observacion Adicional</label>
        @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control", id = "observaciondestinoEdit" } })
        <div id="emailHelp" class="form-text">Informacion adicional a otros destinos.</div>
        @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
    </div>
</div>
}


<script>
    $(document).ready(function () {
        $('#actualizardestino').click(function (e)
        {
                //var _id = 54;
                //var idTblDestinos = $('#idTblDestinos').val();
                var idTblDestinos = $('#idDestino').val();
                var idCatUbicaciones = $('#idUbicacion').val();
                var observaciondestino = $('#observaciondestinoEdit').val();

                var grupodestino = {
                    idTblDestinos: idTblDestinos,
                    idCatUbicaciones: idCatUbicaciones,
                    observaciones: observaciondestino
                };

                //var _data = 'hola';
                //console.log(grupodestino);
               // alert(observaciondestino);
                $.ajax({
                    type: 'POST',
                    data: grupodestino,
                    url:  '@Url.Action("Editardestino", "TblSolicitudes")',
                    beforeSend: function (response) {
                    },
                    success: function (response) {
                        $('#cerrarModal2').click();
                        $('#detalledestinos').html('');
                        _id = response,
                        cargardetalle(_id);
                        limpiarDestinos();
                    },
                });
                return false;


                function cargardetalle(_id) {
                    $.ajax({
                    type: 'GET',
                    url:  '@Url.Action("Detalledestino", "TblSolicitudes")',
                          data: {
                              id: _id
                              },
                          beforeSend: function (response) {
                              $('#detalledestinos').html('');
                    },
                    success: function (response) {
                        $('#detalledestinos').html(response);
                    },
                });
                return false;

            }

        });

        function limpiarDestinos() {
            $('#idDestino').val("");
            $('#idUbicacion').val("");
            $('#observaciondestinoEdit').val("");
        }




    });

</script>