
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">
                        <div id="transac-ubicaiones" class="col-12">
                            @Html.Action("ListarUbicacionesActivas")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     $(document).ready(function () {

        

         $(document).on('click', '#editar-sucursar', function () {

            var codigo = $(this).attr('codigoSucursal');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditarUbicacion", "TblSucursales")',
                data: {
                    id: codigo
                },
                beforeSend: function (response) {
                },
                success: function (response) {
                    $('#transac-ubicaiones').html('');
                    $('#transac-ubicaiones').html(response);

                },
            });
            return false;
         });
         $(document).on('click', '#GuardarCambiosSucursal', function () {
            var idCatUbicaciones = $('#idCatUbicaciones').val();
            var idCatRegiones = $('#idCatRegiones').val();
            var codigo = $('#codigo').val();
            var nombre = $('#nombre').val();
            var direccion = $('#direccion').val();
            var correo = $('#correo').val();
            var telefono = $('#telefono').val();
            var descripcion = $('#descripcion').val();
            var codigoNombre = $('#codigoNombre').val();
            var idCatDepartamentosRepublicas = $('#idCatDepartamentosRepublicas').val();
            var idMunicipiosRepublicas = $('#idMunicipiosRepublicas').val();
            var idSucursal = $('#idSucursal').val();
            var nombreTarjetaCredito = $('#nombreTarjetaCredito').val();
            var idCatTipoUbicaciones = $('#idCatTipoUbicaciones').val();
            var codigoSucrusalSigue = $('#codigoSucrusalSigue').val();

             var captacionBase = parseFloat($('#captacionBase').val());
             var plazoFijo = parseFloat($('#plazoFijo').val());
             var totalAhorros = parseFloat($('#totalAhorros').val());

             //alert(captacionBase);
             //alert(plazoFijo);
             //alert(totalAhorros);

            var Sucursal = {
                idCatUbicaciones: idCatUbicaciones,
                idCatRegiones: idCatRegiones,
                codigo: codigo,
                nombre: nombre,
                direccion: direccion,
                correo: correo,
                telefono: telefono,
                descripcion: descripcion,
                codigoNombre: codigoNombre,
                idCatDepartamentosRepublicas: idCatDepartamentosRepublicas,
                idMunicipiosRepublicas: idMunicipiosRepublicas,
                idSucursal: idSucursal,
                nombreTarjetaCredito: nombreTarjetaCredito,
                idCatTipoUbicaciones: idCatTipoUbicaciones,
                captacionBase: captacionBase,
                plazoFijo: plazoFijo,
                totalAhorros: totalAhorros,
                codigoSucrusalSigue: codigoSucrusalSigue
            };
             //console.log(Sucursal);
                $.ajax({
                    type: 'POST',
                    url:  '@Url.Action("GuardarCambios", "TblSucursales")',
                    data: Sucursal,
                    cache: false,
                    beforeSend: function (response) {
                    },
                    success: function (response) {
                        if (response == "ok") {
                            cargardetalle();
                            limpiar();
                            function toasterOptions() {
                                toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };
                            };
                            toasterOptions();
                            toastr.success('Sucursal modificada con exito');
                            window.location.reload();
                        }
                        else
                        {
                            function toasterOptions() {
                                toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };
                            };
                            toasterOptions();
                            toastr.error('Ocurrio un error al modificar la sucursal'+ response);

                        }
                    }
                });
            return false;

                         /*funsion listar sucursales*/
                 function cargardetalle() {
                         $.ajax({
                            type: 'GET',
                            url: '@Url.Action("ListarUbicacionesActivas", "TblSucursales")',
                            beforeSend: function (response) {
                                cargar();
                            },
                            success: function (response) {
                                $('#transac-ubicaiones').html('');
                                $('#transac-ubicaiones').html(response);

                            }
                         });
                          return false;

                 }


                    /*funsion limpiar*/
                function limpiar() {
                    $('#idCatRegiones').val("");
                    $('#codigo').val("");
                    $('#nombre').empty();
                    $('#direccion').val("");
                    $('#correo').val("");
                    $('#telefono').val("");
                    $('#descripcion').val("");
                    $('#codigoNombre').val("");
                    $('#idCatDepartamentosRepublicas').val("");
                    $('#idMunicipiosRepublicas').val("");
                    $('#idSucursal').val("");
                    $('#nombreTarjetaCredito').val("");
                    $('#idCatTipoUbicaciones').val("");
                    $('#codigoSucrusalSigue').val("");
                }

             function cargar() {
                 let timerInterval
                 Swal.fire({
                     title: 'Actualizando afiliaciones!',
                     html: 'Tiempo restante <b></b> espere profavor.',
                     timer: 1000,
                     timerProgressBar: true,
                     didOpen: () => {
                         Swal.showLoading()
                         const b = Swal.getHtmlContainer().querySelector('b')
                         timerInterval = setInterval(() => {
                             b.textContent = Swal.getTimerLeft()
                         }, 100)
                     },
                     willClose: () => {
                         clearInterval(timerInterval)
                     }
                 }).then((result) => {
                     /* Read more about handling dismissals below */
                     if (result.dismiss === Swal.DismissReason.timer) {
                         console.log('I was closed by the timer')
                     }
                 })
             }
         });
         $(document).on('click', '#eliminar-sucursar', function () {

            var IdCatUbicaciones = $(this).attr('codigoSucursal');

            var UsuarioEditar = {
                "IdCatUbicaciones": IdCatUbicaciones
            };

            Swal.fire({
                icon: 'warning',
                title: '¿Desactivar esta Ubicacion?',
                showConfirmButton: true,
                confirmButtonText: 'Desactivar',
                confirmButtonColor: '#3085d6',
                showCancelButton: true,
                cancelButtonText: 'CANCELAR',
                cancelButtonColor: '#d33',
                buttonsStyling: true,

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteConfirmed", "TblSucursales")',
                        data: UsuarioEditar,
                        success: function (response) {


                            if (response == "ok") {
                                function toasterOptions() {
                                    toastr.options = {
                                        "closeButton": false,
                                        "debug": false,
                                        "newestOnTop": false,
                                        "progressBar": true,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    };
                                };

                                toasterOptions();
                                toastr.success('La ubicacion se desactivo con exito!');

                                cargardetalle();
                            }
                            else
                            {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Ocurrio un problema al desactivar esta ubicacion',
                                    text: response
                                })
                            }


                        }
                    });
                }
            });

            /*funsion listar usuarios*/
            function cargardetalle() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ListarUbicacionesActivas", "TblSucursales")',
                beforeSend: function (response) {
                },
                success: function (response) {
                    cargar();
                    $('#transac-ubicaiones').html('');
                    $('#transac-ubicaiones').html(response);
                },
            });
            return false;
            }
            });
             function cargar() {
                 let timerInterval
                 Swal.fire({
                     title: 'Actualizando afiliaciones!',
                     html: 'Tiempo restante <b></b> espere profavor.',
                     timer: 1000,
                     timerProgressBar: true,
                     didOpen: () => {
                         Swal.showLoading()
                         const b = Swal.getHtmlContainer().querySelector('b')
                         timerInterval = setInterval(() => {
                             b.textContent = Swal.getTimerLeft()
                         }, 100)
                     },
                     willClose: () => {
                         clearInterval(timerInterval)
                     }
                 }).then((result) => {
                     /* Read more about handling dismissals below */
                     if (result.dismiss === Swal.DismissReason.timer) {
                         console.log('I was closed by the timer')
                     }
                 })
             }
     })
</script>

