@model IEnumerable<iveCincoFrame.Models.tblbitacorapremora>


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.estado == 1)
{


    <div class="row">
        <div class="col-12">
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="my-3">

                            <div id="transac-directorios" class="col-12">
                                <h2>BITACORA DE SEGUIMIENTO CASO: ELSA LIMA</h2>
                                <h2>CUENTA:4545454545455</h2>
                                <h2>TELEFONO:4545454545455</h2>
                                <h2>MINIMO:4545454545455</h2>
                                <h2>SALDO:4545454545455</h2>
                                <h2>VISA CUOTA:4545454545455</h2>
                                <h2>DPI:4545454545455</h2>

                                <a href="/tblbitacorapremoras/Create?id=3">NUEVO SEGUIMIENTO AL CASO</a>
                                <p>
                                </p>
                                <style>
                                    .timeline {
                                        border-left: 1px solid hsl(0, 0%, 90%);
                                        position: relative;
                                        list-style: none;
                                    }

                                        .timeline .timeline-item {
                                            position: relative;
                                        }

                                            .timeline .timeline-item:after {
                                                position: absolute;
                                                display: block;
                                                top: 0;
                                            }

                                            .timeline .timeline-item:after {
                                                background-color: hsl(0, 0%, 90%);
                                                left: -38px;
                                                border-radius: 50%;
                                                height: 11px;
                                                width: 11px;
                                                content: "";
                                            }
                                </style>


                                <!-- Section: Timeline -->
                                <section class="py-5">
                                    <ul class="timeline">
                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">Our company starts its operations</h5>
                                            <p class="text-muted mb-2 fw-bold">11 March 2020</p>
                                            <p class="text-muted">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                                                necessitatibus adipisci, ad alias, voluptate pariatur officia
                                                repellendus repellat inventore fugit perferendis totam dolor
                                                voluptas et corrupti distinctio maxime corporis optio?
                                            </p>
                                        </li>

                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">First customer</h5>
                                            <p class="text-muted mb-2 fw-bold">19 March 2020</p>
                                            <p class="text-muted">
                                                Quisque ornare dui nibh, sagittis egestas nisi luctus nec. Sed
                                                aliquet laoreet sapien, eget pulvinar lectus maximus vel.
                                                Phasellus suscipit porta mattis.
                                            </p>
                                        </li>

                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">Our team exceeds 10 people</h5>
                                            <p class="text-muted mb-2 fw-bold">24 June 2020</p>
                                            <p class="text-muted">
                                                Orci varius natoque penatibus et magnis dis parturient montes,
                                                nascetur ridiculus mus. Nulla ullamcorper arcu lacus, maximus
                                                facilisis erat pellentesque nec. Duis et dui maximus dui aliquam
                                                convallis. Quisque consectetur purus erat, et ullamcorper sapien
                                                tincidunt vitae.
                                            </p>
                                        </li>

                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">Earned the first million $!</h5>
                                            <p class="text-muted mb-2 fw-bold">15 October 2020</p>
                                            <p class="text-muted">
                                                Nulla ac tellus convallis, pulvinar nulla ac, fermentum diam. Sed
                                                et urna sit amet massa dapibus tristique non finibus ligula. Nam
                                                pharetra libero nibh, id feugiat tortor rhoncus vitae. Ut suscipit
                                                vulputate mattis.
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                                <!-- Section: Timeline -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{


    <style>
        .timeline-with-icons {
            border-left: 2px solid hsl(0, 0%, 90%);
            position: relative;
            list-style: none;
        }

            .timeline-with-icons .timeline-item {
                position: relative;
            }

                .timeline-with-icons .timeline-item:after {
                    position: absolute;
                    display: block;
                    top: 0;
                }

            .timeline-with-icons .timeline-icon {
                position: absolute;
                left: -45px;
                background-color: rgba(255,206,0,255);
                border-radius: 50%;
                height: 31px;
                width: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    </style>

    <div class="row">
        <div class="col-xl-5 card-scrollable ">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header" style="background-color: rgba(33, 40, 50, 0.03);">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "tblPremoras", new { id = ViewBag.id })'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #0c4899 !important;"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
                        </div>
                        <div class="text-center">
                            <h3 class="text-primary" style="color: #0c4899 !important;">Seguimientos</h3>
                        </div>
                        <div>.........</div>
                    </div>

                </div>
                <hr />

                <div class="card-body" style="overflow-y:scroll; height:500px;">
                    @if (Model.Count()== 0)
                    {
                        <div class="alert alert-secondary alert-dismissible" role="alert">
                            <div class="alert-icon">
                                <i class="far fa-fw fa-bell"></i>
                            </div>
                            <div class="alert-message">
                                <strong>Cliente sin Bitacora!</strong> Agrega un nuevo registro en el boton "Nuevo Seguimiento al caso" 
                            </div>

                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <!-- Section: Timeline -->
                    <section class="py-1 px-4">
                        <ul class="timeline-with-icons">
                            @foreach (var item in Model)
                            {

                                <li class="timeline-item mb-5">
                                    <span class="timeline-icon">
                                        <i class="align-middle me-2 fas fa-fw fa-phone"></i>
                                    </span>
                                    <h5 class="fw-bold"> @Html.DisplayFor(modelItem => item.catestadoscallcenter.descripcion)</h5>
                                    <p class="text-muted mb-2 fw-bold"><strong>@Html.DisplayFor(modelItem => item.fechayhorallamada)</strong></p>
                                    <p class="text-muted">
                                        @Html.DisplayFor(modelItem => item.observacion)
                                    </p>
                                    <p class="text-muted">Usuario: <strong>@Html.DisplayFor(modelItem => item.TblUsuarios.usuario)</strong></p>
                                </li>
                            }
                        </ul>
                    </section>
                    <!-- Section: Timeline -->

                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header py-4" style="background-color: rgba(33, 40, 50, 0.03);">
                    <div class="container text-center">
                        <h3 class="text-primary" style="color: #0c4899 !important;">Bitacora de seguimiento al Caso</h3>
                    </div>
                </div>
                <div class="card-body px-5">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="" for="inputUsername">Caso:</label>
                            <input class="form-control" id="inputUsername" type="text" value="@ViewBag.Nombre" readonly>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="" for="inputFirstName">Cuenta</label>
                                <input class="form-control" id="inputFirstName" type="text" value="@ViewBag.Cuenta" readonly>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="" for="inputLastName">Telefono</label>
                                <input class="form-control" id="inputLastName" type="text" value="@ViewBag.Telefono" readonly>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="" for="inputOrgName">Pago Minimo</label>
                                <input class="form-control" id="inputOrgName" type="text" value="@ViewBag.Minimo" readonly>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="" for="inputLocation">Saldo</label>
                                <input class="form-control" id="inputLocation" type="text" value="@ViewBag.Saldo" readonly>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="" for="inputEmailAddress">Visacuotas</label>
                            <input class="form-control" id="inputEmailAddress" type="email" value="@ViewBag.Visa" readonly>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="" for="inputPhone">Dpi</label>
                                <input class="form-control" id="inputPhone" type="tel" value="@ViewBag.Dpi" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <a class="btn btn-primary" href="/tblbitacorapremoras/Create?id=@ViewBag.idTblPremora" style="background-color: #153d77">NUEVO SEGUIMIENTO AL CASO</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
}
