@model iveCincoFrame.Models.TblDeclaracionSaludchnlg

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>TblDeclaracionSaludchnlg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lg55)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg55)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg56)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg56)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg57)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg57)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg58)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg58)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg59)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg59)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg61)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg61)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg62)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg62)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg63)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg63)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg64)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg64)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg65)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg65)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg66)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg66)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg67)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg67)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg68)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg68)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg69)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg69)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg70)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg70)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg71)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg71)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg72)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg72)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg73)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg73)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg74)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg74)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg75)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg75)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg76)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg76)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg77)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg77)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg78)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg78)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg79)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg79)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg80)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg80)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg81)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg81)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg82)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg82)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg83)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg83)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg84)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg84)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg85)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg85)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg86)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg86)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg87)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg87)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg88)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg88)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg89)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg89)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg90)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg90)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg91)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg91)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg92)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg92)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg93)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg93)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg94)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg94)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg95)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg95)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg96)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg96)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg97)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg97)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg98)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg98)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg99)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg99)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg101)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg101)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg102)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg102)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg103)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg103)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg104)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg104)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg105)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg105)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg106)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg106)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg107)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg107)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg108)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg108)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg109)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg109)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg110)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg110)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg111)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg111)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg112)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg112)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg113)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg113)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg114)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg114)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg115)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg115)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg116)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg116)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg117)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg117)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg118)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg118)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg119)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg119)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg120)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg120)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCatEstados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCatEstados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn1.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn1.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn2.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn2.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn3.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn3.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn4.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn4.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn5.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn5.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn6.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn6.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn7.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn7.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn8.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn8.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn9.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn9.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn10.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn10.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn11.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn11.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn12.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn12.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn13.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn13.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn14.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn14.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn15.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn15.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn16.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn16.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn17.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn17.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn18.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn18.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn19.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn19.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn20.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn20.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn21.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn21.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn22.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn22.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn23.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn23.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn24.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn24.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn25.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn25.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn26.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn26.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn27.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn27.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn28.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn28.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn29.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn29.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn30.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn30.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn31.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn31.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn32.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn32.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn33.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn33.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn34.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn34.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn35.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn35.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn36.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn36.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn37.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn37.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn38.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn38.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn39.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn39.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn40.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn40.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn41.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn41.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn42.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn42.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn43.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn43.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn44.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn44.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn45.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn45.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn46.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn46.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn47.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn47.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn48.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn48.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn49.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn49.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn50.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn50.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn51.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn51.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn52.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn52.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpcionesChn53.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpcionesChn53.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTblDeclaracionSaludchnlg }) |
    @Html.ActionLink("Back to List", "Index")
</p>
