
@{
    Layout = null;
}

<html>
<head>
    <title>Juega y Gana</title>
    <meta charset="UTF-8" />
    <link href="~/Content/asamblea/sorteosasambleas.css" rel="stylesheet">
    <!--jquery min-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <center>
        <h1 style=";font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:30px;color:white;">
            Sorteo de Premios Cooitzá
        </h1>

        <p style="font-family:Source Sans Pro;font-size: 20px; color:white;">
            ¡Peparate! <BR>
            ¡Prepárate para ganar un premio sorprendente y emocionante!
        </p>

        <img id="ruleta" src="~/Content/asamblea/ruletasorteosintranet.png" style="position:absolute; left:560px;width: 400px;height: 400px;" />


        <img id="puntero" src="~/Content/asamblea/punterointranet.png" style="position:absolute; width: 100px;top:260px;left:710px;display: block;" data-id="puntero" />
        </>
        <div id="card">
            <!-- Contenido de la card aquí -->
        </div>
    </center>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    var ruleta = document.getElementById("ruleta");
    var puntero = document.getElementById("puntero");
    var card = document.getElementById("card");


    // Rueda la ruleta
    puntero.addEventListener("mousedown", function () {
        gira = 4000 + Math.random() * 4000;
        puntero.style.pointerEvents = "none";
        ruleta.style.transition = "all 10s ease-out";
        ruleta.style.transform = `rotate(${gira}deg)`;
    });

    // Fin de la rodada
    ruleta.addEventListener("transitionend", function () {
        puntero.style.pointerEvents = 'auto';
        ruleta.style.transition = 'none';
        giraDos = gira % 360;
        ruleta.style.transform = `rotate(${giraDos}deg)`;

        // Realiza la petición Fetch al controlador de ASP.NET MVC
        fetch("@Url.Action("GetDataSorteo", "Asambleas")")
            .then(function (response) {
                // Maneja la respuesta de la petición Fetch
                if (response.ok) {
                    // La petición se completó con éxito
                    return response.json();
                } else {
                    // La petición falló, maneja el error
                    throw new Error("Error en la petición Fetch");
                    alert('Ocurrio un problema al resolver la respuesta del servicio API')
                }
            })
            .then(function (data) {
                // Maneja los datos de la respuesta
                console.log(data);
                // Crea la card con los datos del JSON
                // Oculta la ruleta
                ruleta.style.display = "none";

                // Crea la card con los datos del JSON
                card.style.display = "block";
                card.innerHTML = `
                                <div class="card">
                                    <div class="card-header">Resultado</div>
                                    <div class="card-body">
                                    <h5 class="card-title">Ganador</h5>
                                    <p class="card-text" id="miParrafo">${data.Ganador.idTblAsistenciasAsambaleas}</p>
                                    <p class="card-text">Código:<span>${data.Ganador.codigo}</span></p>
                                    <p class="card-text">Nombre:<span>${data.Ganador.nombrecompleto}</span></p>
                                    <p class="card-text">Teléfono:<span>${data.Ganador.telefono}</span></p>
                                    <div class="card-footer">
                                    <button id="confirmar" type="button" class="btn btn-primary">Aceptar</button>
                                    <button id="deny" type="button" class="btn btn-primary">Girar de Nuevo</button>
                                    </div>
                                </div>
                                `;
                var parrafo = document.getElementById("miParrafo");
                parrafo.style.display = "none";
                    $("#confirmar").on("click", function (e) {
        e.preventDefault();
        var btn = $(this);
        if (!btn.hasClass("disabled")) {
          /* - - - - - - - inicia la llamada a la funcion  validarAsociados- - - - - - - */
          var idTblAsistenciasAsambaleas = document.getElementById("miParrafo").innerHTML;
          var estado = 2;
          var url = '@Url.Action("SetSorteosAsambleas", "Asambleas")';
          setResultadoSorteo(url,idTblAsistenciasAsambaleas,estado,function(opciones) {
            return opciones;
            })
            .then(function(respuesta) {
                setTimeout(function () {
                    swal.close();
                    console.log(respuesta);
                    if (respuesta.Codigo == 1)
                    {
                        Swal.fire({
                            title: 'Correcto',
                            text: respuesta.Descripcion,
                            icon: 'success',
                            confirmButtonColor: '#153d77',
                            confirmButtonText: 'Aceptar',
                            allowOutsideClick: false // Evita hacer clic fuera de la alerta
                        }).then((result) => {
                            window.location.href = '@Url.Action("SorteosAsambleas", "Asambleas")';
                        })
                    }
                    else
                    {
                        toastr.error(respuesta.Descripcion);
                    }
                }, 3000);

            })
            .catch(function(error) {
                toastr.error('Ocurrio un problea al resover los datos de la consulta');
                console.log(error);
                swal.close();
            });
        } else {
            return false;
        }

    });
    $("#deny").on("click", function (e) {
        e.preventDefault();
        var btn = $(this);
        if (!btn.hasClass("disabled")) {
          /* - - - - - - - inicia la llamada a la funcion  validarAsociados- - - - - - - */
            var idTblAsistenciasAsambaleas = document.getElementById("miParrafo").innerHTML;
          var estado = 3;
          var url = '@Url.Action("SetSorteosAsambleas", "Asambleas")';
          setResultadoSorteo(url,idTblAsistenciasAsambaleas,estado,function(opciones) {
            return opciones;
            })
            .then(function(respuesta) {
                setTimeout(function () {
                    swal.close();
                    console.log(respuesta);
                    if (respuesta.Codigo == 1)
                    {
                        Swal.fire({
                            title: 'Correcto',
                            text: respuesta.Descripcion,
                            icon: 'success',
                            confirmButtonColor: '#153d77',
                            confirmButtonText: 'Aceptar',
                            allowOutsideClick: false // Evita hacer clic fuera de la alerta
                        }).then((result) => {
                            window.location.href = '@Url.Action("SorteosAsambleas", "Asambleas")';
                        })
                    }
                    else
                    {
                        toastr.error(respuesta.Descripcion);
                    }
                }, 3000);

            })
            .catch(function(error) {
                toastr.error('Ocurrio un problea al resover los datos de la consulta');
                console.log(error);
                swal.close();
            });
        } else {
            return false;
        }

    });

    function setResultadoSorteo(url, idTblAsistenciasAsambaleas, estado, beforeSendCallback) {
        // Mostrar animación de carga
        Swal.fire({
            title: 'Guardando',
            html: 'Por favor espere...',
            allowOutsideClick: false,
            timerProgressBar: true,
            showConfirmButton: false,
            willOpen: () => {
                Swal.showLoading();
            }
        });

        // Configurar opciones de solicitud
        // Aquí se declara el objeto opciones que se enviará dentro de la función enviarSolicitud
        let opciones = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                idTblAsistenciasAsambaleas: idTblAsistenciasAsambaleas,
                estado: estado
            })
        };

        // Si se proporciona una función beforeSendCallback, llámala antes de enviar la solicitud
        if (beforeSendCallback && typeof beforeSendCallback === 'function') {
            opciones = beforeSendCallback(opciones);
        }

        // Enviar solicitud
        return fetch(url, opciones)
            .then(function (response) {
                if (!response.ok) {
                    console.log('Error al resolver los datos de la consulta');
                    toastr.error('Ocurrió un problema al resolver los datos del request');
                    swal.close();
                }
                return response.json();
            })
            .catch(function (error) {
                console.log(error);
                toastr.error('Ocurrió un problema al resolver los datos de la consulta');
                swal.close();
            });
    }
                puntero.style.display = "none";
                ruleta.style.display = "none";
                giraDos = gira % 360;
                ruleta.style.transform = `rotate(${giraDos}deg)`;
            })
            .catch(function (error) {
                // Maneja el error de la petición Fetch
                console.error(error);
            });
    });


});



</script>
