@model iveCincoFrame.Models.TblDeclaracionSaludlg

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                           
                                <div class="d-flex justify-content-around">
                                    <div class="container">
                                        <div class="container">
                                            <img src="~/Content/img/chn.png" class="img-fluid" height="85"/>
                                        </div>
                                    </div>
                                    <h1 class="text-primary" style="color: #0c4899 !important;">Declaracion de Salud</h1>
                                    <div class="container">
                                        <img src="~/Content/img/logouno.png" class="img-fluid"/>
                                    </div>
                                </div>
                               
                                <hr />
                        

                            @using (Html.BeginForm())
                            {

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row gx-3 mb-3">


                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg1, "Póliza No.:", htmlAttributes: new { @class = "control-label " })

                                        <input type="text" name="lg1" id="lg1" value="@ViewBag.Poliza" class="form-control" readonly />

                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <h4 class="text-muted">Peso en Libras:</h4>

                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.lg6, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.lg6, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3">
                                    <h4 class="text-muted">Estatura:</h4>

                                    <div class="col-md-4">
                                        @Html.Label("Metros:", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.lg7, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.lg7, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Centimetros:", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.lg8, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.lg8, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <hr />

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedad o Defecto de la Vista", new { @class = "control-label" })

                                        @Html.DropDownList("lg10", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg10, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Transtorno Urinario", new { @class = "control-label" })

                                        @Html.DropDownList("lg11", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg11, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Presión arterial alta", new { @class = "control-label" })

                                        @Html.DropDownList("lg12", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg12, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Presión arterial baja", new { @class = "control-label" })

                                        @Html.DropDownList("lg13", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg13, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Diabetes o Problemas del Azúcar en la Sangre", new { @class = "control-label" })

                                        @Html.DropDownList("lg14", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg14, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Cancer, Tumor o Quiste", new { @class = "control-label" })

                                        @Html.DropDownList("lg15", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg15, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Bocio, Problemas de la Tiroides", new { @class = "control-label" })

                                        @Html.DropDownList("lg16", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg16, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.Label("Enfermedades del Sistema Digestivo (esófago, estómago, intestino delgado)", new { @class = "control-label" })

                                        @Html.DropDownList("lg17", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg17, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-8">
                                        @Html.Label("Lesiones o enfermedades de la Cabeza o de la Columna", new { @class = "control-label" })

                                        @Html.DropDownList("lg18", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg18, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("VIH y/o Sida", new { @class = "control-label" })

                                        @Html.DropDownList("lg19", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg19, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Preeclamsia, Eclampsia", new { @class = "control-label" })

                                        @Html.DropDownList("lg20", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg20, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Albúmina o Azúcar en la Orina", new { @class = "control-label" })

                                        @Html.DropDownList("lg21", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg21, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de los Senos", new { @class = "control-label" })

                                        @Html.DropDownList("lg22", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg22, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Hernia de cualquier tipo", new { @class = "control-label" })

                                        @Html.DropDownList("lg23", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg23, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.Label("Enfermedad de los Ovarios y/o Matriz", new { @class = "control-label" })

                                        @Html.DropDownList("lg24", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg24, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Transtornos del  Colon y Recto", new { @class = "control-label" })

                                        @Html.DropDownList("lg25", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg25, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg26, "Enfermedades Venéreas", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg26", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg26, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Venas Varicosas", new { @class = "control-label" })

                                        @Html.DropDownList("lg27", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg27, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades Cardíacas", new { @class = "control-label" })

                                        @Html.DropDownList("lg28", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg28, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Diarrea Crónica", new { @class = "control-label" })

                                        @Html.DropDownList("lg29", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg29, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-8">
                                        @Html.Label("Osteoporosis, problemas en los huesos", new { @class = "control-label" })

                                        @Html.DropDownList("lg30", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg30, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Problemas de la Próstata", new { @class = "control-label" })

                                        @Html.DropDownList("lg31", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg31, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">

                                    <div class="col-md-4">
                                        @Html.Label("Transtornos Femeninos", new { @class = "control-label" })

                                        @Html.DropDownList("lg32", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg32, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.Label("Enfermedades del Sistema Respiratorio (pulmones, bronquios, etc)", new { @class = "control-label" })

                                        @Html.DropDownList("lg33", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg33, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Pérdida de Peso o Aumento de Peso", new { @class = "control-label" })

                                        @Html.DropDownList("lg34", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg34, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de la Piel ", new { @class = "control-label" })

                                        @Html.DropDownList("lg35", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg35, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedad de la Boca, Dientes, Labios ", new { @class = "control-label" })

                                        @Html.DropDownList("lg36", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg36, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de los Oídos, Naríz o Garganta", new { @class = "control -label" })

                                        @Html.DropDownList("lg37", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg37, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Artritis o Reumatismo", new { @class = "control-label" })

                                        @Html.DropDownList("lg38", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg38, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Desmayos o Mareos", new { @class = "control-label" })

                                        @Html.DropDownList("lg40", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg40, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">

                                    <div class="col-md-4">
                                        @Html.Label("Dolores de Cabeza Severos, Migraña", new { @class = "control-label" })

                                        @Html.DropDownList("lg41", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg41, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Enfermedades de la Sangre	", new { @class = "control-label" })

                                        @Html.DropDownList("lg42", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg42, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg43, "Enfermedades de Riñones", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg43", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg43, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">

                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg44, "Convulsiones", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg44", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg44, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg45, "Enfermedades hormonales (endócrinas)", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg45", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg45, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg46, "Transtornos Nerviosos	", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("lg46", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg46, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg48, "Cualquier Defecto Físico o Mental, Amputacion o Limitación Fisica	", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg48", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg48, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.lg49, "Cálculos Renales o de la Vesícula Biliar", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg49", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg49, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg50, "Hemorroides", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("lg50", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg50, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg47, "Tuberculosis", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg47", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg47, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.lg51, "Enfermedades del Hígado o la Vesicula Biliar", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg51", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg51, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg52, "Anemia", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg52", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg52, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg53, "Alteraciones Menstruales", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg53", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg53, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.lg54, "¿Está actualmente embarazada?	", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("lg54", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg54, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg106, "¿Ha tenido algún aborto, parto o cesárea?", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("lg106", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg53, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg55, "¿Ha estado Usted como paciente en un Hospital o Institución similar durante los ultimos tres (3) años?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg55", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg55, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg56, "¿Ha sido examinado por o ha consultado algún Médico durante los últimos tres (3) años?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg56", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg56, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg57, "¿Se le ha aconsejado internarse en un Hospital u otra Institucion similar para diagnóstico, reposo o tratamiento, pero usted no lo hizo?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg57", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg57, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg58, "¿Se le ha aconsejado una operación quirúrgica o tratamiento médico pero usted no lo hizo?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg58", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg58, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg59, "¿Tiene conocimiento de algún defecto fisico, deformidad o problema de salud?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg59", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg59, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg60, "¿Tiene o ha tenido transtornos mentales o nerviosos a causa de drogas o estupefacientes?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg60", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg60, "", new { @class = "text-danger" })
                                    </div>


                                </div>

                                <div class="row gx-3 mb-3">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg61, "¿Le ha sido alguna vez rechazada, aplazada, aceptada con recargo o modificada de alguna manera, una solicitud para obtener o para rehabilitar una Poliza de Seguro de Vida, Accidente o Salud?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg61", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg61, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg62, "¿Ha estado alguna vez asegurado con alguna Póliza de Seguro de Gastos Medicos?  ", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg62", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg62, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.Label("Indique el nombre de la Aseguradora, si está vigente y la fecha del Seguro:", new { @class = "control-label" })

                                        @Html.DropDownList("lg107", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg107, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg63, "¿Ha estado contagiado con el virus SARS-CoV 2 o enfermedado por COVID-19?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg63", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg63, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg64, "¿Ha sido vacunado en los últimos 24 meses?", htmlAttributes: new { @class = "control-label" })

                                        @Html.DropDownList("lg64", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lg64, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.lg108, "¿Toma regularmente alguna medicina? Si la respuesta es afirmativa, proporcione detalles a continuación.", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.lg108, ViewBag.lg108 as SelectList, "Seleccione una opcion", new { @class = "form-select" })

                                        @Html.ValidationMessageFor(model => model.lg108, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div id="medicinas">
                                    <p class="text-muted text-center">Medicamento 1</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-3">
                                            @Html.Label("Nombre de la medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg65, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg65, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Dosis", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg66, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg66, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Razón por la que Toma la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg67, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg67, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            @Html.Label("Tiempo de estar Tomando la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg68, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg68, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Recetada por:", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg69, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg69, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <p class="text-muted text-center">Medicamento 2</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-3">
                                            @Html.Label("Nombre de la medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg70, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg70, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Dosis", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg71, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg71, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Razón por la que Toma la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg72, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg72, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            @Html.Label("Tiempo de estar Tomando la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg73, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg73, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Recetada por:", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg74, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg74, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <p class="text-muted text-center">Medicamento 3</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-3">
                                            @Html.Label("Nombre de la medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg75, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg75, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Dosis", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg76, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg76, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Razón por la que Toma la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg77, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg77, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            @Html.Label("Tiempo de estar Tomando la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg78, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg78, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Recetada por:", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg79, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg79, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <p class="text-muted text-center">Medicamento 4</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-3">
                                            @Html.Label("Nombre de la medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg80, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg80, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Dosis", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg81, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg81, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Razón por la que Toma la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg82, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg82, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            @Html.Label("Tiempo de estar Tomando la Medicina", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg83, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg83, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Recetada por:", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg84, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg84, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div id="explicacion">
                                    <p class="text-muted text-center">Si ha contestado SI a algunas de las preguntas en este cuestionario, explique los detalles a continuacion: (si los espacios son insuficientes incluir hoja adicional) </p>
                                    <p class="text-muted">Registro 1</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            @Html.Label("Nombre de la Persona de quien se da la información de salud", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg85, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg85, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-1">
                                            @Html.Label("No. De Pregunta", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg86, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg86, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-7">
                                            @Html.Label("Nombre de la Enfermedad, Lesión o Condición Médica", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg87, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg87, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            @Html.Label("Duracion de la Incapacidad o Enfermedadad", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg88, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg88, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Mes", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg89, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg89, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Año", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg90, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg90, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Nombres y Direcciones de Médicos y Hospitales", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg91, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg91, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <p class="text-muted">Registro 2</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            @Html.Label("Nombre de la Persona de quien se da la información de salud", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg92, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg92, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-1">
                                            @Html.Label("No. De Pregunta", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg93, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg93, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-7">
                                            @Html.Label("Nombre de la Enfermedad, Lesión o Condición Médica", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg94, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg94, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            @Html.Label("Duracion de la Incapacidad o Enfermedadad", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg95, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg95, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Mes", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg96, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg96, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Año", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg97, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg97, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Nombres y Direcciones de Médicos y Hospitales", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg98, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg98, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <p class="text-muted">Registro 3</p>
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            @Html.Label("Nombre de la Persona de quien se da la información de salud", new { @class = "control-label" })
                                            @Html.EditorFor(model => model.lg99, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg99, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-1">
                                            @Html.Label("No. De Pregunta", new { @class = "control-label" })
                                            @Html.EditorFor(model => model.lg100, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg100, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-7">
                                            @Html.Label("Nombre de la Enfermedad, Lesión o Condición Médica", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg101, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg101, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            @Html.Label("Duracion de la Incapacidad o Enfermedadad", new { @class = "control-label" })
                                            @Html.EditorFor(model => model.lg102, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg102, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Mes", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg103, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg103, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Año", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.lg104, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg104, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Nombres y Direcciones de Médicos y Hospitales", new { @class = "control-label" })
                                            @Html.EditorFor(model => model.lg105, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lg105, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>

                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#medicinas').hide();

        $("#lg108").change(function () {
            var selectValue = $(this).val();
            if (selectValue == 1) {
                $('#medicinas').show();

            }
            else {
                $('#medicinas').hide();

            }
        });
    });
</script>