@model iveCincoFrame.Models.TblDeclaracionSaludlg

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
  
    
    <div class="form-horizontal">
        <h4>TblDeclaracionSaludlg</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idTblDeclaracionSaludlg)

        <div class="form-group">
            @Html.LabelFor(model => model.lg1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg10, "lg10", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg10", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg11, "lg11", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg11", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg12, "lg12", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg12", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg13, "lg13", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg13", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg14, "lg14", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg14", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg15, "lg15", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg15", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg16, "lg16", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg16", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg16, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg17, "lg17", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg17", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg17, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg18, "lg18", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg18", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg18, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg19, "lg19", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg19", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg19, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg20, "lg20", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg20", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg21, "lg21", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg21", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg22, "lg22", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg22", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg23, "lg23", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg23", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg23, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg24, "lg24", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg24", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg24, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg25, "lg25", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg25", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg25, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg26, "lg26", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg26", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg26, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg27, "lg27", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg27", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg27, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg28, "lg28", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg28", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg28, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg29, "lg29", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg29", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg29, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg30, "lg30", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg30", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg30, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg31, "lg31", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg31", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg32, "lg32", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg32", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg33, "lg33", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg33", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg34, "lg34", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg34", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg34, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg35, "lg35", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg35", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg35, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg36, "lg36", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg36", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg36, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg37, "lg37", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg37", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg37, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg38, "lg38", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg38", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg38, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg39, "lg39", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg39", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg39, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg40, "lg40", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg40", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg40, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg41, "lg41", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg41", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg41, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg42, "lg42", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg42", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg42, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg43, "lg43", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg43", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg43, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg44, "lg44", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg44", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg44, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg45, "lg45", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg45", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg45, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg46, "lg46", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg46", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg46, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg47, "lg47", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg47", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg47, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg48, "lg48", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg48", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg48, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg49, "lg49", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg49", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg49, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg50, "lg50", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg50", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg50, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg51, "lg51", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg51", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg51, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg52, "lg52", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg52", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg52, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg53, "lg53", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg53", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg53, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg54, "lg54", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg54", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg54, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg55, "lg55", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg55", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg55, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg56, "lg56", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg56", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg56, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg57, "lg57", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg57", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg57, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg58, "lg58", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg58", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg58, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg59, "lg59", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg59", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg59, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg60, "lg60", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg60", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg60, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg61, "lg61", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg61", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg61, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg62, "lg62", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg62", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg62, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg63, "lg63", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg63", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg63, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg64, "lg64", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lg64", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lg64, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg65, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg65, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg65, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg66, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg66, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg66, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg67, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg67, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg67, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg68, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg68, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg69, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg69, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg69, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg70, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg70, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg70, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg71, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg71, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg71, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg72, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg72, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg72, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg73, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg73, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg73, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg74, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg74, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg74, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg75, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg75, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg75, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg76, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg76, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg76, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg77, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg77, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg77, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg78, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg78, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg78, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg79, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg79, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg79, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg80, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg80, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg80, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg81, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg81, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg81, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg82, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg82, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg82, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg83, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg83, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg83, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg84, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg84, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg84, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg85, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg85, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg85, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg86, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg86, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg86, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg87, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg87, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg87, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg88, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg88, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg88, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg89, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg89, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg89, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg90, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg90, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg90, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg91, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg91, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg91, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg92, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg92, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg92, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg93, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg93, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg93, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg94, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg94, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg94, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg95, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg95, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg95, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg96, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg96, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg96, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg97, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg97, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg97, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg98, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg98, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg98, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg99, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg99, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg99, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg100, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg100, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg101, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg101, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg101, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg102, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg102, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg102, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg103, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg103, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg103, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg104, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg104, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg104, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg105, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg105, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg105, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg106, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg106, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg106, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg107, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg107, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg107, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg108, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg108, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg108, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg109, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg109, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg109, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg110, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg110, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg110, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg111, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg111, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg111, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg112, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg112, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg112, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg113, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg113, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg113, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg114, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg114, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg114, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg115, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg115, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg115, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg116, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg116, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg116, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg117, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg117, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg117, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg118, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg118, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg118, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg119, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg119, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg119, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lg120, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lg120, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lg120, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTblUsuarios, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idTblUsuarios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idTblUsuarios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCatEstados, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idCatEstados, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idCatEstados, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
