@model IEnumerable<iveCincoFrame.Models.Captaciones.Historial>
@{
    ViewBag.Title = "IndexMoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">
                        <div id="transac-directorios" class="col-12">
                            <div id="transac-directorios" class="col-12">
                                <div class="d-flex justify-content-between mb-2">
                                    <h2>Historial de visitas Reporteria</h2>
                                </div>
                                <table class="table table-hover table-sm" id="tbl-directorios">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Usuario
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Modulo
                                            </th>
                                            <th>
                                                Submodulo
                                            </th>
                                            <th>
                                                Fecha de busqueda
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var iterador = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @iterador
                                                </td>
                                                <td>
                                                    @item.Usuario
                                                </td>
                                                <td>
                                                    @item.NombreCompleto
                                                </td>
                                                <td>
                                                    @item.Modulo
                                                </td>
                                                <td>
                                                    @item.Submodulo
                                                </td>
                                                <td>
                                                    @item.FechaBusqueda
                                                </td>

                                            </tr>
                                            iterador++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tbl-directorios').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true,
            pageLength: 500
        });
    });

</script>