@model IEnumerable<iveCincoFrame.Models.CatSistemasCorreos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="container text-center">
                                <h1 class="text-primary" style="color: #0c4899 !important;">Grupos para las alertas de Correo</h1>
                                <hr />
                            </div>
                            @Html.Partial("_MensajeParcial")
                            <div class="d-flex justify-content-center justify-content-md-start">
                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "CatSistemasCorreos")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #0c4899 !important;"><i class="align-middle me-2 fas fa-fw fa-plus"></i> Nuevo Grupo</button></div>
                            </div>
                            <table class="table" id="tblSistemasCorreos">
                                <thead class="table-dark small">
                                    <tr>
                                        <th>
                                            Descripcion
                                        </th>
                                        <th>
                                            Fecha de Creacion
                                        </th>
                                        <th>
                                            Fecha de Modificacion
                                        </th>
                                        <th>
                                            Usuario Crea
                                        </th>
                                        <th>
                                            Usuario Modifica
                                        </th>
                                        <th>
                                            Departamento del reporte
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.descripcion)
                                            </td>
                                            <td class="small">
                                                @Html.DisplayFor(modelItem => item.fechaCreacion)
                                            </td>
                                            <td class="small">
                                                @Html.DisplayFor(modelItem => item.fechaModificacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TblUsuarios.usuario)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TblUsuarios1.usuario)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CatDepartamentosTrabajo.descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CatEstados.descripcion)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.idCatSistemasCorreos }) |
                                                @Html.ActionLink("Desactivar", "DeleteConfirmed", new { id = item.idCatSistemasCorreos })
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblSistemasCorreos').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });
    });
</script>