@model iveCincoFrame.Models.Biblioteca.TiposArchivos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/stylecardsbiblioteca.css" rel="stylesheet">
<link href="~/CSS/searchStyle.css" rel="stylesheet">

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="row">
                                <div class="my-3">
                                    <div class="container text-center">
                                        <div class="card-actions bg-success-dark text-white"><i class="align-middle me-2 fas fa-fw fa-atlas"></i> Biblioteca</div>




                                        <hr />
                                        <div class="row">
                                            <div class="col-6">
                                                <!-- Tabs navs -->
                                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                                    <li class="nav-item" role="presentation">
                                                        <button type="button" class="btn btn-primary btn-lg mx-2" onclick="location.href='@Url.Action("Biblioteca", "Home")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button>
                                                    </li>
                                                    <li class="nav-item" role="presentation" id="archivos">
                                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="align-middle me-2 fas fa-fw fa-file"></i> Archivos</button>
                                                    </li>
                                                    <li class="nav-item" role="presentation" id="anuncios">
                                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="align-middle me-2 fas fa-fw fa-newspaper"></i> Anuncios</button>
                                                    </li>
                                                    <li class="nav-item" role="presentation" id="videos">
                                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="align-middle me-2 fas fa-fw fa-play-circle"></i> Videos</button>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <form action="">
                                                    @*<input class="form-control me-2" type="search" id="search" placeholder="Buscar Coincidencia" aria-label="Search">*@

                                                    <input type="search" id="search" placeholder="Buscar archivo">
                                                    <i class="fa fa-search"></i>
                                                </form>

                                            </div>
                                        </div>

                                        <div class="tab-content" id="pills-search">

                                        </div>

                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                <div class="row justify-content-center">
                                                    @foreach (var item in Model.Archivos)
                                                    {

                                                        <div class="col-md-6 col-lg-4 mb-5">
                                                            <div class="card-data">
                                                                <div class="card info-body">
                                                                    <div class="card-header text-center info-name">
                                                                        <h4 class="text-white pb-4">@item.titulo</h4>

                                                                    </div>
                                                                    <div class="card-body ifno-general">
                                                                        <h5>@item.CatJerarquia.descripcion: <strong style="color: #153d77 !important;">@item.detalle</strong></h5>
                                                                        <h5>Origen: <strong style="color: #153d77 !important;">@item.CatOrigen.descripcion</strong></h5>
                                                                        <h5>Fecha: <strong style="color: #153d77 !important;">@Html.DisplayFor(modelItem => item.fechaDocumento)</strong></h5>
                                                                    </div>
                                                                    <div class="card-footer text-center">
                                                                        <a href="@Url.Action("VisualizarArchivo/"+item.idTblBiblioteca,"TblBiblioteca")" target="_blank" class="btn btn-primary btn-lg" style="background: #0c4899 !important;">Descargar Aqui <i class="align-middle me-2 fas fa-fw fa-arrow-down"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                <div class="row justify-content-center">
                                                    @foreach (var item in Model.Images)
                                                    {

                                                        <div class="col-md-6 col-lg-4 mb-5">
                                                            <div class="card-data">
                                                                <div class="card info-body">
                                                                    <div class="card-header text-center info-name">
                                                                        <h4 class="text-white pb-4">@item.titulo</h4>

                                                                    </div>
                                                                    <div class="card-footer text-center">
                                                                        <img class="img-fluid" src="@item.nombreArchivo" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                <div class="row justify-content-center">
                                                    @foreach (var item in Model.videos)
                                                    {

                                                        <div class="col-md-6 col-lg-4 mb-5">
                                                            <div class="card-data">
                                                                <div class="card info-body">
                                                                    <div class="card-header text-center info-name">
                                                                        <h4 class="text-white pb-4">@item.titulo</h4>

                                                                    </div>
                                                                    <div class=" text-center">
                                                                        <div class="mb-3 mt-3">
                                                                            <iframe class="responsive-iframe" src="@item.urlVideo"></iframe>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            var coincidencia = $(this).val();

            
            if (coincidencia.trim().length === 0) {
                $('#pills-tabContent').show();

                //se oculta el div con busqeudas
                $('#pills-search').hide('');

                $('#archivos').show();
                $('#anuncios').show();
                $('#videos').show();
            }
            else
            {

                $('#pills-tabContent').hide();
                $('#archivos').hide();
                $('#anuncios').hide();
                $('#videos').hide();

                //se activa el div con las busqeudas
                $('#pills-search').show('');
            }



            var idCatOrigen = @ViewBag.idCatOrigen;
            var busqueda = {
                coincidencia: coincidencia,
                idCatOrigen: idCatOrigen
            };



             $.ajax({
                type: 'POST',
                url: '@Url.Action("buscarCoincidencias", "TblBiblioteca")',
                data: busqueda,
                beforeSend: function (response) {
                },
                success: function (response) {

                    
                    

                    $('#pills-search').html('');
                    $('#pills-search').html(response);
                    
                }
            });
            return false;


            //console.log(texto);
        });

    });
</script>

