@model iveCincoFrame.Models.TblAsignacionesEjecutivosSucursales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblAsignacionesEjecutivosSucursales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatUbicaciones.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatUbicaciones.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTblAsignacionesEjecutivosSucursales }) |
    @Html.ActionLink("Back to List", "Index")
</p>
