@model IEnumerable<iveCincoFrame.Models.TblAsistenciasAsambaleas>
@{
    Layout = null;
}

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="Aspose.Words for .NET 17.1.0.0" />
    <title></title>
</head>

<body>
    <div>
        <div style="-aw-headerfooter-type:header-primary">
            <div style="float:right">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
                    <span style="font-family:Calibri">&#xa0;</span>
                </p>
            </div><br style="clear:both" />
            <table cellspacing="0" cellpadding="0" style="width:538.7pt; border-collapse:collapse">
                <tr>
                    <td style="width:116.85pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-right:18pt; margin-bottom:0pt; text-align:center; font-size:12pt">
                            <img src="~/Content/img/asamblea/logoCooitzaDocsAsamblea115153.png" width="120" height="59" alt=""
                                 style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
                        </p>
                    </td>
                    <td style="width:272.7pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
                            <span style="font-family:'Times New Roman'">GERENCIA DE TECNOLOGIA</span>
                        </p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
                            <span style="font-family:'Times New Roman'">Control de Asistencia</span>
                        </p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
                            <span style="font-family:'Times New Roman'">ASAMBLEA GENERAL </span><span style="font-family:'Times New Roman'">EXTRA</span><span style="font-family:'Times New Roman'">ORDINARIA </span><span style="font-family:'Times New Roman'">
                                PARA LA APROBACIÓN DE LA REFORMA DE LOS
                                ESTATUTOS
                            </span>
                        </p>
                    </td>
                    <td style="width:116.75pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
                            <span style="height:0pt; text-align:left; display:block; position:absolute; z-index:-65538">
                                <img src="~/Content/img/asamblea/logoTicsDocsAsamblea115153.png" width="145" height="55" alt=""
                                     style="margin-top:14.31pt; margin-left:0.15pt; -aw-left-pos:0.15pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:14.31pt; -aw-wrap-type:none; position:absolute" />
                            </span><span style="font-family:'Times New Roman'">&#xa0;</span>
                        </p>
                    </td>
                </tr>
            </table>
            <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
                <span style="font-family:Calibri">&#xa0;</span>
            </p>
        </div>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
            <span style="font-family:'Times New Roman'">&#xa0;</span>
        </p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
            <span style="font-family:'Times New Roman'; font-weight:bold">LISTADO DE ASOCIADOS PARTICIPANTES</span>
        </p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
            <span style="font-family:'Times New Roman'; font-weight:bold">ASAMBLEA GENERAL </span><span style="font-family:'Times New Roman'; font-weight:bold">EXTRAORDINARIA</span><span style="font-family:'Times New Roman'; font-weight:bold"> PARA LA </span><span style="font-family:'Times New Roman'; font-weight:bold">APROBACIÓN DE LA REFORMA DE LOS ESTATUTOS</span>
        </p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
            <span style="font-family:'Times New Roman'; font-weight:bold">&#xa0;</span>
        </p>
        <table cellspacing="0" cellpadding="0" style="width:532.35pt; border-collapse:collapse">
            <tr style="height:15pt">
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt">
                        <span style="font-family:Calibri">Número</span>
                    </p>
                </td>
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                        <span style="font-family:Calibri">Asociado</span>
                    </p>
                </td>
                <td style="width:38.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                        <span style="font-family:Calibri">Número de Asociado</span>
                    </p>
                </td>
                <td style="width:52.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                        <span style="font-family:Calibri">Número DPI</span>
                    </p>
                </td>
                <td style="width:40.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt">
                        <span style="font-family:Calibri">Genero</span>
                    </p>
                </td>
                <td style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                        <span style="font-family:Calibri">Fecha de Registro</span>
                    </p>
                </td>
                <td style="width:121.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                        <span style="font-family:Calibri">Firma</span>
                    </p>
                </td>
            </tr>
            @{ var contador = 0;}
            @foreach (var item in Model)
            {
                contador++;
                <tr style="height:57.6pt">
                    <td style="border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                            <span style="font-family:Calibri">@contador</span>
                        </p>
                    </td>
                    <td style="border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                            <span style="font-family:Calibri">@item.nombres</span>
                        </p>
                    </td>
                    <td style="width:38.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                            <span style="font-family:Calibri">@item.numeroAsociado</span>
                        </p>
                    </td>
                    <td style="width:52.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                            <span style="font-family:Calibri">@item.numeroDpi</span>
                        </p>
                    </td>
                    <td style="width:40.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                            <span style="font-family:Calibri">@item.genero</span>
                        </p>
                    </td>
                    <td style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:8pt">
                            <span style="font-family:Calibri"> @Html.DisplayFor(modelItem => item.fechaCreacion)</span>
                        </p>
                    </td>
                    <td style="width:121.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt">
                            <img src="@item.firma" width="162" height="40" alt=""
                                 style="margin-right:9pt; margin-left:9pt; -aw-left-pos:2.2pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:19.45pt; -aw-wrap-type:square; float:left" />
                        </p>
                    </td>
                </tr>
            }


        </table>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
            <span style="font-family:'Times New Roman'">&#xa0;</span>
        </p>
        @*<div style="-aw-headerfooter-type:footer-primary">
            <p style="margin-top:0pt; margin-right:18pt; margin-bottom:0pt; font-size:12pt">
                <span style="height:0pt; display:block; position:absolute; z-index:-65537">
                    <img src="~/Content/img/asamblea/bloque.png"
                         width="423" height="127"
                         alt="Un conjunto de letras blancas en fondo azul&#xA;&#xA;Descripción generada automáticamente con confianza baja"
                         style="margin-top:-34.2pt; margin-left:-85.2pt; -aw-left-pos:-0.15pt; -aw-rel-hpos:page; -aw-rel-vpos:paragraph; -aw-top-pos:-34.2pt; -aw-wrap-type:none; position:absolute" />
                </span><span style="height:0pt; display:block; position:absolute; z-index:-65536">
                    <img src="~/Content/img/asamblea/TextoPiePagina515919.png"
                         width="475" height="100" alt=""
                         style="margin-top:-9.2pt; margin-left:167.25pt; -aw-left-pos:252.3pt; -aw-rel-hpos:page; -aw-rel-vpos:page; -aw-top-pos:732.75pt; -aw-wrap-type:none; position:absolute" />
                </span><span style="height:0pt; display:block; position:absolute; z-index:-65535">
                    <img src="~/Content/img/asamblea/barraamarilla120657.png"
                         width="449" height="8" alt=""
                         style="margin-top:-12.98pt; margin-left:175.43pt; -aw-left-pos:260.85pt; -aw-rel-hpos:page; -aw-rel-vpos:paragraph; -aw-top-pos:-12.6pt; -aw-wrap-type:none; position:absolute" />
                </span><span style="font-family:Calibri">&#xa0;</span>
            </p>
        </div>*@
    </div>
</body>

</html>
