@model IEnumerable<iveCincoFrame.Models.IEmpleados.IEmpleadosModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layaut_Intranet.cshtml";
}
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<div class="container text-center">
    <h3 class="text-primary" style="color: #0c4899 !important;">Reporte de empleados que cuentan con el dpi vencido</h3>
    <hr />
</div>
<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Home")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #0c4899 !important;"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i> Volver</button>
        <button id="btnExport" class="btn btn-success btn-lg" onclick="exportReportToExcel(this)"><i class="align-middle me-2 fas fa-fw fa-download"></i> Descargar Reporte</button>
    </div>
</div>


<br />

<table class="table table-responsive" id="empleadosInfos">
    <thead class="small">

        <tr class="small">
            <th style="width:10%;">Ubicacion</th>
            <th style="width:10%;">Nombre</th>
            <th style="width:10%;">NoAsociado</th>
            <th style="width:10%;">Dpi</th>
            <th style="width:10%;">F. Exp. DPI</th>
            <th style="width:10%;">telefono</th>
            <th style="width:10%;">Nit</th>
            <th style="width:10%;">Email</th>
            <th style="width:10%;">Fecha Ingreso</th>
            <th style="width:10%;">Direccion</th>
            <th style="width:10%;">EtniaId</th>
            <th style="width:10%;">Emergencia Persona</th>
            <th style="width:10%;"> Emergencia Contacto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="small">
                <th class="small">
                    @Html.DisplayFor(modelItem => item.nombre)
                </th>
                <th class="small">
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </th>
                <th class="small">
                    @Html.DisplayFor(modelItem => item.NoAsociado)
                </th>
                <th class="small">
                    @Html.DisplayFor(modelItem => item.Dpi)
                </th>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.FechaExpiracionIdentificacion)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.TelefonoCelular)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.Nit)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.EtniaId)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.EmergenciaInformar)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.EmergenciaTelefono)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function exportReportToExcel() {
        let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
        TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
            name: `Empleados_con_Dpi_vencido.xlsx`, // fileName you could use any name
            sheet: {
                name: 'Sheet 1' // sheetName
            }
        });
    }
    $(document).ready(function () {
        $("#btnExport").click(function () {
            let table = document.getElementsByTagName("tblEmpleadosInfos");
            TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                name: `Archivo.xlsx`, // fileName you could use any name
                sheet: {
                    name: 'Sheet 1' // sheetName
                }
            });
        });
    });
</script>