@model  IEnumerable<iveCincoFrame.Models.TblBiblioteca>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/stylecardsbiblioteca.css" rel="stylesheet">

<div class="container" id="content">

    @foreach (var item in Model)
    {
        if (item.idCatTipoArchivo != 4 && item.idCatTipoArchivo != 5)
        {
            <div class="container contenedor-archivos">
                <div class="col-md-12 mb-1 mt-1">
                    <div class="card-data">
                        <div class="card info-body">
                            <div class="card-header text-center info-name">
                                <h4 class="text-white pb-4">@item.titulo</h4>

                            </div>
                            <div class="card-body ifno-general">
                                <h5>@item.CatJerarquia.descripcion: <strong style="color: #153d77 !important;">@item.detalle</strong></h5>
                                <h5>Origen: <strong style="color: #153d77 !important;">@item.CatOrigen.descripcion</strong></h5>
                                <h5>Fecha: <strong style="color: #153d77 !important;">@Html.DisplayFor(modelItem => item.fechaDocumento)</strong></h5>
                            </div>
                            <div class="card-footer text-center">
                                <a href="@Url.Action("VisualizarArchivo/"+item.idTblBiblioteca,"TblBiblioteca")" target="_blank" class="btn btn-primary btn-lg" style="background: #0c4899 !important;">Descargar Aqui <i class="align-middle me-2 fas fa-fw fa-arrow-down"></i></a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        if (item.idCatTipoArchivo == 4)
        {
            <div class="card-data mt-2 mb-2 contenedor-images">

                <div class="container text-center">
                    <img class="img-fluid" style="border-radius: 8%; width: 80%; " src="@item.nombreArchivo" />
                </div>
            </div>
        }
        if (item.idCatTipoArchivo == 5)
        {
            <div class="container container-if mb-3 mt-1 contenedor-videos">
                <iframe class="responsive-iframe" src="@item.urlVideo"></iframe>
            </div>
        }

    }


</div>


<script>
    window.sr = ScrollReveal();
    sr.reveal('.contenedor-archivos', {
        duration: 1000,
        origin: 'right',
        distance:'300px'
    });
    sr.reveal('.contenedor-images', {
        duration: 1000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.contenedor-videos', {
        duration: 1000,
        origin: 'right',
        distance: '300px'
    });
</script>


