@model IEnumerable<iveCincoFrame.Models.Biblioteca.CategoriasList>
@{
    ViewBag.Title = "Biblioteca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/stylecardsbiblioteca.css" rel="stylesheet">
<link href="~/CSS/bibliotecacooitza.css" rel="stylesheet" type="text/css">
<style>
    .box {
        border: 1px solid #ccc;
    }

        .box:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
</style>
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class=" px-4 mt-4">
                        <div class="container text-center">
                            <h1 class="text-primary" style="color: #0c4899 !important;">Biblioteca Cooitzá</h1>
                            <h3 class="text-muted">Categorias</h3>
                            <hr />
                        </div>
                        @foreach (var item in Model)
                        {
                            <!-- Knowledge base main category card 1-->
                            <a class="card box" href="@Url.Action("Details", "TblBiblioteca", new { id = item.idCatOrigen, idTiposArchivos = 0 })">
                                <div class="row">
                                    <div class="col-auto card-icon-aside p-5" style="background-color: @item.background;"><i class="@item.icono" style="font-size: 3rem; color: @item.colorIcono"></i></div>

                                    <div class="col">
                                        <div class="card-body py-5">
                                            <h2 class="text-primary mb-2">@item.descripcion</h2>
                                            <h4 class="mb-1 text-primary d-none d-md-flex">@item.contenido</h4>
                                            <h5 class="text-muted">@item.cantidadArchivos Archivos en esta Categoria</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

