@model iveCincoFrame.Models.SeguClases.UsuarioRespuestaVM
@{
    ViewBag.Title = "Home Page";
}
@{
    var claims = User.Identity.Name.Split('/');


}
<link href="~/CSS/stylecardsbiblioteca.css" rel="stylesheet">
<link href="~/CSS/styleiframe.css" rel="stylesheet">
<link href="~/CSS/StyleItemsInicio.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=DM+Sans:ital,wght@0,500;1,400&family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet">
<style>
    .card-body:hover i {
        color: white;
    }

    .col-6:hover .card-body {
        background-color: blue;
    }
    .icono-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .icono-texto i {
            font-size: 1.2rem;
        }

        .icono-texto .texto {
            font-size: 0.7rem;
            margin-top: 0.15rem;
        }
</style>
@if (claims[4] == "Oceana")
{
    <div class="">
        <!-- Illustration dashboard card example-->
        <div class="card card-waves mb-4 mt-5">
            <div class="card-body p-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col">
                        <h2 class="text-primary"></h2>
                        <h2 class="fc-toolbar-title" id="fc-dom-1">Hola 👋 bienvenido, es un gusto tenerte de vuelta</h2>
                        <p class="text-gray-700">
                            Realiza consultas acerca de nuestros asociados.
                        </p>
                        <a class="btn btn-primary p-3" href="~/Asociados/Index">
                            Iniciar Consulta
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-arrow-right ms-1">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                    <div class="col d-none d-lg-block mt-xxl-n4">
                        <img class="img-fluid px-xl-4 mt-xxl-n5"
                             src="~/Content/img/avatars/dashborad clientes.svg">
                    </div>
                </div>
            </div>
        </div>
    </div> }
else
{

    <div class="row">
        <!--<div class="col-xxl-4 col-xl-12 mt-sm-3 mt-md-3">
            <div class="card h-100">
                <div class="card-body h-100 p-5">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-xxl-12">-->
        @*<div class="text-center text-xl-start text-xxl-center mb-4 mb-xl-0 mb-xxl-4">
                <h1 class="text-primary"><h2 class="fc-toolbar-title" id="fc-dom-1">Hola 👋, <strong class="text-primary" style="color: #0c4899 !important;">@claims[0]</strong></h2></h1>
                <p class="text-gray-700 mb-0">Es un gusto tenerte de vuelta, utiliza nuestras herramientas corporativas para agilizar tu trabajo.</p>
            </div>*@
        <!--
                        </div>
                        <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="~/Recursos/perfil bienvenida H.svg" style="max-width: 26rem" /></div>
                    </div>
                </div>
            </div>
        </div>-->

        @Html.Partial("_MensajeParcial")

        <div class="col-xxl-8 col-xl-6 mt-0 mx-0 px-0">
            <div class="mt-0" id="contenedor-anuncios">


                <div class="my-0 mx-0 px-0" id="items-anuncios">
                    <div class="container__box row">
                        <div class="col-12 col-md-6 mb-3 mt-0">
                            <a href="@Url.Action("Home", "TableroGerencial")">
                                <div class="box bx-1">
                                    <i class="align-middle me-2 fas fa-fw fa-grip-horizontal"></i>
                                    <h5 class="font-weight-bold">Tableros Cooitzá</h5>
                                    <h4 class="font-weight-bold">Tableros Cooitzá</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <a href="@Url.Action("Biblioteca", "Home")">
                                <div class="box bx-2">
                                    <i class="align-middle me-2 fas fa-fw fa-atlas"></i>
                                    <h5 class="font-weight-bold">Biblioteca</h5>
                                    <h4 class="font-weight-bold">Biblioteca</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <a href="#" id="getAnuncios">
                                <div class="box bx-3">
                                    <i class="align-middle me-2 fas fa-fw fa-newspaper"></i>
                                    <h5 class="font-weight-bold">Anuncios</h5>
                                    <h4 class="font-weight-bold">Anuncios</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <a href="@Url.Action("Index", "TblDirectorios")">
                                <div class="box bx-5">
                                    <i class="fa-solid fa-tty"></i>
                                    <h5 class="font-weight-bold">Directorio Administrativo</h5>
                                    <h4 class="font-weight-bold">Directorio Administrativo</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div id="contedorData">

                </div>
                

                @*@Html.Action("Anuncios")*@
            </div>
        </div>
        <div class="col-xxl-4 col-xl-6">
            <div class="card card-header-actions h-100">
                <div class="card-header text-center">
                    <h1 class="text-primary" style="color: #0c4899 !important;">Cumpleañeros del Dia</h1>
                    <hr />
                </div>
                <div class="card-body">
                    @Html.Action("Cumple", "Home")
                </div>
            </div>
        </div>


    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            getAnuncios(function (opciones) {

                return opciones;
            })
                .then(function (resp) {
                    console.log(resp);
                    pintarAnuncios(resp.data);

                });
        // Función para mostrar la animación de carga
        function mostrarAnimacion(titulo, texto) {
            Swal.fire({
                title: titulo,
                html: texto,
                allowOutsideClick: false,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                }
            })
        }
        function pintarAnuncios(data) {
            return new Promise((resolve, reject) => {
                $("#contedorData").html('');//limiar el tablero
                $("#contedorData").html(`<div class="container">
                                                    <div class="card card-waves">
                                                        <div class="row mt-3 mx-3 text-center">
                                                            <h1 style="color: #0c4899 !important;">Anuncios</h1>
                                                            <hr />
                                                            <div class="row">
                                                                <div class="text-center">
                                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="container" id="content">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`);//limiar el tablero
                $.each(data, function (key, item) {
                    let html = '';
                    if (item.idCatTipoArchivo != 4 && item.idCatTipoArchivo != 5) {
                        html += `<div class="container contenedor-archivos">
                        <div class="col-md-12 mb-1 mt-1">
                            <div class="card-data">
                                <div class="card info-body">
                                    <div class="card-header text-center info-name">
                                        <h4 class="text-white pb-4">${item.titulo}</h4>

                                    </div>
                                    <div class="card-body ifno-general">
                                        <h5>${item.jerarquiaDescripcion}: <strong style="color: #153d77 !important;">${item.detalle}</strong></h5>
                                        <h5>Origen: <strong style="color: #153d77 !important;">${item.origenDescripcion}</strong></h5>
                                        <h5>Fecha: <strong style="color: #153d77 !important;">${item.fechaDocumento}</strong></h5>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="@Url.Action("VisualizarArchivo","TblBiblioteca")?id=${item.idTblBiblioteca}"  target="_blank" class="btn btn-primary btn-lg" style="background: #0c4899 !important;">Descargar Aqui <i class="align-middle me-2 fas fa-fw fa-arrow-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                    }
                    else if (item.idCatTipoArchivo == 4) {
                        html += `<div class="card-data mt-2 mb-2 contenedor-images">
                                        <div class="container text-center">
                                            <img class="img-fluid" style="border-radius: 8%; width: 80%; " src="${item.nombreArchivo}" />
                                        </div>
                                    </div>`;
                    }
                    else if (item.idCatTipoArchivo == 5) {
                        html += `<div class="container container-if mb-3 mt-1 contenedor-videos">
                                        <iframe class="responsive-iframe" src="${item.urlVideo}"></iframe>
                                    </div>`;
                    }
                    else
                    {
                        html += `<h1>inposible leer</h1>`;
                    }

                    $("#content").append(html);
                });

                // Resolver la promesa cuando se hayan pintado los datos
                resolve();
                /*
                 *configuracion para el scroll reveal
                 */
                window.sr = ScrollReveal();
                sr.reveal('.contenedor-archivos', {
                    duration: 1000,
                    origin: 'right',
                    distance: '300px'
                });
                sr.reveal('.contenedor-images', {
                    duration: 1000,
                    origin: 'right',
                    distance: '300px'
                });
                sr.reveal('.contenedor-videos', {
                    duration: 1000,
                    origin: 'right',
                    distance: '300px'
                });
            });
        }

        $("#getAnuncios").on('click', function (e) {
            e.preventDefault();
            var btn = $(this);
            if (!btn.hasClass('disabled')) {
                getAnuncios(function (opciones) {

                    return opciones;
                })
                .then(function (resp) {
                     console.log(resp);
                     pintarAnuncios(resp.data);

                 });
            }
            else {
                return false;
            }
        });
        function getAnuncios(beforeSendCallback) {

            mostrarAnimacion("Obteniendo los anuncios", "Espere un momento por favor...");
            let opciones = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            };
            // Si se proporciona una función beforeSendCallback, llámala antes de enviar la solicitud
            if (beforeSendCallback && typeof beforeSendCallback === 'function') {
                opciones = beforeSendCallback(opciones);
            }
            var url = '@Url.Action("Anuncios", "Home")';
            // Enviar solicitud
            return fetch(url, opciones)
                .then(function (response) {
                    if (response.status >= 200 && response.status < 300) {
                        swal.close();
                        return response.json().then(data => ({ error: false, data }));
                    } else {
                        swal.close();
                        // El código de estado está fuera del rango de éxito
                        return { error: true, data: null };
                    }
                })
                .catch(function (error) {
                    console.error('Ocurrio un problema en la peticion fetch para obtener los anuncios:', error);
                    swal.close();
                    return { error: true, data: null };
                });
        }
    });
    </script>
}

