@model iveCincoFrame.Models.Usuarios.UsuarioBusqueda
@{
    DateTime date = DateTime.UtcNow.Date;
}
@using (Html.BeginForm("guardarUsuario", "TblUsuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <div class="col-xl-4">
           
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                <div class="card-actions bg-success-dark text-white"><i class="align-middle me-2 fas fa-fw fa-check-circle"></i> Agregar Usuario</div>
                <div class="card-body text-center">
                    <h4 class="text-center">Fotografia</h4>

                    <!-- Profile picture image-->
                    <img class="img-fluid mb-2 text-center"
                    <a href="~/Views/TblUsuarios/buscarColaborador.cshtml">~/Views/TblUsuarios/buscarColaborador.cshtml</a>
                    src="@Model.Imagen" width="100">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">Ultima actualizacion @date</div>
                    <!-- Profile picture upload button-->
                </div>



            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                <div class="card-actions bg-success-dark text-white">.</div>
                <div class="card-header">Detalles del Usuario</div>
                <div class="card-body">
                    <form>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="Usuario">Usuario</label>
                                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                            </div>
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="Institucion">Institucion</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Cooperativa Integral de Ahorro y Credito Cooitza">
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="PrimerNombre">Primer Nombre</label>
                                @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="SegundoNombre">Segundo Nombre</label>
                                @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="TercerNombre">Tercer Nombre</label>
                                @Html.EditorFor(model => model.TercerNombre, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.TercerNombre, "", new { @class = "text-danger" })
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="PrimerApellido">Primer Apellido</label>
                                @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="SegundoApeliido">Segundo Apellido</label>
                                @Html.EditorFor(model => model.SegundoApeliido, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.SegundoApeliido, "", new { @class = "text-danger" })
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="ApellidoDeCasada">Apellido de Casada</label>
                                @Html.EditorFor(model => model.ApellidoDeCasada, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ApellidoDeCasada, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="Direccion">
                                Direccion
                            </label>
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="Correo">Correo Institucional</label>
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                        </div>
                        <!-- Form Row        -->
                        <div class="row  mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="FechaNacimiento">Fecha Nacimiento</label>
                                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="Nit">NIt</label>
                                @Html.EditorFor(model => model.Nit, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Nit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row  mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="Dpi">No. Docuemto de Identificacion</label>
                                @Html.EditorFor(model => model.Dpi, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Dpi, "", new { @class = "text-danger" })
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="idTblRoles">Rol</label>
                                @Html.DropDownList("idTblRoles", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row  mb-3">
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="idCatPersonas">Tipo de Usuario</label>
                                @Html.DropDownList("idCatPersonas", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="idCatDepartamentosTrabajo">Departamento</label>
                                @Html.DropDownList("idCatDepartamentosTrabajo", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="idCatOpciones">Nombre del Jefe Inmediato</label>
                                <select class="form-select" id="Coordinadores" name="Coordinadores"></select>
                            </div>
                            <!-- Form Group (birthday)-->
                            @*<div class="col-md-6">
                        <label class="small mb-1" for="idCatOpciones">Es Coordinador?</label>
                        @Html.DropDownList("idCatOpciones", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                    </div>*@
                            <div class="col-md-6">
                                @*<div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="tienePersonal">
                            <label class="form-check-label" for="flexCheckDefault">Tiene personal a su cargo</label>
                        </div>*@

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="tienePersonal">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Tiene personal a su cargo</label>
                                </div>

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="esGerenteDeArea">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Es Gerente de Area</label>
                                </div>

                                @*<div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="esGerenteDeArea">
                            <label class="form-check-label" for="flexCheckDefault">Es Gerente de Area</label>
                        </div>*@
                            </div>

                        </div>
                        <div class="row  mb-3">
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="idCatPersonas">Agencia a la que pertenece</label>
                                @Html.DropDownList("idCatUbicaciones", null, htmlAttributes: new { @class = "form-select flex-grow-1" })
                            </div>
                            <!-- Form Group (birthday)-->
                        </div>
                        <div class="row gx-3 mb-3">


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




}

<script>
$(document).ready(function () {
    $("#idCatDepartamentosTrabajo").change(function () {
        //alert("cambio");
        $("#Coordinadores").empty();
        $.ajax({
               type: 'POST',
               url: '@Url.Action("ObtenerCooordinador", "TblUsuarios")',
               dataType:'json',
            data: { departamentoId: $("#idCatDepartamentosTrabajo").val() },
            success: function (response) {

                //debugger;
                $("#Coordinadores").append('<option  value="0" disabled selected>Selececcione</option>');
                $.each(response, function (i, coordinadores) {
                    $("#Coordinadores").append('<option value="'
                        + coordinadores.Value + '">'
                        + coordinadores.Text + '</option>');
                });

            },
            error: function (ex) {
                   alert('No se pueden cargar los coordinadores' + ex)
            }
        });
        return false;

    })
});
</script>