@model iveCincoFrame.Models.Usuarios.SidebarUsuario

<li class="nav-item  dropdown ms-lg-2">
    <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown">
        <div class="fw-bold">@Model.Nombre</div>
        <span class="indicator bg-success"></span>

    </a>

</li>



@if (ViewBag.cantidadPreM >= 1)
{
    <li class="nav-item dropdown ms-lg-2">
        <a class="nav-link dropdown-toggle position-relative" href="@Url.Action("Index", "tblpremoras")" id="alertsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="align-middle fas fa-bell"></i>
            <span class="indicator"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
            <div class="dropdown-menu-header">
                Notificaciones
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "tblpremoras")" class="list-group-item">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <i class="ms-1 text-danger fas fa-fw fa-bell"></i>
                        </div>
                        <div class="col-10">
                            <div class="text-dark">Casos de premora</div>
                            <div class="text-muted small mt-1">Tienes @ViewBag.cantidadPreM Casos de premora pendientes de revisar</div>
                            <div class="text-muted small mt-1">Revisalos pronto</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>
}
else if (ViewBag.cantidadSoliRrhh >= 1 && ViewBag.usuarioRrhh == 1)
{
    <li class="nav-item dropdown ms-lg-2">
        <a class="nav-link dropdown-toggle position-relative" href="@Url.Action("IndexRrhh", "constanciasLaborales")" id="alertsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="align-middle fas fa-bell"></i>
            <span class="indicator"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
            <div class="dropdown-menu-header">
                Notificaciones
            </div>
            <div class="list-group">
                <a href="@Url.Action("IndexRrhh", "constanciasLaborales")" class="list-group-item">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <i class="ms-1 text-danger fas fa-fw fa-bell"></i>
                        </div>
                        <div class="col-10">
                            <div class="text-dark">Constancias Laborales pendientes de aprobar</div>
                            <div class="text-muted small mt-1">Tienes @ViewBag.cantidadSoliRrhh solicitudes pendientes de revisar</div>
                            <div class="text-muted small mt-1">Revisalos pronto</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>


}
else
{

    <li class="nav-item dropdown ms-lg-2">
        <a class="nav-link dropdown-toggle position-relative" href="#" id="alertsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="align-middle fas fa-bell"></i>

        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
            <div class="dropdown-menu-header">
                Notificaciones
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <i class="ms-1 text-danger fas fa-fw fa-bell"></i>
                        </div>
                        <div class="col-10">
                            <div class="text-dark">Sin alertas</div>
                            <div class="text-muted small mt-1">Hola! no tienes notificaciones</div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>
}
