@model IEnumerable<iveCincoFrame.Models.CatMeses>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Index</h2>

                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.descripcion)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.idCatMeses }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.idCatMeses }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.idCatMeses })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

