@model IEnumerable<iveCincoFrame.Models.TblConvivio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
               
                            <div class="container text-center">
                                <h1 class="text-primary" style="color: #0c4899 !important;">Registro de Asociados</h1>
                                <hr />
                            </div>
                            <p>
                                @Html.ActionLink("Registar Nuevo", "Create")
                            </p>
                            <table class="table table-sm table-hover" id="tbl-registros">
                                <thead class="table-dark">
                                    <tr>
                                        <th>
                                            Nombre Completo
                                        </th>
                                        <th>
                                            Numero de telefono
                                        </th>
                                        <th>
                                            Fecha de Registro
                                        </th>
                                        <th>
                                            Asociado
                                        </th>
                                        <th>
                                            Asociado Fundador
                                        </th>
                                        <th>
                                            Tarjeta de Credito
                                        </th>
                                        <th>
                                            Numero de Telefono
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nombreCompleto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.numeroTelefono)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fechaIngreso)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.asociado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.asociadoFundafor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tarjetaCredito)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.numeroTelefono)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CatEstados.descripcion)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.idTblConvivio }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.idTblConvivio }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.idTblConvivio })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tbl-registros').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "sInfo": "Mostrando _START_ to _END_ of total:  _TOTAL_ Registrados",
                "sInfoEmpty": "Showing 0 to 0 of 0 records",
                "sInfoFiltered": "(filtered from _MAX_ total records)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true,
            ordering: false
        });
    });
</script>

