@model IEnumerable<iveCincoFrame.Models.TblFacturas>

<div class="">
    <button type="button" class="btn btn-primary cargarModal">
        Agregar Factura <i class="bi bi-plus" role="img" aria-label="Agregar"></i><i class="fa-solid fa-file-lines"></i>
    </button>

    <br />
    @Html.Editor("idSolicitud", new { htmlAttributes = new { @class = "form-control", Type = "hidden" } })
    <div class="divider-custom1">
        <div class="divider-custom-line"></div>
        <h2>Listado de Facturas <i class="fa-solid fa-file-lines"></i></h2>
        <div class="divider-custom-line"></div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="tbl-facturasS" width="100%" cellpadding="0">
            <thead class="table-dark">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Proveedor
                    </th>
                    <th>
                        No. de Factura
                    </th>
                    <th>
                        Fecha Factura
                    </th>
                    <th>
                        Serie
                    </th>
                    <th>
                        Monto
                    </th>
                    <th>
                        Fecha Registro
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @{var iterador = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@iterador</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblProveedores.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.noFactura)
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", item.fechaFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.serie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.monto)
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy HH:mm:ss tt}", item.fechaCreacion)
                        </td>
                        <td>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="align-middle me-2 fas fa-fw fa-cog"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item editarFactura" codigoFactura="@item.idTblFacturas"><i class="align-middle me-2 fas fa-fw fa-pen"></i> Editar</a></li>
                                <li><a class="dropdown-item eliminarRFactura" codigoFactura="@item.idTblFacturas"><i class="align-middle me-2 fas fa-fw fa-trash-alt"></i> Eliminar</a></li>
                                <li><a class="dropdown-item verImagenCFactura" codigoF="@item.idTblFacturas"><i class="align-middle me-2 fas fa-fw fa-file-image"></i> Factura</a></li>
                            </ul>
                        </td>
                    </tr>
                    iterador++;
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#tbl-facturasS').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });

        $('#agregarFacturaS').click(function (e)
        {
            if (window.FormData !== undefined)
            {
                var fileUploadF = $("#FileFactura").get(0);
                var filesF = fileUploadF.files[0];

                    // Create  a FormData object
                var fileData = new FormData();
                if (filesF != null)
                {
                    fileData.append("imagenF", filesF);
                }
                if (filesF == null)
                {
                    fileData.append("imagenFacturaS", "sindatosF1Itza");
                }

                    // datos generales del formulario para registro de vehiculo
                fileData.append("idSoliFactura", $("#idSolicitud").val());
                fileData.append("numeroFactura", $("#noFactura").val());
                fileData.append("idTblProveedores", $("#idTblProveedoreslst").val());
                fileData.append("serieFactura", $("#serieFactura").val());
                fileData.append("fechaFactura", $("#fechaFactura").val());
                fileData.append("montoFactura", $("#montoFactura").val());
                fileData.append("fechaVencimiento", $("#fechaVencimiento").val());
                fileData.append("razonF", $("#razonFacturaS").val());

                $.ajax({
                    url: '/TblSolicitudes/GuardarFactura', //URL to upload files
                    type: "POST", //as we will be posting files and other method POST is used
                    processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                    contentType: false,
                    data: fileData,
                    beforeSend: function (result)
                    {
                        result.setRequestHeader("If-Modified-Since", "0");
                        result.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (result)
                    {
                        limpiarDatosFactura();
                        $('#cerrarModalFacturaS').click();
                        $('#cerrarModalFacturasI').click();
                        cargardetallefacturas(result);
                    },
                    error: function (err)
                    {
                        alert(err.statusText);
                    }
                });
            }
            else
            {
                alert("Archivos no soportados.");
            }
            function cargardetallefacturas(numero)
            {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("detalleFacturas", "TblSolicitudes")',
                    data:
                    {
                        id: numero,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#agregarFacturasDetalle').html(response);
                        $('#modalAgregarFacturaSolicitud').modal('show');
                    },
                });
                return false;
            }
            function limpiarDatosFactura()
            {
                $('#idTblSolicitudes').val("");
                $("#noFactura").val("");
                $('#idTblProveedores').empty();
                $('#idTblProveedores').val("");
                $("#serieFactura").val("");
                $('#fechaFactura').val("");
                $('#montoFactura').val("");
                $('#fechaVencimiento').val("");
                $("#razonFacturaS").val("");
            }
        });

        $('.cargarModal').click(function ()
        {
            $('#modalCargarFacturasS').modal('show');
        });

        $('.agregarProveedorS').click(function () {
            $('#modalCargarFacturasS').modal('show');
        });

        $('.agregarProveedor').click(function ()
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("agregarProveedorS", "TblSolicitudes")',
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                        //alert("Ok");
                    $('#cerrarModalFacturaS').click();
                    $('#modalCargarProveedor').modal('show');
                    $('#agregarProveedorS').html(response);
                },
            });
            return false;
        });

        $('.editarFactura').click(function ()
        {
             var codigofact = $(this).attr('codigoFactura');
             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("EdicionDetalleFactura", "TblSolicitudes")',
                 data:
                 {
                     id: codigofact,
                 },
                 beforeSend: function (response)
                 {
                     response.setRequestHeader("If-Modified-Since", "0");
                     response.setRequestHeader("Cache-Control", "no-cache");
                 },
                 success: function (response)
                 {
                     $('#detalleEditarFacturas').html(response);
                     $('#modalEditarFacturas').modal('show');
                 },
             });
            return false;
        });

        $('.verImagenCFactura').click(function ()
        {
            var codigoF = $(this).attr('codigoF');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerImagenFactura", "TblSolicitudes")',
                data:
                {
                    id: codigoF,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#detalleFacturaC').html(response);
                    $('#modalVerFactura').modal('show');
                },
            });
            return false;
        });

        $('.eliminarRFactura').click(function ()
        {
            var codigo = $(this).attr('codigoFactura');
            Swal.fire({
                icon: 'warning',
                title: '¿Estás seguro/a de eliminar la factura?',
                showConfirmButton: true,
                confirmButtonText: 'ELIMINAR',
                confirmButtonColor: '#3085d6',
                showCancelButton: true,
                cancelButtonText: 'CANCELAR',
                cancelButtonColor: '#d33',
                buttonsStyling: true,

            }).then((result) =>
            {
                if (result.isConfirmed)
                {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EliminarFactura", "TblSolicitudes")',
                        data:
                        {
                            id: codigo,
                        },
                        beforeSend: function (response)
                        {
                            response.setRequestHeader("If-Modified-Since", "0");
                            response.setRequestHeader("Cache-Control", "no-cache");
                        },
                        success: function (response)
                        {
                            Swal.fire({
                                icon: 'success',
                                title: 'Factura eliminada con exito',
                                showConfirmButton: false,
                                timer: 1500,
                            }),
                                number = response;
                            limpiarDatosFactura();
                            $('#cerrarModalFacturasI').click();
                            cargardetallefacturas(number);
                        },
                    });
                }
            });
            return false;
            function cargardetallefacturas(number)
            {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("detalleFacturas", "TblSolicitudes")',
                    data:
                    {
                        id: number,
                    },
                    beforeSend: function (response)
                    {
                        response.setRequestHeader("If-Modified-Since", "0");
                        response.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (response)
                    {
                        $('#agregarFacturasDetalle').html(response);
                        $('#modalAgregarFacturaSolicitud').modal('show');
                    },
                });
                return false;
            }
            function limpiarDatosFactura()
            {
                $('#idTblSolicitudes').val("");
                $("#noFactura").val("");
                $('#idTblProveedores').empty();
                $('#idTblProveedores').val("");
                $("#serieFactura").val("");
                $('#fechaFactura').val("");
                $('#montoFactura').val("");
                $('#fechaVencimiento').val("");
                $('#FileFactura').val("");
            }
        });

        $('#agregarProveedorSoli').click(function (e)
        {
            var nombreProveedor = $('#nombre').val();
            var nitP = $('#nit').val();
            var tipoFactura = $('#idCatClasificacionFacturas').val();

            var grupoProveedor =
            {
                nombre: nombreProveedor,
                nit: nitP,
                idCatClasificacionFacturas: tipoFactura
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateProveedor", "TblSolicitudes")',
                data: grupoProveedor,
                cache: false,
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#cerrarModalProveedor').click();
                    limpiarProveedor();
                    $('#modalCargarFacturasS').modal('show');
                },
            });
            return false;

            function limpiarProveedor()
            {
                $('#nombre').val("");
                $('#nit').val("");
            }
        });

    });
</script>


<!-- Modal para editar boletas de pago o deposito-->
<div class="modal fade" id="modalEditarDepositoC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarDepositoCLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="modalEditarDepositoCLabel">Editar Boleta de Pago ó Deposito</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editarBoletasContabilidad"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalCE" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editarBContabilidad">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver Comprobante Factura -->
<div class="modal fade" id="modalVerFactura" tabindex="-1" aria-labelledby="modalVerFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerFactura">Comprobante Deposito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detalleFacturaC"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar Facturas -->
<div class="modal fade" id="modalCargarFacturasS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCargarFacturasSLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargarFacturasSLabel">Agregar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label class="control-label">Seleccione Proveedor</label>
                        @Html.DropDownList("idTblProveedoreslst", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-6">
                        <br />
                        <button type="button" class="btn btn-primary agregarProveedor">
                            Agregar Proveedor <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">No. de Factura</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-file-lines"></i></span>
                        <input type="text" class="form-control" id="noFactura" aria-describedby="text">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Serie</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-file-lines"></i></span>
                        <input type="text" class="form-control" id="serieFactura" aria-describedby="text">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Fecha de Factura</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                        <input type="date" class="form-control" id="fechaFactura">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Fecha Vencimiento</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                        <input type="date" class="form-control" id="fechaVencimiento">
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Monto</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Q</span>
                        <input type="number" name="montoFactura" class="form-control" id="montoFactura" placeholder="00.00" />
                    </div>
                </div>
                <div class="col-12">
                    <label class="control-label">Imagen Factura</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input type="file" id="FileFactura" class="form-control" accept="image/*" />
                    </div>
                </div>
                <div class="col-12">
                    <label for="razonFacturaS" class="form-label">Razon Factura</label>
                    <textarea class="form-control" id="razonFacturaS" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalFacturaS" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="agregarFacturaS">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Facturas -->
<div class="modal fade" id="modalEditarFacturas" tabindex="-1" aria-labelledby="modalEditarFacturasLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarFacturas">Editar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="detalleEditarFacturas"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalEFactura" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editarFacturaS">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar Proveedor -->
<div class="modal fade" id="modalCargarProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCargarProveedorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargarProveedorLabel">Agregar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="agregarProveedorS"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarModalProveedor" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="agregarProveedorSoli">Agregar</button>
            </div>
        </div>
    </div>
</div>