@model iveCincoFrame.Models.Auditoria.editarVehiculoModel


@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.idTblSolicitudesXtblVehiculoes, htmlAttributes: new { @class = "form-control", Type = "hidden", id = "idSolicitudV" })
    <div class="container">
        <div class="row">
            <label for="idOpVehiculo" class="form-label">Tipo de vehiculo</label>
            @Html.DropDownList("idOpVehiculo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TblVehiculos.idCatOpcionesVehiculos, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <label for="idTblVehiculos" class="form-label">Seleccione Un Vehiculo</label>
            @Html.DropDownList("idTblVehiculosEditar", null, htmlAttributes: new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.idTblVehiculos, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <label for="control-label" class="form-label">Kilometraje Inicial</label>
            @Html.TextBoxFor(model => model.kilometrajeInicial, htmlAttributes: new { @class = "form-control", placeholder = "0.00", id = "kiloInicial" })
            @Html.ValidationMessageFor(model => model.kilometrajeInicial, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @if (Model.imagenKilometrajeInicial != null)
            {
                <div class="col-6">
                    <label for="control-label">Imagen Kilometraje Inicial</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input type="file" id="FileKilometrajeI" class="form-control" accept="image/*" />
                    </div>
                </div>
                <div class="col-6">
                    <label for="control-label" class="form-label">Ver Imagen Kilometraje Inicial</label>
                    <br />
                    <button type="button" class="btn btn-primary">
                        <span>
                            <i class="align-middle me-2 fas fa-fw fa-eye verImagenKilometrajeInicial" codigoV="@Model.idTblSolicitudesXtblVehiculoes"></i>
                        </span>
                    </button>
                </div>
            }
            else
            {
                <div class="col-6">
                    <label for="control-label">Imagen Kilometraje Inicial</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input type="file" id="FileKilometrajeI" class="form-control" accept="image/*" />
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <label for="control-label" class="form-label">Kilometraje Final</label>
            @Html.TextBoxFor(model => model.kilomentrajeFinal, htmlAttributes: new { @class = "form-control", placeholder = "0.00", id = "kiloFinal" })
            @Html.ValidationMessageFor(model => model.kilomentrajeFinal, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @if (Model.imagenKilometrajeFinal != null)
            {
                <div class="col-6">
                    <label for="formFile" class="form-label">Imagen del Kilometraje Final</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input class="form-control" type="file" id="FileKilometrajeF" accept="image/*">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label">Ver Imagen Kilometraje Final</label>
                    <br />
                    <button type="button" class="btn btn-primary">
                        <span>
                            <i class="align-middle me-2 fas fa-fw fa-eye verImagenKilometrajeFinal" codigoV="@Model.idTblSolicitudesXtblVehiculoes"></i>
                        </span>
                    </button>
                </div>
            }
            else
            {
                <div class="col-6">
                    <label for="formFile" class="form-label">Imagen del Kilometraje Final</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input class="form-control" type="file" id="FileKilometrajeF" accept="image/*">
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <label for="observacionVehiculo" class="form-label">Detalle de Recepcion</label>
            @Html.TextAreaFor(model => model.observaciones, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#actualizarVehiculoS').click(function ()
        {
            if (window.FormData !== undefined)
            {
                var fileUploadI = $("#FileKilometrajeI").get(0);
                var filesI = fileUploadI.files[0];

                var fieleUploadF = $("#FileKilometrajeF").get(0);
                var filesF = fieleUploadF.files[0];

                // Create  a FormData object
                var fileData = new FormData();

                if (filesI != null) {
                    fileData.append("imagenKilometrajeI", filesI);
                }
                if (filesI == null) {
                    fileData.append("imagenKilometrajeInicial", "sindatos1Itza");
                }

                if (filesF != null) {
                    fileData.append("imagenKilometrajeF", filesF);
                }
                if (filesF == null) {
                    fileData.append("imagenKilometrajeFinal", "sindatos2Itza");
                }

                // datos generales del formulario para registro de vehiculo
                fileData.append("idSolicitudV", $("#idSolicitudV").val());
                //fileData.append("idSolicitud", $("#idTblSolicitudes").val());
                fileData.append("kilometrajeInicial", $("#kiloInicial").val());
                fileData.append("kilometrajeFinal", $("#kiloFinal").val());
                fileData.append("idTblVehiculosEditar", $("#idTblVehiculosEditar").val());
                fileData.append("observaciones", $("#observaciones").val());

                $.ajax({
                    url: '/TblSolicitudes/EditarVehiculo', //URL to upload files
                    type: "POST", //as we will be posting files and other method POST is used
                        //dataType: "JSON",
                    processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                    contentType: false,
                    data: fileData,
                    beforeSend: function (result) {
                        result.setRequestHeader("If-Modified-Since", "0");
                        result.setRequestHeader("Cache-Control", "no-cache");
                    },
                    success: function (result)
                    {
                        limpiarVehiculos();
                        $('#cerrarModalEV').click();
                        cargardetalle(result);
                    },
                    error: function (err)
                    {
                        alert(err.statusText);
                    }
                });
                    /*----- cargar detalle -----*/
                function cargardetalle(result)
                {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("DetalleVehiculo", "TblSolicitudes")',
                        data: {
                            id: result,
                        },
                        beforeSend: function (response) {
                            response.setRequestHeader("If-Modified-Since", "0");
                            response.setRequestHeader("Cache-Control", "no-cache");
                        },
                        success: function (response) {
                            $('#detalleVehiculos').html(response);
                        },
                    });
                    return false;
                }
                function limpiarVehiculos()
                {
                    $("#idSolicitudV").val("");
                    $("#idTblSolicitudes").val("");
                    $("#kilometrajeInicial").val("");
                    $("#kilometrajeFinal").val("");
                    $("#idTblVehiculosEditar").empty();
                    $("#idTblVehiculosEditar").val("");
                    $("#observaciones").val("");
                    $("#FileKiloInicial").val("");
                    $("#FileKiloFinal").val("");
                }
            }
            else
            {
                alert("FormData is not supported.");
            }
        });

        $("#idOpVehiculos").change(function ()
        {
            $.get("/TblSolicitudes/GetVehiculos", { idTipoVehiculo: $("#idOpVehiculos").val() }, function (vehiculo) {
                // VACIAMOS EL DropDownList
                $("#idVehiculo").empty();
                // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                $("#idVehiculo").append("<option value> -- SELECCIONE VEHICULO " + $("#idOpVehiculos option:selected").text() + " -- </option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(vehiculo, function (index, row) {
                    $("#idVehiculo").append("<option value='" + row.idTblVehiculos + "'>" + row.descripcion + "</option>")
                });
            });
        });
        // visualizacion de imagenes dentro de modales
        $('.verImagenKilometrajeInicial').click(function ()
        {
            var codigoV = $(this).attr('codigoV');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerKilometrajeInicialImg", "TblSolicitudes")',
                data: {
                    id: codigoV,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#detalleKlmInicial').html(response);
                    $('#verkInicial').modal('show');
                },
            });
            return false;
        });

        $('.verImagenKilometrajeFinal').click(function ()
        {
            //var codigoV = $('Model.idTblSolicitudesXtblVehiculoes').val();
            var codigoV = $(this).attr('codigoV');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerKilometrajeFinalImg", "TblSolicitudes")',
                data: {
                    id: codigoV,
                },
                beforeSend: function (response) {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response) {
                    $('#detalleKlmFinal').html(response);
                    $('#verkFinal').modal('show');
                },
            });
            return false;
        });



    });

</script>