@model iveCincoFrame.Models.Auditoria.estadoContabilidadModel

@using (Html.BeginForm())
{

    <div class="container-fluid">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idTblSolicitudes)

        <input type="hidden" name="idEstadoSC" id="idEstadoSC" value="@Model.idCatEstados" class="form-control" disabled />
        <div class="row">
            <label for="CatEstadoSolicitud" class="form-label">Estado Solicitud</label>
            @Html.DropDownList("CatEstadoSolicitud", null, htmlAttributes: new { @class = "form-control", @readonly = "true" })
        </div>
        <div class="row">
            <label for="detalleSolicitudG" class="form-label">Detalle de Solicitud</label>
            @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control", @readonly = "true" })
            <div id="recepcionHelp" class="form-text">Detalle del estado de la solicitud</div>
        </div>
        <div class="row" id="opcionesDepositos">
            <div class="col-12">
                <div id="detalleDepositoGl" class="detalleDepositoGl">
                    @Html.Action("detalleDepositosGlobales", new { id = Model.idTblSolicitudes })
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function ()
    {
        function cargardetalle()
        {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("detalleDepositosGlobales", "TblSolicitudes")',
                data: {
                    id: @Model.idTblSolicitudes,
                },
                beforeSend: function (response)
                {
                    response.setRequestHeader("If-Modified-Since", "0");
                    response.setRequestHeader("Cache-Control", "no-cache");
                },
                success: function (response)
                {
                    $('#detalleDepositosGlobales').html(response);
                },
            });
            return false;
        }

    });
</script>