@model iveCincoFrame.Models.TblMigracion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            @using (Html.BeginForm())
                            {
                                <div class="card-body mb-4" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                                    <div class="card-actions bg-success-dark text-white"><i class="align-middle me-2 fas fa-fw fa-check-circle"></i> Agregar Registro</div>
                                    <div class="text-center">
                                        <h3>Detalles del Registro</h3>
                                    </div>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.Partial("_MensajeParcial")

                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg1, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg1, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg1, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg2, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg2, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg2, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg3, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg3, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg3, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg4, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg4, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg4, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg5, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg5, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg5, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg6, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg6, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg6, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg7, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg7, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg7, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg8, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg8, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg8, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg9, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg9, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg9, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg10, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg10, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg10, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg11, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg11, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg11, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg12, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg12, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg13, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg13, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg13, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg13, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg14, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg14, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg14, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg15, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg15, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg15, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg16, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg16, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg16, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg17, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg17, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg17, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg18, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg18, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg18, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg19, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg19, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg19, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg20, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg20, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg20, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg21, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg21, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg21, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg22, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg22, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg22, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg23, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg23, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg23, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg24, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg24, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg24, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg25, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg25, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg25, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg26, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg26, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg26, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg27, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg27, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg27, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg28, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg28, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg28, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg29, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg29, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg29, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg30, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg30, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg30, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg31, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg31, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg31, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg32, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg32, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg32, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg33, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg33, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg33, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg34, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg34, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg34, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg35, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg35, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg35, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg36, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg36, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg36, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg37, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg37, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg37, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg38, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg38, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg38, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg39, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg39, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg39, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg40, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg40, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg40, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg41, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg41, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg41, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg42, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg42, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg42, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg43, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg43, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg43, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg44, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg44, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg44, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg45, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg45, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg45, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg46, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg46, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg46, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg47, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg47, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg47, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg48, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg48, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg48, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg49, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg49, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg49, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- Form Group (organization name)-->
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.lg50, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.lg50, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.lg50, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col text-center">
                                                    <button type="submit" class="btn btn-primary btn-lg" value="Create"> <i class="fa-solid fa-floppy-disk"></i> Guardar Registro</button>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



