@model iveCincoFrame.Models.TblMigracion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblMigracion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lg1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg28)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg34)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg34)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg35)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg35)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg36)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg36)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg37)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg37)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg38)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg38)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg39)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg39)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg40)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg40)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg41)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg41)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg42)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg42)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg43)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg43)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg44)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg44)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg45)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg45)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg46)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg46)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg47)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg47)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg48)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg48)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg49)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg49)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lg50)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lg50)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios1.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios1.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatEstados.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatEstados.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
