@model IEnumerable<iveCincoFrame.Models.TblMigracion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="container text-center">
                                <h1 class="text-primary" style="color: #0c4899 !important;">Registros para la Migración</h1>
                                <hr />
                            </div>
                            <div class="d-flex justify-content-center justify-content-md-start">

                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "TblMigracions")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #0c4899 !important;"><i class="align-middle me-2 fas fa-fw fa-plus"></i>Nuevo Registro</button></div>
                            </div>
                            @Html.Partial("_MensajeParcial")
                            <br />
                            <button id="btnExport" class="btn btn-success" onclick="exportReportToExcel(this)">EXPORTA EXCEL</button>
                            <br />
                            <table class="table" id="tblMigracion">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg3)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg4)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg5)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg6)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg7)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg8)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg9)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg10)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg11)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg12)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg13)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg14)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg15)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg16)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg17)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg18)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg19)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg20)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg21)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg22)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg23)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg24)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg25)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg26)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg27)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg28)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg29)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg30)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg31)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg32)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg33)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg34)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg35)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg36)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg37)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg38)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg39)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg40)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg41)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg42)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg43)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg44)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg45)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg46)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg47)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg48)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg49)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lg50)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg3)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg4)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg5)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg6)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg7)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg8)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg9)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg10)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg11)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg12)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg13)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg14)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg15)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg16)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg17)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg18)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg19)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg20)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg21)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg22)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg23)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg24)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg25)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg26)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg27)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg28)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg29)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg30)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg31)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg32)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg33)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg34)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg35)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg36)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg37)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg38)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg39)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg40)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg41)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg42)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg43)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg44)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg45)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg46)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg47)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg48)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg49)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lg50)
                                            </td>

                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary"><i class="align-middle me-2 fas fa-fw fa-ellipsis-v"></i></button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="visually-hidden">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="@Url.Action("Edit/"+ item.idTblMigracion, "TblMigracions")"><i class="align-middle me-2 fas fa-fw fa-pen"></i> Editar</a></li>
                                                        <li><a class="dropdown-item" href="#" id="eliminarRegisMigra" codigo="@item.idTblMigracion"><i class="align-middle me-2 fas fa-fw fa-trash-alt"></i> Elimnar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function exportReportToExcel() {
        let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
        TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
            name: `Archivo.xlsx`, // fileName you could use any name
            sheet: {
                name: 'Sheet 1' // sheetName
            }
        });
    }
    $(document).ready(function () {
        $("#btnExport").click(function () {
            let table = document.getElementsByTagName("tblMigracion");
            TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                name: `Archivo.xlsx`, // fileName you could use any name
                sheet: {
                    name: 'Sheet 1' // sheetName
                }
            });
        });
    });
    $(document).ready(function () {
        $('#tblMigracion').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });





        $(document).on('click', '#eliminarRegisMigra', function () {
             var codigo = $(this).attr('codigo');
             //alert(codigo);
             Swal.fire({
                    icon: 'warning',
                    title: '¿Estás seguro/a de eliminar a este registro?',
                    showConfirmButton: true,
                    confirmButtonText: 'ELIMINAR',
                    confirmButtonColor: '#3085d6',
                    showCancelButton: true,
                    cancelButtonText: 'CANCELAR',
                    cancelButtonColor: '#d33',
                    buttonsStyling: true,

                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteConfirmed", "TblMigracions")',
                            data: {
                                id: codigo
                            },
                            success: function (response) {

                                if (response.data == "ok") {
                                    toastr.success('Registro eliminado con exito!');
                                    window.location.href = '@Url.Action("Index", "TblMigracions")';
                                }
                                else
                                {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Ocurrio un error al eliminar el contacto',
                                        text: response.data

                                    })
                                }

                            }
                        });
                    }
             });
        });
    });


</script>