@model IEnumerable<iveCincoFrame.Models.TblCertificacionesTecnicos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="container text-center">
                                <h1 class="text-primary" style="color: #0c4899 !important;">Agencias certificadas para la gira No. @ViewBag.numeroGira</h1>
                                <hr />
                            </div>
                            <div class="d-flex justify-content-center justify-content-md-start">
                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "TblCertificacionesTecnicos")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #0c4899 !important;"><i class="align-middle me-2 fas fa-fw fa-plus"></i> Nueva Certificacion</button></div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Region
                                        </th>
                                        <th>
                                            Sucursal
                                        </th>
                                        <th>
                                            Fecha de Creacion
                                        </th>
                                        <th>
                                            Comentarios
                                        </th>
                                        <th>
                                            Usuario Certificaca
                                        </th>


                                        <th>
                                            Estado de la Sucursal
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CatUbicaciones.CatRegiones.descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CatUbicaciones.codigoNombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fechaCreacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.comentarios)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TblUsuarios.usuario)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CatEstadosTecnicos.descripcion)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.idTblCertificacionesTecnicos }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.idTblCertificacionesTecnicos }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.idTblCertificacionesTecnicos })
                                            </td>
                                        </tr>
                                    }
                                </tbody>


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
