@model IEnumerable<iveCincoFrame.Models.Usuarios.RolesLista>
@{
    ViewBag.Title = "Roles";
    Layout = null;
}
<br />
<br />
<table id="tablaRolesActivos" class="table table-bordered table-hover table-striped" style="width:100%">
    <thead class="table-dark">
        <tr>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @{var iterador = 1;}
        @foreach (var item in Model)
        {

            <tr>

                <td class="d-none">
                    @Html.DisplayFor(modelItem => item.IdRol)
                </td>
                <td>@iterador</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success Accesos" codigo="@item.IdRol"><span><i class="align-middle me-2 fas fa-fw fa-lock"></i></span>Accesos</button>
                        <button type="button" class="btn btn-danger eliminarRol" codigoRol="@item.IdRol"><span><i class="align-middle me-2 fas fa-fw fa-trash-alt"></i></span>Eliminar</button>
                    </div>
                </td>
            </tr>
            iterador++;
        }
    </tbody>
</table>

<script>


    $(document).ready(function () {
        $('#tablaRolesActivos').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });
    });

</script>


