@model iveCincoFrame.Models.CatDestinatariosCorreos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CatDestinatariosCorreos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios1.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios1.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatEstados.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatEstados.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatOpciones.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatOpciones.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCatDestinatariosCorreos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
