@model iveCincoFrame.Models.TblConvivioImagenes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/uploadfile2.css" rel="stylesheet" />
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            @using (Html.BeginForm())
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <div class="my-3">
                                                <div class="container text-center">
                                                    <h1 class="text-primary" style="color: #0c4899 !important;">Carga de Fotografías</h1>
                                                    <hr />
                                                </div>
                                                <div class="row gx-3 mb-3 d-none">
                                                    <!-- Form Group (organization name)-->
                                                    <div class="col-md-4">
                                                        @Html.Label("Archivo", new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger m-2" })
                                                    </div>
                                                    <!-- Form Group (organization name)-->
                                                </div>
                                                @Html.Partial("_MensajeParcial")
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12 col-sm-12">
                                                            <div class="table-responsive">

                                                                <center><div id="fotografiaseguimiento">Subir Archivo</div></center>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                                                    <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Compartir</button>
                                                    <button type="button" id="cancelar-imagen" class="btn btn-outline-danger btn-lg px-4">Cancelar</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.uploadfile.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

         $("#fotografiaseguimiento").uploadFile({
            url:'@Url.Action("UploadFiles", "CargaDeArchivos")',
            multiple:false,
            fileName:"file",
            maxFileSize: 21048500,
            formData: {
                "id_cat_tipos_archivos":4,
            },
            showProgress: true,
            afterUploadAll:function(dato)
            {
               // location.reload();
                //console.log(dato.responses[0]);
                //alert("ARCHIVO CARGADO CON EXITO");
                $('#archivo').val(dato.responses[0]);
                $('#nombre').val(dato.responses[0]);

            }
         });


        $(document).on('click', '#cancelar-imagen', function () {
            Swal.fire({
                title: 'Cancelar Fotografia?',
                text: "Al aceptar cancelaras la subida de la imagen",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#153d77',
                cancelButtonColor: '#ff5f52',
                confirmButtonText: 'Si'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.reload();
                }
            })
        });

    });
</script>
