@model IEnumerable<iveCincoFrame.Models.TblConvivioImagenes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">

                            <table class="table">
                                <tr>
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Usuario Modifica
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>Acciones</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a class="text-center" target="_blank" href="~/ArchivosIntranet/4/@Html.DisplayFor(modelItem => item.nombre)">
                                                <img src="~/ArchivosIntranet/4/@Html.DisplayFor(modelItem => item.nombre)" class="img-fluid" alt="imagen" width="70">
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.idTblUsuarioModifica)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatEstados.descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.idTblConvivioImagenes }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.idTblConvivioImagenes }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.idTblConvivioImagenes })
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>