@model IEnumerable<iveCincoFrame.Models.Tableros.Asignaciones.MesDto>

<div class="col-12 col-lg-12">
    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills mb-3 bg-light" id="pills-tab" role="tablist">
            @foreach (var item in Model)
            {
                <li class="nav-item" role="presentation">
                    <button class="indicador nav-link @item.Activo" id="@item.IdCatMeses" codigoNavBar="@item.IdCatMeses" data-bs-toggle="pill" data-bs-target="@item.Target" type="button" role="tab" aria-controls="pills-Enero" aria-selected="@item.Seleccionado">@item.Descripcion</button>
                </li>

            }
        </ul>
    </div>


    @foreach (var item in Model)
    {
        <div class="tab-content" id="@item.IdCatMeses">
            <div class="content-indicador tab-pane fade @item.Mostrar" id="@item.IdCatMeses" role="tabpanel" aria-labelledby="pills-home-tab">

            </div>
        </div>
    }
</div>

<!--Las acciones de esta parcial view estan en el edit de tblAsignaciones -->
