@model iveCincoFrame.Models.CatTipificacionProductos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="row">
                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "CatTipificacionProductos")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);"><i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-left"></i></button></div>
                                <div class="card-actions bg-warning-dark text-white"><i class="align-middle me-2 fas fa-fw fa-plus-circle"></i> Editar Tipificacion</div>
                                <div class="col-xl-12 card" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                                    <div class="card-body">

                                        <h3>Detalles de la tipificacion</h3>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.Partial("_MensajeParcial")
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.idCatTipificacionProductos)

                                            <!-- Form Row-->
                                            <div class="row gx-3">

                                                <div class="col-md-12">
                                                    @Html.Label("Nombre de la Tipificacion", new { @class = "form-label" })
                                                    @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @rows = "3", @placeholder = "Nombre de la Tipificacion" })
                                                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger mt-2" })

                                                </div>
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-12">
                                                    @Html.Label("Estado", new { @class = "form-label" })
                                                    @Html.DropDownList("idCatEstados", null, htmlAttributes: new { @class = "form-select" })
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <button type="submit" value="Create" class="btn btn-primary"><i class="align-middle me-2 fas fa-fw fa-check"></i> Guardar Registro</button>
                                            </div>
                                        }
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


