@model IEnumerable<iveCincoFrame.Models.TblUniversales>
<h1>Listado de transacciones Seguros Universales</h1>
<table class="table" id="tbl-transacciones">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuarioNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.igualAseguradoContratante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codContactoContratante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idFrecuencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idModalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipoCobro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroRecibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.segundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.otroNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoCasada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documentoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.solicitaContratante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioEmisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicioVigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFinVigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaTransac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.respuestaDelServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDeclaracion.respuesta1)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.metodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.igualAseguradoContratante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codContactoContratante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.agencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idFrecuencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idModalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoCobro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plazo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroRecibo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primerNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.otroNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoCasada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.profesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoCivil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.documentoIdentificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.solicitaContratante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioEmisor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicioVigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFinVigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaTransac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.respuestaDelServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblDeclaracion.respuesta1)
                </td>
            </tr>
        }
    </tbody>


</table>



<script>
    $(document).ready(function () {
        $('#tbl-transacciones').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });
    });

</script>
